<div class="form-group">
	<label for="bank_name" class="col-md-2">Name of bank</label>
	<div class="col-md-4">
		<input type="text" name="bank_name" class="form-control ng-class:{'error-input': australiaBankInformationCtrl.has_error(australiaBankInformationCtrl.form, australiaBankInformationCtrl.form.bank_name)}" ng-model="australiaBankInformationCtrl.bankInformation.bank_name" required>
	</div>
</div>
<div class="form-group">
	<label for="bsb_code" class="col-md-2">BSB Code</label>
	<div class="col-md-5">
		<input type="text" name="bsb_code" class="form-control ng-class:{'error-input': australiaBankInformationCtrl.has_error(australiaBankInformationCtrl.form, australiaBankInformationCtrl.form.bsb_code)}" ng-model="australiaBankInformationCtrl.bankInformation.bsb_code" required>
	</div>
	<div class="col-md-5">
		<show-billing-errors errors="australiaBankInformationCtrl.errors" field="bsb_code"></show-bank-errors>
	</div>
</div>
<div class="form-group">
	<label for="account_number" class="col-md-2">Account number</label>
	<div class="col-md-5">
		<input type="text" name="account_number" class="form-control ng-class:{'error-input': australiaBankInformationCtrl.has_error(australiaBankInformationCtrl.form, australiaBankInformationCtrl.form.account_number)}" ng-model="australiaBankInformationCtrl.bankInformation.account_number" required>
	</div>
</div>
<div class="form-group">
	<label for="swift_bic" class="col-md-2">Swift / BIC</label>
	<div class="col-md-5">
		<input type="text" name="swift_bic" class="form-control ng-class:{'error-input': australiaBankInformationCtrl.has_error(australiaBankInformationCtrl.form, australiaBankInformationCtrl.form.swift_bic)}" ng-model="australiaBankInformationCtrl.bankInformation.swift_bic" required>
	</div>
	<div class="col-md-5">
		<show-billing-errors errors="australiaBankInformationCtrl.errors" field="swift_bic"></show-bank-errors>
	</div>
</div>