// ==========================================================================
// Base Styles
// ==========================================================================
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
html{
    background-color: $background_grey;
}
body{
    font-family: $font-family--primary;
    background-color: $black;
}
h2{
    font-family: $font-family--title;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 45px;
    display: inline-block;
    padding: 0;
    margin: 0 0 10px;
}
h3{
    font-family: $font-family--title;
    text-align: center;
    text-transform: uppercase;
    color: $light_grey;
    font-size: 50px;
    letter-spacing: 4px;
}
.section-title{
    color: $white;
    font: 18px $font-family--bold;
    border-bottom: 4px solid $red;
    padding: 20px 0 5px;
    margin: 0 0 20px 3px;
    display: inline-block;
}
ul{
    padding:0;
    li{
        list-style: none!important;
    }
}
.no-border{
    border: 0!important;
}
.no-b-r{
    border-right: none!important;
    &:hover{
        border-right: none!important;
    }
}
.disabled-link{
       color: $light_grey;
       pointer-events: none;
       cursor: default;
       border: none;
}
.bold{
	font-family:$font-family--bold;
}
.error-text {
    color: $violet !important;
}
.relative{
	position: relative;
}
/* Dont display dropable zone on dragg and drop */
.dndDraggingSource {
    display: none;
}
a, a:hover, a:focus{text-decoration: none;}

//Include Fonts
@include font-face('Univers Condensed', UniversLT-Condensed);
@include font-face('Univers Condensed Light', UniversLT-Condensed-Light);
@include font-face('Univers Ultra Condensed', UniversLT-Ultra-Condensed);
@include font-face('Univers Light Ultra Condensed', UniversLT-Light-Ultracondensed);
@include font-face('Univers Thin Ultra Condensed', UniversLT-Thin-Ultracondensed);
@include font-face('Univers Bold Condensed', UniversLT-Bold-Condensed);
@include font-face('Glyphicons Halflings Regular', glyphicons-halflings-regular);