// ==========================================================================
// Positions
// ==========================================================================
.auto-center{
	margin: 0 auto!important;
	display: block;
}
.text-center{
	text-align: center;
}
.blockify{
	width: 100%;
	float: left;
}
.relativize-me{
	position: relative;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.mt-0{
    margin-top: 0!important;
}
.mt-5{
	margin-top: 5px!important;
}
.mt-10{
	margin-top: 10px!important;
}
.mt-20{
	margin-top: 20px!important;
}
.mt-30{
	margin-top: 30px!important;
}
.mt-40{
	margin-top: 40px;
}
.mt-60{
	margin-top: 60px;
}
.mt-50{
	margin-top: 50px;
}
.mb-100{
	margin-bottom: 100px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-40{
	margin-bottom: 40px!important;
}
.mr-0{
	margin-right: 0!important;
}
.mr-10{
	margin-right: 10px;
}
.mr-15{
	margin-right: 15px;
}
.ml-0{
	margin-left: 0!important;
}
.ml-10{
	margin-left: 10px;
}
.ml-15{
	margin-left: 15px;
}
.ml-30{
	margin-left: 30px;
}
.pt-0{
	padding-top:0!important;
}
.pt-15{
	padding-top:15px!important;
}
.pt-40{
	padding-top:40px!important;
}
.pl-0{
	padding-left:0!important;
}
.pl-5{
	padding-left:5!important;
}
.pl-10{
	padding-left:10!important;
}
.pl-15{
	padding-left:15px!important;
}
.no-pad-r{
	padding-right: 0!important;
}
.no-mar{
	margin:0!important;
}
.no-pad{
	padding:0!important;
}
.no-pad-left{
	padding-left:0!important;
}