<div class="card">
	<span class="title">3/ Variations &amp; Manufacturing</span>
	<form name="productVariationsCtrl.form" novalidate>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
			<span class="title">Work Options</span>
			</div>
			<div ng-repeat="tag in productVariationsCtrl.tags_for_work | orderBy:[productVariationsCtrl.tagComparator]">
				<div class="row items-row" ng-if="tag.n_options > 0" ng-cloak>
					<div class="col-md-4">
						<label data-ng-for="{{tag.name}}" ng-bind="tag.name"></label>
						<span class="optional-text block-0" ng-if="!tag.required">OPTIONAL</span>
					</div>
					<div class="mb-20 col-md-8 ng-class:{'col-md-offset-4': $index > 0}" ng-repeat="item in productVariationsCtrl.product.options[tag.id] track by $index">
						<span>{{$index+1}}:&nbsp;</span>
						<ol class="nya-bs-select" ng-model="productVariationsCtrl.product.options[tag.id][$index]" multiple>
							<li nya-bs-option="option in tag.options" data-value="option.value" deep-watch="true" class="ng-class:{'disabled': productVariationsCtrl.product.options[tag.id][$index].length >= tag.n_options}">
								<a><span ng-bind="option.text['en-US']"></span><span class="glyphicon glyphicon-ok check-mark"></span></a>
							</li>
						</ol>
						<span class="glyphicon glyphicon-remove close-row" ng-if="productVariationsCtrl.product.options[tag.id].length > 1" ng-click="productVariationsCtrl.deleteOption(tag.id, $index)"></span>
					</div>
					<div class="col-md-8 col-md-offset-4">
						<span class="add-cathegory" ng-click="productVariationsCtrl.product.options[tag.id].push([])">+ Add another option</span>
					</div>
				</div>
			</div>
		
		</div>
		<div class="col-md-6">
			<span class="title">Manufacturing information</span>
			<div class="form-group">
				<div class="row">
					<div class="col-md-4 pad-about">
						<span>Is this product in pre-order?</span>
					</div>
					<div class="col-md-8 pad-about">
						<div class="radio radio-inline ml-30">
							<input type="radio" name="preorder_selected" id="preorder_selected" ng-model="productVariationsCtrl.preorder_selected" ng-value="true" ng-change="productVariationsCtrl.setPreorder(productVariationsCtrl.preorder_selected)">
							<label for="preorder_selected">
								Yes
							</label>
						</div>
						<div class="radio radio-inline">
							<input type="radio" name="preorder_unselected" id="preorder_unselected" ng-model="productVariationsCtrl.preorder_selected" ng-value="false" checked ng-change="productVariationsCtrl.setPreorder(productVariationsCtrl.preorder_selected)">
							<label for="preorder_unselected">
								No
							</label>
						</div>
					</div>
					<div class="mt-50" ng-if="productVariationsCtrl.preorder_selected">
						<div class="row mt-20">
							<div class="col-md-6">
								<p class="manufacturing-question">When will the pre-order period end?</p>
								<p class="manufacturing-answer">When the pre-order is over, you will be reminded to update the stock of the product.</p>
							</div>
							<div class="col-md-6">
								<div class="dropdown log" ng-if="!productVariationsCtrl.product.preorder.end">
									<a href="#" data-target="#" class="dropdown-toggle-preorder" id="preorderEnd" role="button" data-toggle="dropdown">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="preorderEnd">
										<datetimepicker data-ng-model="productVariationsCtrl.preorder_end_data" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle-preorder', startView:'day', minView:'day'}" data-on-set-time="productVariationsCtrl.setPreorderEnd(newDate, oldDate)"></datetimepicker>
									</ul>
								</div>
								<div ng-if="productVariationsCtrl.product.preorder.end">
									<p class="date-variations">{{productVariationsCtrl.product.preorder.end | date: 'MMM dd yyyy'}}</p>
									<div class="dropdown">
										<a href="#" data-target="#" class="dropdown-toggle-preorder red-text" id="preorderEnd" role="button" data-toggle="dropdown"><span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>Change date</span></a>
										<ul class="dropdown-menu" role="menu" aria-labelledby="preorderEnd">
											<datetimepicker data-ng-model="productVariationsCtrl.preorder_data" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle-preorder', startView:'day', minView:'day'}" data-on-set-time="productVariationsCtrl.setPreorderEnd(newDate, oldDate)"></datetimepicker>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<p class="manufacturing-question">When will the product be shipped?</p>
							</div>
							<div class="col-md-6">
								<div class="dropdown log" ng-if="!productVariationsCtrl.product.preorder.ship">
									<a href="#" data-target="#" class="dropdown-toggle-preorder-ship" id="preorderShip" role="button" data-toggle="dropdown">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</a>
									<ul class="dropdown-menu" role="menu" aria-labbeledby="preorderShip">
										<datetimepicker data-ng-model="productVariationsCtrl.preorder_ship_data" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle-preorder-ship', startView: 'day', minView: 'day'}" data-on-set-time="productVariationsCtrl.setPreorderShip(newDate, oldDate)"></datetimepicker>
									</ul>
								</div>
								<div ng-if="productVariationsCtrl.product.preorder.ship">
									<p class="date-variations">{{productVariationsCtrl.product.preorder.ship | date: 'MMM dd yyyy'}}</p>
									<div class="dropdown">
										<a href="#" data-target="#" class="dropdown-toggle-preorder-ship red-text" id="preorderShip" role="button" data-toggle="dropdown">
											<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>Change date</span>
										</a>
										<ul class="dropdown-menu" role="menu" arialabelledby="preorderShip">
											<datetimepicker data-ng-model="productVariationsCtrl.preorder_ship_data" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle-preorder-ship', startView: 'day', minView: 'day'}" data-on-set-time="productVariationsCtrl.setPreorderShip(newDate, oldDate)"></datetimepicker>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 pad-about">
					<span>Is this a made-to-order product?</span>
				</div>
				<div class="col-md-8 pad-about">
					<div class="radio radio-inline ml-30">
						<input type="radio" name="made_to_order_selected" id="made_to_order_selected" ng-model="productVariationsCtrl.made_to_order_selected" ng-value="true" ng-change="productVariationsCtrl.setMadeToOrder(productVariationsCtrl.made_to_order_selected)">
						<label for="made_to_order_selected">
							Yes
						</label>
					</div>
					<div class="radio radio-inline">
						<input type="radio" name="made_to_order_unselected" id="made_to_order_unselected" ng-model="productVariationsCtrl.made_to_order_selected" ng-value="false" checked ng-change="productVariationsCtrl.setMadeToOrder(productVariationsCtrl.made_to_order_selected)">
						<label for="made_to_order_unselected">
							No
						</label>
					</div>
				</div>
				<div class="mt-50" ng-if="productVariationsCtrl.made_to_order_selected" ng-cloak>
					<div class="col-md-2">
						<input type="number" name="madetoorder" class="form-control rounded-number-input col-md-1" ng-model="productVariationsCtrl.product['madetoorder'].value" ng-min="0" ng-required="true">
					</div>
					<label class="little-label-number" for="madetoorder">days needed to manufacture this work</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 pad-about">
					<span>Is this a bespoke product?</span>
				</div>
				<div class="col-md-8 pad-about">
					<div class="radio radio-inline ml-30">
						<input type="radio" name="bespoke_selected" id="bespoke_selected" value="bespoke_selected" ng-model="productVariationsCtrl.bespoke_selected" ng-value="true">
						<label for="bespoke_selected">
							YES
						</label>
					</div>
					<div class="radio radio-inline">
						<input type="radio" name="bespoke_unselected" id="bespoke_unselected" value="bespoke_unselected" ng-model="productVariationsCtrl.bespoke_selected" ng-value="false" checked>
						<label for="bespoke_unselected">
							NO
						</label>
					</div>
				</div>
				<div class="mt-50 bespoke-wraper" ng-if="productVariationsCtrl.bespoke_selected" ng-cloak>
					<p>What information do you need from the customer before manufacturing this work?</p>
					<ol class="nya-bs-select about-edit-select title-lang-btn manufacturing-lang" ng-model="productVariationsCtrl.bespoke_language">
						<li nya-bs-option="language in productVariationsCtrl.languages" data-value="language.code" deep-watch="true">
							<a href=""><span ng-bind="language.name"></span> <span class="glyphicon glyphicon-ok check-mark"></span></a>
						</li>
					</ol>
					<textarea name="bespoke_text" id="bespoke_text" cols="30" rows="10" class="form-control manufacturing-textarea" ng-model="productVariationsCtrl.product.bespoke[productVariationsCtrl.bespoke_language]"></textarea>
				</div>
			</div>
		</div>
	</div>
	<hr style="height: 2px; color: black">
	<div class="row">
		<div class="col-md-12">
			<div ng-if="productVariationsCtrl.show_sizecharts" ng-cloak>
				<div class="row">
					<span class="title">Sizes</span>
				</div>
				<div class="row">
					<div class="col-md-2">
						<span>Create new size chart</span>
					</div>
					<div class="col-md-8 pad-about">
						<ol class="nya-bs-select" ng-model="productVariationsCtrl.sizechart_helper[$index]" ng-change="productVariationsCtrl.countriesSelect(productVariationsCtrl.sizechart_helper[$index])">
							<li nya-bs-option="sizechart in productVariationsCtrl.sizechart_helper" data-value="sizechart">
								<a><span ng-bind="sizechart.name['en-US']"></span></a>
							</li>
						</ol>
						<ol class="nya-bs-select" ng-model="productVariationsCtrl.countriesAvailable[$index]" ng-if="productVariationsCtrl.countriesAvailable.length > 0" ng-change="productVariationsCtrl.sizesSelect(productVariationsCtrl.sizechart_helper[$index], productVariationsCtrl.countriesAvailable[$index])">
							<li nya-bs-option="country in productVariationsCtrl.countriesAvailable" data-value="country">
								<a><span ng-bind="country"></span></a>
							</li>
						</ol>
					</div>
				</div>
				<div class ="row" >
					<div class="col-md-4">
						<span>OR</span>
					</div>
				</div>
				<div class ="row">
					<div class="col-md-2">
						<span>Use a saved sizechart</span>
					</div>
					<div class="col-md-8 pad-about">
						<ol class="nya-bs-select" ng-model="productVariationsCtrl.deviserSizecharts[$index]" ng-change="productVariationsCtrl.sizesSelect(productVariationsCtrl.deviserSizecharts[$index])">
							<li nya-bs-option="sizecharts in productVariationsCtrl.deviserSizecharts" data-value="sizecharts">
								<a><span ng-bind="sizecharts.name['en-US']"></span></a>
							</li>
						</ol>
					</div>
				</div>
				<div class="row" ng-if="productVariationsCtrl.product.sizechart">
					<div class="col-md-3">
						<span>In which sizes is this work available?</span>
					</div>
					<div class="col-md-3">
						<ol class="nya-bs-select" ng-model="productVariationsCtrl.size_to_add">
							<li nya-bs-option="size in productVariationsCtrl.product.sizechart.values">
								<a><span ng-bind="size[0]"></span></a>
							</li>
						</ol>
						<a href="" ng-click=""><span class="glyphicon glyphicon-plus"></span></a>
					</div>
					<div class="col-md-2">
						<span>What scale are your size in?</span>
					</div>
					<div class="col-md-2">
						<ol class="nya-bs-select" ng-model="productVariationsCtrl.product.sizechart['metric_unit']">
							<li nya-bs-option="size in productVariationsCtrl.metric.size">
								<a><span ng-bind="size"></span></a>
							</li>
						</ol>
					</div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th><span ng-bind="productVariationsCtrl.product.sizechart.country"></span></th>
							<th ng-repeat="column in productVariationsCtrl.product.sizechart.columns"><span ng-bind="column['en-US']"></span></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="line in productVariationsCtrl.product.sizechart.values track by $index">
							<td ng-repeat="value in line track by $index" class="col-md-2">
								<span ng-if="$first" ng-bind="value"></span>
								<input ng-if="!$first" type="number" class="form-control" ng-model="value">&nbsp;<span ng-if="!$first && productVariationsCtrl.product.sizechart.metric_unit" ng-bind="productVariationsCtrl.product.sizechart.metric_unit"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-12" ng-if="productVariationsCtrl.prints" ng-cloak>
				<div class="row">
					<span class="title">Prints</span>
				</div>
				<div class="row">
					<div class="col-md-3 pad-about">
						<span>Do you offer prints of your work?</span>
					</div>
					<div class="col-md-2 pad-about">
						<div class="radio radio-inline ml-30">
							<input type="radio" name="prints_selected" id="prints_selected" ng-model="productVariationsCtrl.prints_selected" ng-value="true" ng-change="productVariationsCtrl.setPrintsSelected(productVariationsCtrl.prints_selected)">
							<label for="prints_selected">
								Yes
							</label>
						</div>
						<div class="radio radio-inline">
							<input type="radio" name="prints_unselected" id="prints_unselected" ng-model="productVariationsCtrl.prints_selected" ng-value="false"  checked ng-change="productVariationsCtrl.setPrintsSelected(productVariationsCtrl.prints_selected">
							<label for="prints_unselected">
								No
							</label>
						</div>
					</div>
				</div>
				<div class="row" ng-if="productVariationsCtrl.prints_selected">
					<div class="row items-row">
						<div class="row">
							<div class="col-md-2">
								<label for="paper">Type of paper</label>
							</div>
							<div class="mb-20 col-md-10 pad-about ng-class:{'col-md-offset-2': $index > 0}" ng-repeat="type in productVariationsCtrl.product.prints.type track by $index">
								<span>{{$index+1}}:&nbsp;</span>
								<ol class="nya-bs-select categories-select col-md-4" ng-model="productVariationsCtrl.product.prints.type[$index]" multiple>
									<li nya-bs-option="paperType in productVariationsCtrl.papertypes" data-value="paperType.type">
										<a href="#">
											<span ng-bind="paperType.name"></span><span class="glyphicon glyphicon-ok check-mark"></span>
										</a>
									</li>
								</ol>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-md-offset-2">
								<span class="add-cathegory" ng-click="productVariationsCtrl.addType()">+ Add another option</span>
							</div>
						</div>
					</div>
					<div class="row items-row">
						<div class="row">
							<div class="mb-20 col-md-2">
								<label for="size">Print size</label>
							</div>
							<div class="col-md-10 pad-about form-inline ng-class:{'col-md-offset-2': $index > 0}" ng-repeat="size in productVariationsCtrl.product.prints.sizes track by $index">
								<span class="pull-left">{{$index+1}}:&nbsp;</span>
								<label for="width" class="col-md-1" style="font-size: 12px;">Width</label><input name="width" type="number" class="form-control col-md-1" ng-model="productVariationsCtrl.product.prints.sizes[$index]['width']">
								<label for="length" class="col-md-1" style="font-size: 12px;">Length</label><input name="length" type="number" class="form-control col-md-1" ng-model="productVariationsCtrl.product.prints.sizes[$index]['length']">
								<ol class="nya-bs-select categories-select col-md-2" ng-model="productVariationsCtrl.product.prints.sizes[$index]['metric_unit']">
									<li nya-bs-option="unit in productVariationsCtrl.metric.size">
										<a href="">
											<span ng-bind="unit"></span>
										</a>
									</li>
								</ol>
								<span class="glyphicon glyphicon-remove close-row" ng-if="productVariationsCtrl.product.prints.sizes.length > 1" ng-click="productVariationsCtrl.deleteSize($index)"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5 col-md-offset-2">
								<span class="add-cathegory" ng-click="productVariationsCtrl.addSize()">+ Add another option</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
</div>
