# dolphin
.directory

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
# sctratch that, we do need it!
#composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

#web assets
web/assets

#web uploads
web/uploads

#tags
.tags

#thumbor cache
thumbor_cache
thumbor_resized

#private scripts to test rest api
test_rest

#sass cache
.sass-cache/

#backups created by mongo sync script
db_backup
db_backup*
