<div class="card">
	<span class="title">4/ Price &amp; Stock</span>
	<table class="table" ng-if="productPriceStockCtrl.product.price_stock.length > 0">
		<thead>
			<tr>
				<th>Variation availability</th>
				<th></th>
				<th>SKU (Optional)</th>
				<th>Weight</th>
				<th>Package dimensions</th>
				<th>Stock</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in productPriceStockCtrl.product.price_stock">
				<td ng-bind="productPriceStockCtrl.titles[$index]"></td>
				<td><input type="checkbox" class="form-control" ng-model="product.available"></td>
				<td></td>
				<td></td>
				<td></td>
				<td>{{product.stock}}</td>
				<td>{{product.price}}</td>
			</tr>
		</tbody>
	</table>
</div>