<div class="our-devisers-wrapper">
	<div class="container">
		<div class="our-boxes-header" ng-if="!exploreBoxesCtrl.hideHeader">
			<h3 translate="discover.EXPLORE_BOXES"></h3>
			<h5 class="text-center" translate="discover.boxes.DISCOVER_LATEST_TRENDS"></h5>
			<div class="row">
				<form name="exploreBoxesCtrl.form">
					<div class="devisers-searcher">
						<input type="text" class="form-control white-rounded-input" name="key" ng-model="exploreBoxesCtrl.key" on-press-enter="exploreBoxesCtrl.search()" placeholder="{{ 'discover.SEARCH_KEYWORD' | translate }}" ng-cloak>
						<span class="ion-search" ng-click="exploreBoxesCtrl.search()"></span>
					</div>
				</form>
			</div>
		</div>
		<div class="our-devisers-body" style="padding-bottom:100px;">
			<div class="hidden-sm hidden-md hidden-lg mt-20" id="filters-xs-container">
				<a href="#filters-xs" data-toggle="collapse" class="row btn btn-red btn-small"><span translate="discover.FILTER"></span></a>
				<div class="collapse" id="filters-xs">
					<explore-boxes-filters filters="exploreBoxesCtrl.filters" searching="exploreBoxesCtrl.searching"></explore-boxes-filters>
				</div>
			</div>
			<div class="hidden-xs col-sm-4 col-md-2">
				<explore-boxes-filters filters="exploreBoxesCtrl.filters" searching="exploreBoxesCtrl.searching"></explore-boxes-filters>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-10">
				<div class="found-header">
					<p ng-if="exploreBoxesCtrl.search_key && (!exploreBoxesCtrl.searching || exploreBoxesCtrl.results.items.length > 0)" ng-cloak translate="discover.WE_FOUND_X_RESULTS_WITH_KEY" translate-values="{ counter: exploreBoxesCtrl.results_found, keys:exploreBoxesCtrl.search_key }"></p>
					<p ng-if="!exploreBoxesCtrl.search_key && (!exploreBoxesCtrl.searching || exploreBoxesCtrl.results.items.length > 0)" ng-cloak translate="discover.WE_FOUND_X_RESULTS" translate-values="{ counter: exploreBoxesCtrl.results_found }"></p>
				</div>
				<explore-boxes-results results="exploreBoxesCtrl.results" ng-if="exploreBoxesCtrl.results && exploreBoxesCtrl.results.items.length > 0" ng-cloak></explore-boxes-results>
				<div class="mt-20 tdvs-loading" ng-if="exploreBoxesCtrl.searching && exploreBoxesCtrl.results.items.length == 0" ng-cloak>
					<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				</div>
				<div class="text-center col-md-12 mt-30" ng-if="exploreBoxesCtrl.results_found > exploreBoxesCtrl.results.items.length && (!exploreBoxesCtrl.searching || exploreBoxesCtrl.results.items.length > 0)" ng-cloak >
					<button class="btn btn-small btn-black-line" ng-click="exploreBoxesCtrl.searchMore()" ng-disabled="exploreBoxesCtrl.searching">
						<span translate="discover.SEE_MORE" ng-if="!exploreBoxesCtrl.searching"></span>
						<i class="fa fa-spinner fa-pulse fa-3x fa-fw small" ng-if="exploreBoxesCtrl.searching"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
