<div class="edit-faq-wrapper">
	<div class="edit-faq-panel">
		<div class="faq-language-menu">
			<ol class="nya-bs-select form-control" ng-model="storyTextComponentCtrl.languageSelected" ng-change="storyTextComponentCtrl.parseText(storyTextComponentCtrl.component.items)">
				<li nya-bs-option="language in storyTextComponentCtrl.languages" data-value="language.code" deep-watch="true" ng-init="storyTextComponentCtrl.languageSelected='en-US'" class="ng-class:{'lang-selected': storyTextComponentCtrl.isLanguageOk(language.code)}">
					<a href="">
						<span ng-bind="language.name"></span>
						<span class="glyphicon glyphicon-ok ok-white-icon pull-right" ng-if="storyTextComponentCtrl.isLanguageOk(language.code, storyTextComponentCtrl.component.items)"></span>
					</a>
				</li>
			</ol>
			<div class="faq-row">
				<div class="col-sm-1">
					<span class="faq-edit-question">Text</span>
				</div>
				<div class="col-md-11">
					<div text-angular ng-model="storyTextComponentCtrl.component.items[storyTextComponentCtrl.languageSelected]" ng-cloak ta-toolbar="[]" placeholder="Text" ta-paste="editAboutCtrl.stripHTMLTags($html)"></div>
				</div>
			</div>
		</div>
	</div>
</div>