<div class="edit-faq-wrapper">
	<div class="edit-faq-panel">
		<div class="faq-language-menu">
			<ol class="nya-bs-select form-control" ng-model="storyTextComponentCtrl.languageSelected" ng-change="storyTextComponentCtrl.parseText(storyTextComponentCtrl.component.items)">
				<li nya-bs-option="language in storyTextComponentCtrl.languages" data-value="language.code" deep-watch="true" ng-init="storyTextComponentCtrl.languageSelected='en-US'" class="ng-class:{'lang-selected': storyTextComponentCtrl.isLanguageOk(language.code)}">
					<a href="">
						<span ng-bind="language.name"></span>
						<span class="glyphicon glyphicon-ok ok-white-icon pull-right" ng-if="storyTextComponentCtrl.isLanguageOk(language.code)"></span>
					</a>
				</li>
			</ol>
			<div class="faq-row">
				<div class="col-md-12">
					<div class="faq-edit-answer" text-angular ng-model="storyTextComponentCtrl.component.items[storyTextComponentCtrl.languageSelected]" ng-cloak ta-toolbar="[]" translate-attr="{placeholder: 'TEXT'}" ta-paste="storyTextComponentCtrl.stripHTMLTags($html)"></div>
				</div>
			</div>
		</div>
	</div>
</div>