<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalEditBoxCtrl.dismiss()">
		<span class="ion-ios-close" aria-hidden="true"></span>
	</button>
	<h3>Edit box</h3>
</div>
<div class="modal-body">
	<form name="modalEditBoxCtrl.form">
		<input type="text" name="name" placeholder="Name of the box" ng-model="modalEditBoxCtrl.box.name" class="form-control white-rounded-input" required>
		<textarea name="description" cols="30" rows="10" placeholder="Description" ng-model="modalEditBoxCtrl.box.description" class="form-control white-rounded-textbox"></textarea>
	</form>
	<div class="text-center">
		<button class="btn btn-default btn-cancel" ng-click="modalEditBoxCtrl.dismiss()">Cancel</button>
		<button class="btn btn-green green-modal-btn" ng-click="modalEditBoxCtrl.saveBox(modalEditBoxCtrl.form)">Apply changes</button>
	</div>
</div>