<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalEditBoxCtrl.dismiss()">
		<span class="ion-android-close" aria-hidden="true"></span>
	</button>
	<h3><span translate="EDIT_BOX"></span></h3>
</div>
<div class="modal-body">
	<form name="modalEditBoxCtrl.form" novalidate>
		<input type="text" name="box_name" translate-attr="{placeholder: 'NAME_BOX'}" ng-model="modalEditBoxCtrl.box.name" class="form-control white-rounded-input ng-class:{'error-input': modalEditBoxCtrl.has_error(modalEditBoxCtrl.form, modalEditBoxCtrl.form.box_name)}" required>
		<form-errors field="modalEditBoxCtrl.form.box_name" condition="modalEditBoxCtrl.has_error(modalEditBoxCtrl.form, modalEditBoxCtrl.form.box_name)"></form-errors>
		<textarea name="box_description" cols="30" rows="10" translate-attr="{placeholder: 'DESCRIPTION'}" ng-model="modalEditBoxCtrl.box.description" class="form-control white-rounded-textbox ng-class:{'error-input': modalEditBoxCtrl.has_error(modalEditBoxCtrl.form, modalEditBoxCtrl.form.box_description)}"></textarea>
		<form-errors field="modalEditBoxCtrl.form.box_description" condition="modalEditBoxCtrl.has_error(modalEditBoxCtrl.form, modalEditBoxCtrl.form.box_description)"></form-errors>
	</form>
	<div class="text-center">
		<button class="btn btn-default btn-cancel" ng-click="modalEditBoxCtrl.dismiss()"><span translate="CANCEL"></span></button>
		<button id="btn_create_box_popup" class="btn btn-red" ng-click="modalEditBoxCtrl.saveBox(modalEditBoxCtrl.form)"><span translate="boxes.edit.APPLY_CHANGES"></span></button>
	</div>
</div>