<div class="tag-component-wrapper">
	<h5 class="stories-title"><span translate="person.stories.TAGS"></span></h5>
	<div>
		<ol class="nya-bs-select form-control about-edit-select tag-component-lang" ng-model="storyTagComponentCtrl.languageSelected">
			<li nya-bs-option="language in storyTagComponentCtrl.languages" data-value="language.code" deep-watch="true" ng-init="storyTagComponentCtrl.languageSelected='es-ES'">
				<a href="">
					<span ng-bind="language.name"></span>
				</a>
			</li>
		</ol>
		<tags-input min-length="2" ng-model="storyTagComponentCtrl.tags[storyTagComponentCtrl.languageSelected]" on-tag-added="storyTagComponentCtrl.addTag($tag, storyTagComponentCtrl.languageSelected)" on-tag-removed="storyTagComponentCtrl.removeTag($tag)"></tags-input>
	</div>
</div>