<div class="create-stories-wrapper">
	<div class="inner-wrapper">
		<div class="devisers-works-wrapper mr-15">
			<div class="devisers-works-header">
				<span class="title">Deviser</span>
				<span class="works-link" ng-click="storyWorkComponentCtrl.getDeviserWorks(storyWorkComponentCtrl.person_id)">Your works</span>
			</div>
			<div class="devisers-works-searcher">
				<i class="fa fa-search icon-magnifier" aria-hidden="true"></i>
				<form name="storyWorkComponentCtrl.search_deviser_form">
					<input type="text" ng-model="storyWorkComponentCtrl.search_deviser_key" class="form-control white-rounded-input" placeholder="Search" on-press-enter="storyWorkComponentCtrl.searchDeviser(storyWorkComponentCtrl.search_deviser_form)">
				</form>
			</div>
			<div class="deviser-works-list">
				<div class="deviser-works-item" ng-repeat="deviser in storyWorkComponentCtrl.devisers" ng-click="storyWorkComponentCtrl.getDeviserWorks(deviser.id)">
					<img ng-src="{{deviser.url_avatar}}" ng-attr-alt="deviser.personal_info.brand_name" ng-attr-title="deviser.personal_info.brand_name">
					<span ng-bind="deviser.personal_info.brand_name"></span>
				</div>
			</div>
		</div>
		<div class="devisers-works-wrapper">
			<div class="devisers-works-header">
				<span class="title">Works</span>
			</div>
			<div class="deviser-works-list works">
				<div class="deviser-works-item" ng-repeat="work in storyWorkComponentCtrl.works" ng-click="storyWorkComponentCtrl.setWork(work)">
					<div class="item-cover">
						<img ng-src="{{work.main_photo}}" ng-attr-alt="work.name" ng-attr-title="work.name">
					</div>
					<span class="cover" ng-bind="work.name"></span>
					<i class="fa fa-minus-circle minus-icon" aria-hidden="true" ng-if="storyWorkComponentCtrl.findWorkInItems(work.id) > -1"></i>
				</div>
			</div>
		</div>


		<div class="devisers-works-photos-row row">
			<div ui-sortable ng-model="storyWorkComponentCtrl.works_helper">
				<div class="photo col-md-4" ng-if="storyWorkComponentCtrl.works_helper.length > 0" ng-repeat="work in storyWorkComponentCtrl.works_helper">
					<move-delete-component array="storyWorkComponentCtrl.works_helper" position="$index">
						<img ng-src="{{work.main_photo}}" ng-attr-alt="work.name" ng-attr-title="work.name" style="width: 200px;">
						<span class="photo-title" ng-bind="work.name"></span>
					</move-delete-component>
				</div>
			</div>
		</div>
	</div>
</div>
