<div>
	<p>Deviser <span class="pull-rigth" ng-click="storyWorkComponentCtrl.getDeviserWorks(storyWorkComponentCtrl.person_id)">Your works</span></p>
	<form name="storyWorkComponentCtrl.search_deviser_form">
		<input type="text" ng-model="storyWorkComponentCtrl.search_deviser_key" class="form-control" placeholder="Search">
	</form>
	<div class="pull-left" style="width: 400px; height: 400px; overflow-y: scroll;">
		<div ng-repeat="deviser in storyWorkComponentCtrl.devisers" ng-click="storyWorkComponentCtrl.getDeviserWorks(deviser.id)">
			<img style="width: 50px;" ng-src="{{deviser.url_avatar}}" ng-attr-alt="deviser.personal_info.brand_name" ng-attr-title="deviser.personal_info.brand_name">
			<span ng-bind="deviser.personal_info.brand_name"></span>
		</div>
	</div>
	<div class="pull-left" style="width: 400px; height: 400px; overflow-y: scroll;">
		<div ng-repeat="work in storyWorkComponentCtrl.works" ng-click="storyWorkComponentCtrl.setWork(work.id)">
			<img style="width: 50px;" ng-src="{{work.main_photo}}" ng-attr-alt="work.name" ng-attr-title="work.name">
			<span ng-bind="work.name"></span>
		</div>
	</div>
</div>