.contact-left, .contact-right, .contact-down-left,
.contact-down-center, .contact-down-right{
	width: 100%;
}

.contact-down-left, .contact-down-center, .contact-down-right{
	min-height: 261px;
	padding: 40px;
}

.contact-left-top{
	min-height: 153px;
}

.contact-left-bottom{
	padding: 40px;
}

.dropdown button, .form-group input, .form-group select{
	width: 100%;
	height: 38px;
	margin-bottom: 14px;
	display: flex;
	flex-grow: 1;
	outline: none;
	text-transform: uppercase;
	padding: 5px 35px 5px 17px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.05);
	border: solid 1px #6d6d6d;
	color: #ffffff;
}


}

.form-group textarea{
	border-radius: 20px;
}

.question{
	cursor: pointer;
}

.question-content, .answer{
	margin-bottom: 20px;
}

.answer{
	color: #2e2e2e;
}

.send_button_content{
	text-align: center;
}

.contact .link_btn, .contact .link_btn_white{
	border: 1px solid #bfbfbf;
	padding: 9px 16px 6px 16px;
	border-radius: 8px;
}

.contact .link_btn{
	color: #6b6b6b;
}

.contact .link_btn_white{
	color: #fff;
}

.contact .link_btn:hover{
	background-color: #e6e6e6;
}

.send_button{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	padding-left: 17px;

}

.send_button:hover{
	background-color: #f7284b;
	color: #fff;
}

.faqs{
	text-align: center;
}

/**** CSS FOR DROPDOWN ONLY ****/
.dropbtn {
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: rgba(255, 255, 255, 0.95);
}

.dropdown-content a {
	color: #9b9b9b;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropbtn {
	background-color: #f1f1f1;
}

/**** END CSS FOR DROPDOWN ****/



.become{
	background-image: url('/imgs/become_a_deviser_background.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding-bottom: 59%;

}

.justview{
	/*width: 1105px;*/
	width: 100%;
}

.row-one{
	padding-top: 20%;

}

.row-one-right{
	text-align: center;
	margin-right: 28%;

}

.row-three{
	padding-top: 20%;
}

.row-two{
	padding-top: 20%;
}

.row-four {
	position: absolute;
	bottom: 6%;
	text-align: center;
	width: 100%;
}

.row-four-left{
	width: 40%;
}

.row-four-right{
	width: 100%;
	text-align: center;
}

.row-five{
	width: 100%;
	margin-top: 80px;
}

.grown-text{
	max-width: 268px;
}

.grown-text .par {
	margin-bottom: 10px;
}

.grown-text .par:last-child{
	width: 200px;
}

.row-four .text{
	width: 553px;
	margin-left: auto;
	margin-right: auto;
}

.formcontent{
	margin-top: 38px;
	width: 569px;
	padding-bottom: 50px;
}

.allspace{
	width: 100%;
}

.whyinvitation{
	text-align: center;
	width: 254px;
}

.form-become{
	width: 100%;
}

.form-grouped, .form-groupedright{
	width: 47%;
}

.form-title{
	border-top: 1px solid #2e2e2e;
	margin-bottom: 10px;
}

.form-title span{
	position: relative;
	top: -7px;
	padding-right: 9px;
}

.form-personal{
	margin-bottom: 34px;
}

.form-optional-content {
	position: relative;
	height: 0px;
}

.form-optional{
	position: relative;
	top: 12px;
	right: 10px;
	text-align: right;
	color: #7aaa4a;
}

.form-become .field-become-brand input,
.form-become .field-become-phone input{
	padding-right: 54px;
}

.form-add-new{
	margin-top: -10px;
	margin-left: 20px;
	margin-bottom: 8px;
	cursor: pointer;
}

.formcontent input::-webkit-input-placeholder {
	color: #fff;
}

.formcontent  input::-moz-placeholder {
	color: #fff;
}
