html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.wrapper {
	height: 100vh;
}

.body-content {
	overflow: auto;
	position: relative;
}

.main {
	flex: 1 0 auto;
}

.icon-content{
background-color: #fff;
	border-radius: 19px 19px 19px 19px;
	overflow: hidden;
	width: 23px;
	height: 23px;
	text-align: center;
	margin-left: 8px;
}

.connectd_holder{
	margin-top: 30px;
	text-align: right;
}

 i.icon-facebook, i.icon-twitter, i.icon-googleplus, i.icon-pinterest{
	margin-top: 5px;
	color: #000;
	background-color: #fff;
	font-size: 13px;
	text-align: center;
	line-height: 27px;
}

 i.icon-facebook:hover, i.icon-twitter:hover, i.icon-googleplus:hover, i.icon-pinterest:hover{

}
