.main .carousel,
.main .carousel .carousel-inner,
.main .carousel .carousel-inner .item {
	height: calc(100vh - 100px);
}

.main .carousel .carousel-inner .item {
	filter: grayscale(90%);
	-webkit-filter: grayscale(90%);
	-moz-filter: grayscale(90%);
	width: 100%;
}

.main .carousel .carousel-inner .item img {
	object-position: 0% 0%;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.main .carousel .carousel-inner .item .carousel-caption {
	top: 30%;
	right: 10%;
	left: initial;
	bottom: 45%;
	text-shadow: none;
	padding: 0;
	cursor: default;
}

.main .carousel .carousel-inner .item .carousel-caption .name {
	line-height: 100%;
	display: inline-flex;
	margin: 0 auto;
	margin-bottom: -0.2em;
}

.main .carousel .carousel-inner .item .carousel-caption .category {
	margin: 10px 0;
}

.main .carousel .carousel-inner .item .carousel-caption .works {
	border-radius: 7px;
	padding: 10px 27px;
	align-self: center;
}

.main .carousel .carousel-control {
	background-image: none;
	width: 5%;
}

.main .carousel .glyphicon-menu-left,
.main .carousel .glyphicon-menu-right {
	position: absolute;
	top: 35%;
	font-size: 30px;
}

.main .carousel .glyphicon-menu-left {
	left: 10px;
}

.main .carousel .glyphicon-menu-right {
	right: 10px;
}

.main .banner_holder .devisers_holder {
	height: 40%;
	min-height: 200px;
	max-height: 270px;
	bottom: -1px; /* fix weird 1px bottom margin */
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(220, 220, 220, 0.0), #dcdcdc);
}

.main .banner_holder .devisers_holder .background {
	opacity: 0.5;
	height: 100%;
}

.main .banner_holder .devisers_holder .devisers {
	height: 100%;
	width: 100%;
	bottom: 0;
}

.main .banner_holder .devisers_holder .devisers .links {
	padding: 10px 20px 0 20px;
}

.main .banner_holder .devisers_holder .devisers .links span {
	margin-left: 10px;
}
.main .banner_holder .devisers_holder .devisers .links span:first-child,
.main .banner_holder .devisers_holder .devisers .links span:last-child {
	margin-left: 0;
}

.main .banner_holder .devisers_holder .devisers .links span:hover,
.main .banner_holder .devisers_holder .devisers .links span.active {
	color: #f7284b;
	border-bottom: 2px solid #f7284b;
}

.main .devisers_carousel_wrapper {
	overflow: hidden;
	height: calc(100% - 96px); /*96px is the height of the text-buttons that are above this container and the row of tabs below it */
	margin: 15px 20px;
}

.main .banner_holder .devisers_holder .devisers .devisers_carousel {
	list-style-type: none;
	z-index: 1;
	height: 100%;
	white-space: nowrap;
	padding: 0;
	letter-spacing: -1em;
}

.main .banner_holder .devisers_holder .devisers .deviser_holder,
.main .banner_holder .devisers_holder .devisers .deviser {
	display: inline-block;
	height: 100%;
	float: none;
	letter-spacing: normal;
}

.main .banner_holder .devisers_holder .devisers .deviser_holder {
	margin-right: 15px;
	max-width: 160px;
}

.main .banner_holder .devisers_holder .devisers .deviser_bg {
	height: 100%;
	width: 100%;
	opacity: 0.5;
	transition: opacity 0.5s, ease-in-out;
}

.main .banner_holder .devisers_holder .devisers .deviser_holder:hover .deviser_bg {
	opacity: 1;
}

.main .banner_holder .devisers_holder .devisers .deviser {
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

.main .banner_holder .devisers_holder .devisers .deviser .dp {
	top: 0%;
	height: 70%;
	transition: top 0.5s ease-in-out;
}

.main .banner_holder .devisers_holder .devisers .deviser_holder:hover .dp,
.main .banner_holder .devisers_holder .devisers .deviser_holder:hover .text,
.main .banner_holder .devisers_holder .devisers .deviser_holder:hover .works {
	top: -70%;
}

.main .banner_holder .devisers_holder .devisers .deviser .dp > img {
	margin: auto;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 100%;
	max-width: 100%;
	padding: 5% 10%;
}

.main .banner_holder .devisers_holder .devisers .deviser .text {
	top: 0%;
	height: 30%;
	transition: top 0.5s ease-in-out;
}

.main .banner_holder .devisers_holder .devisers .deviser_holder .name {
	transition: color 0.5s ease-in-out;
}

.main .banner_holder .devisers_holder .devisers .deviser_holder:hover .name {
	color: #f7284b;
}

.main .banner_holder .devisers_holder .devisers .deviser .text .name,
.main .banner_holder .devisers_holder .devisers .deviser .text .category {
	height: 50%;
	width: 100%;
}

.main .banner_holder .devisers_holder .devisers .deviser .works {
	top: 0%;
	height: 70%;
	transition: top 0.5s ease-in-out;
}

.main .banner_holder .devisers_holder .devisers .deviser .works .works_holder {
	height: 50%;
}

.main .banner_holder .devisers_holder .devisers .deviser .works .works_holder .works_row {
	height: 100%;
}

.main .banner_holder .devisers_holder .devisers .deviser .works .work {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.main .banner_holder .devisers_holder .devisers .tabs {
	list-style: none;
}

.main .banner_holder .devisers_holder .devisers .tabs li {
	flex-basis: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	border-right: 1px solid #ddd;
	margin-right: 1px;
}

.main .banner_holder .devisers_holder .devisers .tabs li:last-child {
	border-right: none;
	margin-right: 0;
}

.main .banner_holder .devisers_holder .devisers .tabs li.active,
.main .banner_holder .devisers_holder .devisers .tabs li:hover {
	background-color: #fff;
}

.main .banner_holder .devisers_holder .devisers .tabs li a {
	padding: 10px 25px;
	display: block;
}

.main .banner_holder .devisers_holder .devisers .tabs li:hover a {
	color: #4a4a4a;
}

.main .products_wrapper {
	padding: 20px;
}

.main .products {
	background-color: #EDEDED;
}

.main .products .product img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.main .products .product .data {
	bottom: -30%;
	left: 0;
	width: 100%;
	opacity: 0.9;
	padding: 8px 0 8px 10px;
	transition: bottom 0.5s ease;
}

.main .products .product:hover .data {
	bottom: 0%;
}

.main .tab-pane .form-group .filters [data-role="filter"] {
	display: none;
}

.main .tab-pane .form-group .filter-span {
	display: block;
	padding: 6px 0;
	margin: 0 10px;
	border-bottom: 1px solid transparent;
}

.main .tab-pane .form-group .filter-span.active,
.main .tab-pane .form-group .filter-span:hover {
	color: #f7284b;
	border-bottom: 1px solid #f7284b;
}

.main .pagination {
	width: 100%;
	text-align: center;
	margin: 0;
}

.main .pagination li {
	display: inline-block;
}

.main .pagination li.disabled {
	visibility: hidden;
}

.main .pagination li a {
	color: #9b9b9b;
	font-size: 1.357em;
	font-family: 'UniversLTPro-Condensed';
	border: none;

	border-radius: 20px;
	line-height: 1.30em;
	padding: 6px 15px;
}

.main .pagination li:hover a {
	color: #f7284b;
	background-color: white;
}

.main .pagination li a {
	background-color: initial;
}

.main .pagination li.active a {
	background-color: innitial;
	border: 1px solid #9b9b9b;
}
