<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalSignUpLovedCtrl.dismiss()">
		<span class="ion-ios-close" aria-hidden="true"></span>
	</button>
	<h3 class="title-modal-border"><span translate="util.modal_signup_loved.MUST_BE_A_MEMBER"></span><span class="glyphicon glyphicon-heart grey-heart" ng-if="modalSignUpLovedCtrl.resolve.icon === 'loved'" ng-cloak></span>
		<span class="grey-box" ng-if="modalSignUpLovedCtrl.resolve.icon === 'boxes'" ng-cloak></span>
		<span translate="util.modal_signup_loved.A_PRODUCT"></span></h3>
</div>
<div class="modal-body">
	<div class="row row-modal">
		<p class="col-md-6"><span translate="util.modal_signup_loved.ALREADY_MEMBER"></span></p>
		<div class="col-md-6">
			<a ng-href="{{modalSignUpLovedCtrl.login}}">
				<button class="btn  btn-default btn-cancel"><span translate="global.LOGIN"></span></button>
			</a>
		</div>
	</div>
	<div class="row row-modal">
		<p class="col-md-6"><span translate="util.modal_signup_loved.BECOME_MEMBER"></span></p>
		<div class="col-md-6">
			<a ng-href="{{modalSignUpLovedCtrl.signup}}">
				<button class="btn btn-green green-modal-btn"><span translate="util.modal_signup_loved.SIGN_UP"></span></button>
			</a>
		</div>
	</div>
</div>