<span class="shopping-cart-title" ng-if="summaryCtrl.state.state<4">Cart summary</span>

<div ng-if="summaryCtrl.state.state > 1">
	<div ng-repeat="deviser in summaryCtrl.devisers">
		<span span class="deviser-name-item summary-cart-wrapper" ng-bind="deviser.deviser_name"></span>
		<div class="summary-cart-wrapper summary-white-item" ng-repeat="product in summaryCtrl.cart.products | filter: {deviser_id: deviser.deviser_id}">
			<div ng-if="summaryCtrl.state.state === 4" class="img-checkout-wrapper col-md-2">
				<img ng-src="{{product.product_photo}}" ng-alt="product.product_name" ng-title="product.product_name">
			</div>
			<div>
				<div>
						<span class="ng-class:{'product-name': summaryCtrl.state.state<4}" ng-bind="product.product_name"></span> <!-- TODO: Set bold font class -->
						<span class="pull-right text-green bold">€&nbsp;<span ng-bind="product.quantity * product.price"></span></span>
				</div>
				<div class="ng-class:{'summary-row': summaryCtrl.state.state < 4}">
					<span>Ud: <span ng-bind="product.quantity"></span></span>
					<span>Tags: <span ng-repeat="tag in product.tags">
									<span ng-repeat="value in tag.values track by $index">
										<span ng-if="!summaryCtrl.isObject(value)">
											<span ng-bind="(value | capitalize)"></span>&nbsp;
										</span>
									</span>
								</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="summary-cart-wrapper">
	<span class="subtotal-amount-wrapper"><span class="bold">Subtotal</span><span class="pull-right subtotal-amount">€<span class="subtotal-amount" ng-bind="summaryCtrl.cart.subtotal"></span></span></span>
</div>
<div class="summary-cart-wrapper" ng-if="summaryCtrl.state.state === 1">
	<button class="btn btn-green col-md-12 mb-20" ng-click="summaryCtrl.proceedToCheckout()">Proceed to checkout</button>
</div>