<span class="shopping-cart-title">Cart summary</span>

<div ng-if="summaryCtrl.state.state === 2">
	<div ng-repeat="deviser in summaryCtrl.devisers">
		<p><strong><span ng-bind="deviser.deviser_name"></span></strong></p>
		<div ng-repeat="product in summaryCtrl.cart.products | filter: {deviser_id: deviser.deviser_id}">
			<div>
				<p>
					<span ng-bind="product.product_name"></span><span class="pull-right">€<span ng-bind="product.price"></span></span>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="summary-cart-wrapper">
	<p><span class="bold">Subtotal</span><span class="pull-right subtotal-amount">€<span class="subtotal-amount" ng-bind="summaryCtrl.cart.subtotal"></span></span></p>
</div>
<div class="summary-cart-wrapper" ng-if="summaryCtrl.state.state === 1">
	<button class="btn btn-green col-md-12 mb-20" ng-click="summaryCtrl.proceedToCheckout()">Proceed to checkout</button>
</div>