<div class="add-component-wrapper">
	<p>Add all the modules you need to complete your story here:</p>
	<button class="btn btn-default btn-green" ng-click="storyAddComponentCtrl.addComponent(1)">Add text</button>
	<button class="btn btn-default btn-green" ng-click="storyAddComponentCtrl.addComponent(2)">Add photo</button>
	<button class="btn btn-default btn-green" ng-click="storyAddComponentCtrl.addComponent(4)">Add video</button>
	<button class="btn btn-default btn-green" ng-click="storyAddComponentCtrl.addComponent(3)">Add work</button>
</div>