<div class="add-component-wrapper">
	<p><span translate="person.stories.ADD_STORY_MODULE"></span></p>
	<button class="btn btn-default btn-green" ng-click="storyAddComponentCtrl.addComponent(1)">
		<i class="fa fa-font" aria-hidden="true"></i>
		<span translate="person.stories.ADD_TEXT"></span>
	</button>
	<button class="btn btn-default btn-green" ng-click="storyAddComponentCtrl.addComponent(2)">
		<i class="fa fa-camera" aria-hidden="true"></i>
		<span translate="person.stories.ADD_PHOTO"></span>
	</button>
	<button class="btn btn-default btn-green" ng-click="storyAddComponentCtrl.addComponent(4)">
		<i class="fa fa-video-camera" aria-hidden="true"></i>
		<span translate="person.stories.ADD_VIDEO"></span>
	</button>
	<button class="btn btn-default btn-green" ng-click="storyAddComponentCtrl.addComponent(3)">
		<i class="fa fa-upload" aria-hidden="true"></i>
		<span translate="person.stories.ADD_WORK"></span>
	</button>
</div>