<div class="add-component-wrapper">
	<p>Add all the modules you need to complete your story here:</p>
	<button class="btn btn-default btn-green" ng-click="storyAddComponentCtrl.addComponent(1)">
		<i class="fa fa-font" aria-hidden="true"></i>
		Add text
	</button>
	<button class="btn btn-default btn-green" ng-click="storyAddComponentCtrl.addComponent(2)">
		<i class="fa fa-camera" aria-hidden="true"></i>
		Add photo
	</button>
	<button class="btn btn-default btn-green" ng-click="storyAddComponentCtrl.addComponent(4)">
		<i class="fa fa-video-camera" aria-hidden="true"></i>
		Add video
	</button>
	<button class="btn btn-default btn-green" ng-click="storyAddComponentCtrl.addComponent(3)">
		<i class="fa fa-upload" aria-hidden="true"></i>
		Add work
	</button>
</div>