<div>
	<h4>Your shopping cart</h4>
	<table class="table" ng-repeat="deviser in shoppingCartCtrl.devisers">
		<thead>
			<tr>
				<td>Deviser</td>
				<td><strong><span ng-bind="deviser.deviser_name"></span></strong></td>
				<td></td>
				<td>Quantity</td>
				<td>Subtotal</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in shoppingCartCtrl.cart.products | filter:{deviser_id: deviser.deviser_id}">
				<td></td>
				<td><img ng-src="{{product.product_photo}}" ng-alt="product.product_name" ng-title="product.product_name" style="max-height: 80px;"></td>
				<td>
					<p ng-bind="product.product_name"></p>
					<p>Tags</p>
				</td>
				<td>
					<p ng-bind="product.quantity"></p>
				</td>
				<td>
					<p>€<span ng-bind="product.price"></span></p>
					<p><a href="#" ng-click="shoppingCartCtrl.deleteItem(product.price_stock_id)">&times; Delete</a></p>
				</td>
			</tr>
		</tbody>
	</table>
</div>