html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.wrapper {
	height: 100vh;
}

.header {
	position: inherit !important;
	/*
	 * Public layout and Deviser layout share the same header. The only difference is that
	 * the public layout's content is shown beneath (z axis) the header, while the deviser layout's
	 * content is placed below (x axis) the header.
	 */
}

.header, .footer{
	background: #333;
}

.body-content {
	overflow: auto;
}

.main {
	flex: 1 0 auto;
}

.btn-grey {
	background-color: #575757;
	border: 0;
}

.btn-grey:hover {
	background-color: #7b7b7b;
	color: #fff;
}

.btn-light-green {
	background-color: #b8e986;
	border: 0;
}

.btn-light-green:hover {
	background-color: #9ef463;
	color: #3d3d3d;
}
