.jstree-node {
	min-height: 32px !important;
	line-height: 32px !important;
}

.jstree-wholerow {
	height: 32px !important;
	z-index: -1;
}

.jstree-wholerow-hovered {
	z-index: -1;
}

.jstree-icon {
	height: 32px !important;
	line-height: 32px;
}

.jstree-anchor {
	width: 100%;
	display: inline !important;
	line-height: 32px !important;
	height: 32px !important;
}

.action_add {
	width: 32px;
	height: 32px;
	background-image: url("https://cdn3.iconfinder.com/data/icons/vista-general/32/add.png");
	display: inline-block;
	background-size: contain;
}

.action_rename {
	width: 32px;
	height: 32px;
	background-image: url("https://cdn3.iconfinder.com/data/icons/vista-general/32/edit.png");
	display: inline-block;
	background-size: contain;
}

.action_remove {
	width: 32px;
	height: 32px;
	background-image: url("https://cdn3.iconfinder.com/data/icons/vista-general/32/delete.png");
	display: inline-block;
	background-size: contain;
}