.body-content {
	background-color: #2e2e2e;
}

.page-title-row {
	padding: 1% 1% 0 1.2%;
}

.page-title {
	margin: auto;
}

#clients_list .summary {
	padding-left: 1.2%;
}

#clients_list table {
	border-top: 0;
}

#clients_list .table-bordered > thead > tr > th {
	border: 1px solid #4a4a4a;
	padding-left: 1.3%;
}

#clients_list .table-bordered > tbody > tr > td {
	border-left: 1px solid #4a4a4a;
	border-right: 1px solid #4a4a4a;
	border-bottom: 1px solid #6d6d6d;
	vertical-align: inherit;
	padding: 1.3%;
}

#clients_list .table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #2E2E2E;
}

#clients_list table th {
	font-weight: normal;
	background-color: #222;
	font-size: 0.786em;
	color: #d6d6d6;
	text-transform: uppercase;
}

#clients_list .pagination .prev a,
#clients_list .pagination .prev span,
#clients_list .pagination .next a,
#clients_list .pagination .next span {
	color: white;
	border: 1px solid transparent;
	background-color: transparent;
}

#clients_list .pagination li:not(.prev):not(.next) a {
	color: white;
	border: 1px solid transparent;
	background-color: transparent;
}

#clients_list .pagination li.active a {
	color: #9013fe !important;
}
