html, body {
	padding: 0;
	margin: 0;
}

.wrapper {
	height: 100vh;
}

.header{
	background: #333;
	text-align: center;
	color: #fff;
	width: 100%;
}

.content {
	overflow: auto;
}

.main {
	flex: 1 0 auto;
}


/*** TOP MENU ***/
div.navbar-header {
	display: none;
}

div.navbar-content {
	display: flex !important;
	align-items: center;
}

.navbar-right {
	margin-left: auto;
}

ul.breadcrumb {
	display: inline-block;
}

ul.navbar-nav.nav {
	margin-right: 0;
}

/**** NAVBAR - LEFT ****/

.navbar-left{
	background-color: #1c1919;
	height: 100vh;
}

.navbar-left .logo{
	color: #df0d13;
	font-size: 2.3em;
	text-align: center;
	padding: 22px 0 12px 0;
	line-height: 0.5em;
}

.navbar-left .logo span{
	font-size: 0.30em;
	color: #d7d7d7;
	text-align: center;
}

.navbar-left .item-menu-left a{
	color: #6d6d6d;
	position: relative;
	display: block;
	padding: 10px 14px;
	margin-bottom: -2px;
	background-color: #d7d7d7;
	text-transform: uppercase;
}

.navbar-left .item-menu-left a:hover {
	cursor: pointer;
	background: -moz-linear-gradient(left, rgba(215,215,215,0.4) 0%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(215,215,215,0.4)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(215,215,215,0.4) 0%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(215,215,215,0.4) 0%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(215,215,215,0.4) 0%,rgba(0,0,0,0.15) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(215,215,215,0.4) 0%,rgba(0,0,0,0.15) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66d7d7d7', endColorstr='#26000000',GradientType=1 ); /* IE6-9 */
}

.navbar-left .kv-sidenav li a {
 	border-bottom: 1px solid #c7c7c7;
}

.navbar-left .panel-heading{

	background-color: #d7d7d7;
	color: #3b3b3b;
}

.navbar-left .panel-title{
	font-size: 2.3em;
	text-align: center;
	color: #df0d13;
	line-height: 0.7em;
}

.navbar-left .panel-title span{
	color: #3b3b3b;
	letter-spacing: 0.2em;
}

.navbar-left .panel{
	border-radius: 0;
	background-color: #d7d7d7;
}

.panel-default > .panel-heading{
	border-color: #c7c7c7;
}


/********/
