// ==========================================================================
// Buttons
// ==========================================================================
.btn {
    //@extend %btn;
}
a{
	&.btn{
		span{
    		padding: 0.5em 0;
		}
	}
}
/*colores*/
.btn-none{
    background-color:transparent;
    color: $black;
    padding: 0 !important;
    &:hover{
        color:$almost_black;
    }
}
.btn-red{
    @extend %btn;
    background-color: $dark_red;
    color: $white;
    &:focus, &:hover{
        color: $white !important;
    }
    &:hover{
        background-color: $red;
    }
    &.disabled{
        cursor: default;
        background-color: $light_grey;
    }
}
.btn-grey{
    @extend %btn;
    background-color:$white;
    border: 1px solid $light_grey;
    color: $darker_grey;
    &:hover{
        background-color:$light_grey;
    }
}
.btn-light-grey{
    @extend %btn;
    background-color: $background_grey;
    .red-check{
        background-color: $dark_red;
        color: $white;
    }
}
.btn-black{
    @extend %btn;
    background-color:$black;
    color: $white;
    width:100%; /*check*/
    &:hover{
        background-color:$dark_grey;
        color: $white;
    }
}
.btn-black-line{
    @extend %btn;
    background-color:transparent;
    border: 1px solid $black;
    color: $black;
    &:hover{
        background-color:$black;
        border: 1px solid $white;
        color: $white;
    }
}
.btn-white{
    @extend %btn;
    background-color:$white;
    color: $red;
    &:hover{
        background-color:$background_grey;
        color: $red;
    }
}
.btn-black-on-white{
    @extend %btn;
    background-color:$white;
    border: 1px solid $black;
    color: $black;
    &:hover{
        background-color:$background_grey;
    }
}
.btn-transparent{
    @extend %btn;
    background-color:transparent;
    border: 1px solid $white;
    color: $white;
    &:hover{
        background-color:$light_grey;
        border: 1px solid $white;
        color: $white;
    }
}
.btn-follow{
    @extend %btn;
    background-color:$background_grey;
    color: $black;
    padding: 5px 20px;
    letter-spacing: 0.5px;
    z-index: 12;
    i{
        padding-right: 5px;
    }
}
/*botones rectangulares*/
.full-size-btn{
    width: 100% !important;
}
.btn-small{
    padding-right:1em!important;
    padding-left:1em!important;
    &.disabled{
        cursor: default;
        background-color: $light_grey;
    }
}
.btn-medium{
    width: 285px;
    @media(max-width:285px){
        width: 100%;
        margin: 0 4px;
    }
}
.big-btn{
    @extend %btn;
    font-size: 20px;
    @include border-radius(0.4em, 0.4em,0.4em, 0.4em);
    width: 460px;
    position: relative;
    padding: 1em 0 !important;
}
/*.big-btn{
    @extend %btn; 
    width: 460px;
    height: 60px;
    margin: 20px 0!important;
    padding: 12px 0 0 0!important;
    @include border-radius(20px,20px,20px,20px);
    background-color: $background_grey;
    font-size: 20px;
    font-weight: bold;
    font-family: $font-family--regular;
    text-transform: uppercase;
    border: none;
    position: relative;
    .red-check{
        background-color: $dark_red;
        color: $white;
        width: 52px;
        height: 52px;
        display: block;
        position: absolute;
        right: -62px;//-70px;
        top: 4px;//15px;
        border-radius: 32px !important;//90px;
        padding-top: 0px;
        font-size: 36px;
    }
    .big-btn-message{
        position: absolute;
        font-family: $font-family--regular;
        text-align: center;
        text-transform: none;
        font-weight: 300;
        font-size: 14px;//18px;
        top: 60px;//83px;
        //left: 166px;
        width: 100%;
        display: none;
    }
    &:hover{
        .big-btn-message{
            display: block;
        }
    }
}*/
.btn-acordion{
    margin-top: -10px!important;
    height: 28px;
    padding-top: 6px;
}
.btn-xl{
    min-width: 200px;
    @include border-radius(8px,8px,8px,8px);
}
/*botones redondos*/
.send-btn{
    cursor: pointer;
    display: block;
    margin: 40px auto !important;
    @include size(69px, 69px);
    @include transform(rotate(90deg));
    @include border-radius(90px,90px,90px,90px);
	img{
		margin: 0 0 8px;//0 0 10px;
        @include transform(rotate(270deg));
        @include size(30px, 30px);
        //-ms-transform: rotate(270deg); /* IE 9 */
        //-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
        //transform: rotate(270deg);
	}
    i{
        color: $white;
        font-size: 42px;
    }
}
.send-btn-sm{
    cursor: pointer;
    display: block;
    padding: 5px 0 0 0;
    @include size(30px, 30px);
    @include transform(rotate(90deg));
    @include border-radius(90px,90px,90px,90px);
	img{
		margin: auto;//0 0 10px;
        @include transform(rotate(270deg));
        @include size(15px, 15px);
        //-ms-transform: rotate(270deg); /* IE 9 */
        //-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
        //transform: rotate(270deg);
	}
    i{
        color: $white;
        font-size: 42px;
    }
}
/*botones especiales*/
.btn-single-love{
    @extend %btn;
    background-color:transparent;
    color: $black;
    padding-top: 6px;
    i{
        font-size: 32px;
        vertical-align: middle;//sub;
    }
    .number{
        color: $black;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.2px;
        //padding-right: 8px;
        padding: 0 4px;
    }
    &:hover{
        color:$dark_red;
    }
    &.active{
        color: $dark_red;
        &:hover{
            color: $dark_red;
        }
    }
}
.heart-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    @extend %heart-black-icon;
    &:hover{
        @extend %heart-red-icon;
    }
}
.heart-red-icon{
    @extend %heart-red-icon;
}
.heart-red-icon-btn{
    @extend %btn;
    background-color: $red;
    @include size(70px, 40px);
    padding-top: 6px;
    div{
        @extend %heart-white-icon;
    }
}
.heart-black-icon{
    @extend %heart-black-icon;
}
.social-items{
    li{
        float: left;
        margin: 0 8px 0 0;
        span{
            padding: 1px 0 0 0;
            display: inline-block;
        }
        a{
            color: $white;
            border: 1px solid $black;
            @include size(34px,34px);
            display: block;
            padding: 8px 0 0 12px;
            @include border-radius(28px,28px,28px,28px);
            &.twitter{
                padding: 8px 0 0 7px;
            }
            &.pinterest{
                padding: 8px 0 0 10px;
            }
            &.instagram{
                padding: 9px 0 0 8px;
            }
            &:hover{
                border: 1px solid $dark_red;
                i.facebook{
                    svg{
                        .st0{
                                stroke:$dark_red;
                            }
                    }
                }
                i.twitter{
                    svg{
                        .st0{
                                stroke:$dark_red;
                            }
                    }
                }
                i.pinterest{
                    svg{
                        .st0{
                                stroke:$dark_red;
                            }
                    }
                }
                i.instagram{
                    svg{
                        .st0{
                                stroke:$dark_red;
                            }
                    }
                }
            }
            i.facebook{
                svg{
                    height: 16px;
                    .st0{
                        stroke:$black;
                        fill:none;
                        stroke-width:2;
                    }
                }
            }
            i.twitter{
                svg{
                    height: 16px;
                    .st0{
                        stroke:$black;
                        fill:none;
                        stroke-width:2;
                    }
                }
            }
            i.pinterest{
                svg{
                    height: 16px;
                    .st0{
                        stroke:$black;
                        fill:none;
                        stroke-width:2;
                    }
                }
            }
            i.instagram{
                svg{
                    height: 18px;
                    .st0{
                        stroke:$black;
                        fill:none;
                        stroke-width:0.8;
                    }
                }
            }
        }
    }
}
footer{
    .social-items{
        padding:0;
        margin:0;
        @media (max-width: 768){
                //width: 145px;
                width: 100%;
        }
        @media (min-width:769px) and (max-width: 991px){
                width: 50%;
                float: initial;
                margin: 0 auto;
        }
        li{
            //float: left;
            //margin: 0 8px 0 0;
            list-style: none;
            padding: 0;
            @media (max-width: 991px){
                //margin: 0 4px;
                margin: 0 auto;
            }
            a{
                //display: block;
                //@include border-radius(28px,28px,28px,28px);
                border: none;
                font-size: 18px;
                color: $black;
                background-color: $white;
                padding: 6px 0 0 14px;
                @include size(39px,39px);
                &.twitter{
                    padding: 7px 0 0 12px;
                }
                &.google-plus{
                    font-size: 16px;
                    padding: 7px 0 0 10px;
                }
                &:hover{
                    background-color: $red;
                    color: $white;
                    @include transition-property(background-color);
                    @include transition-duration(0.3s);
                    @include transition-timing-function(ease-out);
                    i.facebook{
                        svg{
                            .st0{
                                    stroke:$white;
                                }
                        }
                    }
                    i.twitter{
                        svg{
                            .st0{
                                    stroke:$white;
                                }
                        }
                    }
                    i.pinterest{
                        svg{
                            .st0{
                                    stroke:$white;
                                }
                        }
                    }
                    i.instagram{
                        svg{
                            .st0{
                                    stroke:$white;
                                }
                        }
                    }
                }
                @media (max-width: 991px){
                    margin: 0 auto;
                }
            }
        }
    }
}
#go_to_footer{
    @include size(50px,50px);
    cursor: pointer; 
    display: none;
    border: none;
    z-index: 999; 
    text-decoration: none; 
    text-align: center; 
    position: fixed; 
    bottom: 80px; 
    right: 40px; 
    background: transparent;
    margin: 0;
    padding: 0;
    i{
        margin: 0;
        line-height: 55px;
    }
}

/*sin revisar*/
.btn-big{
    width: 288px;
    height: 62px;
    font-size: 16px;
    padding-top: 8px;
    &.disabled{
        cursor: default;
        background-color: $light_grey;
    }
}
.regular-btn{
    height: 62px;
    @include border-radius(5px,5px,5px,5px);
    background-color: $dark_red!important;
    color: $white!important;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 288px;
    font-size: 16px;
    margin-top: 80px;
    &.disabled{
        background-color: $light_grey!important;
    }
}
.share-btn{
    cursor: pointer;
    i{
        font-size: 21px;
    }
}
.btn-love{
    @extend %btn;
    background-color:transparent;
    border: 1px solid $black;
    color: $black;
    width: 70px;
    height: 40px;
    padding-top: 6px;
    @media(max-width:320px){
        width: 55px;
    }    
    i{
        font-size: 27px;
        line-height: 10px;
    }
    &:hover{
        background-color:$black;
        color: $white;
    }
    &.active{
        color: $dark_red;
        &:hover{
            color: $white;
        }
    }
}
.btn-save-box{
    @extend %btn;
    background-color:transparent;
    border: 1px solid $black;
    color: $black;
    width: 209px;
    height: 40px;
    //padding-top: 9px;
    //padding:0;
    //margin: auto;
    @media(max-width:320px){
        width: 200px;
    }
    .box-icon{
        width: 32px;
        vertical-align: middle;
        height: 25px;
        display: inline-block;
        margin-right: 10px;
    }
    &:hover{
        background-color:$black;
        color: $white;
        .box-icon{
            background: url('/imgs/box-white.svg') no-repeat;
        }
    }
    &.active{
        color: $black;
        .box-icon{
            background: url('/imgs/box-red.svg') transparent no-repeat;
        }
        &:hover{
            color: $white;
            background-color: $black;
            .box-icon{
                background: url('/imgs/box-white.svg') transparent no-repeat;
            }
        }
    }
}
.btn-icon{
    @extend %btn;
    background-color:transparent;
    border: 1px solid $black;
    color: $black;
    width: 100%;
    height: 40px;
    padding-top: 9px;//11px;
    i{
        margin-right: 10px; //15px;
        margin-left: -5px;
    }
    &:hover{
        background-color:$black;
        color: $white;
        .box-icon{
            background: url('/imgs/box-white.svg') no-repeat;
        }
    }
    &.active{
        color: $black;
        .box-icon{
            background: url('/imgs/box-red.svg') transparent no-repeat;
        }
        &:hover{
            color: $white;
            background-color: $black;
            .box-icon{
                background: url('/imgs/box-white.svg') transparent no-repeat;
            }
        }
    }
}
.load-more-btn{
    color: $dark_red;
    text-transform: uppercase;
    i{
        color: $dark_grey;
        vertical-align: middle;
        margin-left: 5px;
        display: inline-block;
    }
    &:hover{
        color: $red;
    }
    &:focus{
        color: $red;
    }
    &.active{
        i{
            @include transform(rotate(180deg));
        }
    }
}
.accordion-btn{
    @extend %btn;
    background-color:transparent;
    color: $black;
    padding: 0;
    width: 100%;
    text-align: left;
    span{
        float: left;
    }
    i{
        float: right;
        margin-right: 10px;
    }
}
.btn-love{
    &:hover{
        .heart-icon{
            background: url(/imgs/heart-red.svg) 0 0 no-repeat transparent!important;
        }
    }
    &.pull-left{
        &:hover{
            .heart-icon{
                background: url(/imgs/heart-white.svg) 0 0 no-repeat transparent;
            }
        }
    }
    .heart-icon{
        &:hover{
            background: url(/imgs/heart-white.svg) 0 0 no-repeat transparent;
        }
    }
    &.pull-right{
        &:hover{
            .box-icon{
                background: url(/imgs/box-white.svg) 0 0 no-repeat transparent;
            }
        }
    }
    .box-icon{
        &:hover{
            background: url(/imgs/box-white.svg) 0 0 no-repeat transparent;
        }   
    }
}
.btn-edit{
    i{
        font-size: 21px;
        margin: 0;
        padding: 0;
        height: 32px;
    }
    &:hover{
        background-color: transparent;
        color: $red;
    }
}
#btn_create_box, #btn_create_box_popup, .btn-minpad {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
#newProductHeader{
    button{
        padding: 8px 20px !important;
    }
}
.btn-change-password{
    background-color: transparent;
    border: 1px solid $black;
    color: $black;
    text-transform: uppercase;
    padding: 0px 10px 0 10px;
    height: 34px;
    margin-top: 32px;
    &:hover{
        background-color:$black;
        color: $white;
        .box-icon{
            background: url('/imgs/box-white.svg') no-repeat;
        }
    }
}
#btn-faq-add-question button {
    padding: 0 20px !important;
}
.checkout-sidebar {
    button {
        padding: 0 20px !important;
    }
    .btn-red {
        margin-top: 30px !important;
        padding: 0.5em 0.75em !important;
    }
}
.summary-side {
    .btn-red {
        margin-top: 0 !important;
    }
}