// ==========================================================================
// Buttons
// ==========================================================================
.btn-red{
    background-color:$dark_red;
    color: $white;
	&:focus{
		color: $white!important;
	}
    @extend %btn;   
    &:hover{
        background-color:$red;
        color: $white;
    }
    @media (max-width: 768px){
        margin: 5px auto 20px;
        display: block;
    }
}
.btn-green{
    @extend %btn; 
    background-color:$green;
    color: $black;
    &:hover{
        background-color:$dark_green;
    }
}
.btn-none{
    @extend %btn; 
    background-color:transparent;
    color: $black;
    &:hover{
        color:$almost_black;
    }
}
.btn-grey{
    @extend %btn;
    background-color:$white;
    border: 1px solid $light_grey;
    color: $darker_grey;
    &:hover{
        background-color:$light_grey;
    }
}
.btn-black{
    @extend %btn;
    background-color:$black;
    color: $white;
    width:100%;
    &:hover{
        background-color:$dark_grey;
        color: $white;
    }
}
.btn-follow{
    @extend %btn;
    background-color:$background_grey;
    color: $black;
    padding: 5px 20px;
    letter-spacing: 0.5px;
    z-index: 12;
    i{
        padding-right: 5px;
    }
}
.btn-white{
    @extend %btn;
    background-color:$white;
    color: $red;
    &:hover{
        background-color:$background_grey;
        color: $red;
    }
}
.btn-transparent{
    @extend %btn;
    background-color:transparent;
    border: 1px solid $white;
    color: $white;
    &:hover{
        background-color:$light_grey;
        color: $white;
        border: 1px solid $white;
    }
}
.btn-acordion{
	margin-top: -10px!important;
    height: 28px;
    padding-top: 6px;
}
.btn-xl{
	min-width: 200px;
	@include border-radius(8px,8px,8px,8px);
}
.send-btn{
    width: 69px;
    height: 69px;
    margin: 40px auto;
    display: block;
    padding: 5px 0 0 0;
    @include transform(rotate(90deg));
    @include border-radius(90px,90px,90px,90px);
    cursor: pointer;
	img{
		-ms-transform: rotate(270deg); /* IE 9 */
		-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
		transform: rotate(270deg);
		margin: 0 0 10px;
		height: 30px;
    	width: 30px;
	}
    i{
        color: $white;
        font-size: 42px;
    }
}
.send-btn-sm{
    width: 30px;
    height: 30px;
    display: block;
    padding: 5px 0 0 0;
    @include transform(rotate(90deg));
    @include border-radius(90px,90px,90px,90px);
    cursor: pointer;
	img{
		-ms-transform: rotate(270deg); /* IE 9 */
		-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
		transform: rotate(270deg);
		margin: 0 0 10px;
		height: 15px;
    	width: 15px;
	}
    i{
        color: $white;
        font-size: 42px;
    }
}
.big-btn{
	@extend %btn; 
	width: 460px;
    height: 60px;
    margin: 20px 0;
    padding: 15px 0 0 0;
	@include border-radius(20px,20px,20px,20px);
	background-color: $background_grey;
	font-size: 20px;
  	font-weight: bold;
	font-family: $font-family--regular;
	text-transform: uppercase;
	border: none;
	position: relative;
	.red-check{
		background-color: $dark_red;
		color: $white;
		width: 52px;
		height: 52px;
		display: block;
		position: absolute;
		right: -70px;
		top: 15px;
		border-radius: 90px;
		padding-top: 0px;
		font-size: 36px;
	}
	.big-btn-message{
		position: absolute;
		font-family: $font-family--regular;
		text-align: center;
		text-transform: none;
		font-weight: 300;
		font-size: 18px;
		 top: 83px;
    	left: 166px;
		display: none;
	}
	&:hover{
		.big-btn-message{
			display: block;
		}
	}
}
.btn-small{
	width: 149px;
  	height: 40px;
	font-size: 16px;
	&.disabled{
		cursor: default;
		background-color: $light_grey;
	}
}
.btn-medium{
	width: 280px;
  	height: 40px;
	font-size: 16px;
	&.disabled{
		cursor: default;
		background-color: $light_grey;
	}
}
.btn-big{
	width: 288px;
  	height: 62px;
	font-size: 16px;
	padding-top: 15px;
	&.disabled{
		cursor: default;
		background-color: $light_grey;
	}
}
.regular-btn{
	height: 62px;
  	@include border-radius(5px,5px,5px,5px);
  	background-color: $dark_red!important;
	color: $white!important;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	min-width: 288px;
	font-size: 16px;
	margin-top: 80px;
	&.disabled{
		background-color: $light_grey!important;
	}
}
.share-btn{
	cursor: pointer;
	i{
		font-size: 21px;
	}
}
.btn-love{
    @extend %btn;
    background-color:transparent;
    border: 1px solid $black;
    color: $black;
	width: 70px;
    height: 40px;
    padding-top: 6px;
	i{
	    font-size: 27px;
		line-height: 10px;
	}
    &:hover{
        background-color:$black;
        color: $white;
    }
	&.active{
		color: $dark_red;
		&:hover{
			color: $white;
		}
	}
}
.btn-single-love{
    @extend %btn;
    background-color:transparent;
    color: $black;
    padding-top: 6px;
	i{
	    font-size: 32px;
		vertical-align: sub;
	}
	.number{
		color: $black;
		font-size: 16px;
		font-weight: normal;
		letter-spacing: 0.2px;
	}
    &:hover{
        color:$dark_red;
    }
	&.active{
		color: $dark_red;
		&:hover{
			color: $dark_red;
		}
	}
}
.btn-save-box{
    @extend %btn;
    background-color:transparent;
    border: 1px solid $black;
    color: $black;
	width: 209px;
    height: 40px;
    padding-top: 9px;
	.box-icon{
	    width: 32px;
		vertical-align: middle;
		height: 25px;
		display: inline-block;
	}
    &:hover{
		background-color:$black;
        color: $white;
		.box-icon{
			background: url('/imgs/box-white.svg') no-repeat;
		}
    }
	&.active{
		color: $black;
		.box-icon{
			background: url('/imgs/box-red.svg') transparent no-repeat;
		}
		&:hover{
			color: $white;
			background-color: $black;
			.box-icon{
				background: url('/imgs/box-white.svg') transparent no-repeat;
			}
		}
	}
}
.btn-icon{
    @extend %btn;
    background-color:transparent;
    border: 1px solid $black;
    color: $black;
	width: 100%;
    height: 40px;
    padding-top: 11px;
	i{
		margin-right: 15px;
	}
    &:hover{
		background-color:$black;
        color: $white;
		.box-icon{
			background: url('/imgs/box-white.svg') no-repeat;
		}
    }
	&.active{
		color: $black;
		.box-icon{
			background: url('/imgs/box-red.svg') transparent no-repeat;
		}
		&:hover{
			color: $white;
			background-color: $black;
			.box-icon{
				background: url('/imgs/box-white.svg') transparent no-repeat;
			}
		}
	}
}
.load-more-btn{
	color: $dark_red;
	text-transform: uppercase;
	i{
		color: $dark_grey;
		vertical-align: middle;
		margin-left: 5px;
		display: inline-block;
	}
	&:hover{
		color: $red;
	}
	&:focus{
		color: $red;
	}
	&.active{
		i{
			@include transform(rotate(180deg));
		}
	}
}
.social-items{
	li{
		float: left;
		margin: 0 8px 0 0;
		span{
			padding: 1px 0 0 0;
			display: inline-block;
		}
		a{
			color: $white;
			background-color: $dark_grey;
			@include size(22px,22px);
			display: block;
			padding: 5px 0 0 7px;
			@include border-radius(28px,28px,28px,28px);
			&.twitter{
				padding: 4px 0 0 5px;
			}
			&.google-plus{
				font-size: 12px;
				padding: 5px 0 0 4px;
			}                
		}
	}
}
.full-size-btn{
	width:100%!important;
}