// ==========================================================================
// Buttons
// ==========================================================================
.btn-red{
    background-color:$dark_red;
    color: $white;
    @extend %btn;   
    &:hover{
        background-color:$red;
        color: $white;
    }
    @media (max-width: 768px){
        margin: 5px auto 20px;
        display: block;
    }
}
.btn-green{
    @extend %btn; 
    background-color:$green;
    color: $black;
    &:hover{
        background-color:$dark_green;
    }
}
.btn-grey{
    @extend %btn;
    background-color:$white;
    border: 1px solid $light_grey;
    color: $darker_grey;
    &:hover{
        background-color:$light_grey;
    }
}
.btn-black{
    @extend %btn;
    background-color:$black;
    color: $white;
    width:100%;
    &:hover{
        background-color:$dark_grey;
        color: $white;
    }
}
.btn-follow{
    @extend %btn;
    background-color:$background_grey;
    color: $black;
    padding: 5px 20px;
    letter-spacing: 0.5px;
    z-index: 12;
    i{
        padding-right: 5px;
    }
}
.btn-white{
    @extend %btn;
    background-color:$white;
    color: $red;
    &:hover{
        background-color:$background_grey;
        color: $red;
    }
}
.btn-transparent{
    @extend %btn;
    background-color:transparent;
    border: 1px solid $white;
    color: $white;
    &:hover{
        background-color:$light_grey;
        color: $white;
        border: 1px solid $white;
    }
}
.btn-acordion{
	margin-top: -10px!important;
    height: 28px;
    padding-top: 6px;
}
.btn-xl{
	min-width: 200px;
	@include border-radius(8px,8px,8px,8px);
}
.send-btn{
    width: 69px;
    height: 69px;
    margin: 40px auto;
    display: block;
    padding: 5px 0 0 0;
    @include transform(rotate(90deg));
    @include border-radius(90px,90px,90px,90px);
    cursor: pointer;
    i{
        color: $white;
        font-size: 42px;
    }
}
.big-btn{
	width: 634px;
	height: 80px;
	margin: 20px 0;
    padding: 20px 0 0 0;
	@include border-radius(20px,20px,20px,20px);
	background-color: $background_grey;
	font-size: 28px;
  	font-weight: bold;
	font-family: $font-family--regular;
	text-transform: uppercase;
	border: none;
	&.disabled{
		background-color: $light_grey!important;
		padding-top: 2px;
		color: $background_grey;
	}
}