// ==========================================================================
// Colors
// ==========================================================================
.text-black{
	color:$black;
}
.bg-black{
	background-color:$black;
}
.text-dark-red{
	color:$dark_red;
}
.bg-dark-red{
	background-color:$dark_red;
}
.text-red{
	color:$red;
}
.bg-red{
	background-color:$red;
}
.text-dark-grey{
	color:$dark_grey;
}
.bg-dark-grey{
	background-color:$dark_grey;
}
.text-grey{
	color:$grey;
}
.bg-grey{
	background-color:$grey;
}
.text-yellow{
	color:$error;//$yellow;
}
.bg-yellow{
	background-color:$error;//$yellow;
}