// ==========================================================================
// Errors
// ==========================================================================
.error-input{
    border-color:$violet!important;
	.btn-default {
		border-color: $violet;
	}
	label::before{
		border:1px solid $violet!important;
	}
    button {
        border-color:$violet!important;
    }
}
.error-input .ta-editor{
	border-color:$violet;
}
.calendar-icon{
	&.error-input{
		border: 1px solid $violet;
	}
}
.error-text{
     color: $violet!important;
}
.button-error{
    @extend %btn;
    background-color:$violet!important;
    border: 1px solid $violet;
    color: $white;
    &:hover{
        background-color:$violet;
        color: $white;
        border: 1px solid $violet;
    }
}