// ==========================================================================
// Forms
// ==========================================================================
label{
	font-family: $font-family--regular;
    font-size: 18px;
	font-weight: normal;
    text-transform: lowercase;
    margin: 15px 0 5px 0;
    &:first-letter{
    	text-transform: uppercase;
    }
}
.black-form{
    label{
        font-family: $font-family--regular;
        font-size: 18px;
    	font-weight: normal;//400;
        color: $background_grey;
        text-transform: lowercase;//uppercase;
        margin: 15px 0 5px 0;//15px 0 5px 15px;
        i{
            padding: 0 5px;
            cursor: pointer;
        }
        &:first-letter{
        	text-transform: uppercase;
        }
    }
    .grey-input{
        margin: 5px 0 10px;
		font-weight: bold;
    	color: $background_grey;
    	font-size: 18px;
    	padding: 0 0 0 5px;//0 0 0 30px;
        background-color: rgba(147, 147, 147, 0.5);
        border: 1px solid #585656;
		height: 48px;
        letter-spacing: 0.4px;
        &.password{
            letter-spacing: 5px;
        }
        //@include border-radius(20px,20px,20px,20px);
        &::-webkit-input-placeholder {color:$white;text-transform: uppercase;}
        &:-moz-placeholder           {color:$white;text-transform: uppercase;}
        &::-moz-placeholder          {color:$white;text-transform: uppercase;}
        &:-ms-input-placeholder      {color:$white;text-transform: uppercase;}
		&.grey-textarea{
			padding: 20px;
    		height: 100px;
		}
    }
}
.optional-info-input-right {
	float: right;
	font-size: 12px;
	color: #888;
	margin: 22px 0 5px 0;
}

.login-title{
	margin-top: 80px;//20px;
	font-family: $font-family--name;
  	font-weight: normal !important;//bold;
	font-size: 42px !important;//18px;
	color: $white !important;//$light_grey;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	@media (max-width: 768px){
			font-size: 34px!important;
		}
}
.inverse{
	.login-title{
		color:$black !important;
	}
}
.white-rounded-input{
	margin-bottom: 15px;
	height: 40px;
	color: $black;
	background-color: $white;
	border: 1px solid #d7d7d7;
	font-family: $font-family--secondary;
	@include border-radius(6px,6px,6px,6px);
}
.white-rounded-textbox{
	margin-bottom: 15px;
	padding: 15px;
	color: $black;
	max-width: 383px;
	max-height: 125px;
	background-color: $white;
	border: 1px solid #d7d7d7;
	font-family: $font-family--secondary;
	@include border-radius(6px,6px,6px,6px);
}
.regular-select{
	button{
		color: $almost_black;
		height: 36px;
		background-color: $white;
		padding: 2px 12px;
		max-width: 200px;
		@include border-radius(25px,25px,25px,25px);
	}
}
.input-check-wrapper{
	position: relative;
	i{
		position: absolute;
		color: $background_grey;
		top: 9px;
		font-size: 22px;
    	right: 25px;
	}
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    color: $background_grey!important;
    background-color: rgba(147, 147, 147, 0.5)!important;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px grey inset; /* Change the color to your own background color */
    -webkit-text-fill-color: white;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px grey inset;
    -webkit-text-fill-color: white;
}
.black-form-select{
	    width: 100%!important;
		.btn{
			font-weight: bold;
			height: 48px!important;
			color: $background_grey;
			font-size: 18px;
			padding: 0 0 0 30px;
			background-color: rgba(147, 147, 147, 0.5);
			border: 1px solid #585656;
			@include border-radius(20px,20px,20px,20px);
			.caret{
				border-top: 6px dashed;
				border-top: 6px solid \9;
				border-right: 6px solid transparent;
				border-left: 6px solid transparent;
				right: 25px!important;
			}
		}
		&.open > .dropdown-toggle.btn-default{
			color: $background_grey;
			background-color: rgba(147, 147, 147, 0.5)important;
		}
		.dropdown-menu{
			width: 100%!important;
			margin-top: 0!important;
		}
}
.text-angular-black{
	.ta-scroll-window{
		color: $background_grey;
		font-size: 18px;
		color: $background_grey;
		font-weight: bold;
		padding: 15px!important;
		background-color: rgba(147, 147, 147, 0.5);
		border: 1px solid #585656;
		@include border-radius(20px,20px,20px,20px);
		p{
			font-size: 18px;
		}
	}
}
.black-area-wrappers{
	position: relative;
	ol{
		    position: absolute;
			right: -220px;
			top: 0;
			width: 73px;
			.btn{
				font-family: $font-family--regular;
				font-weight: bold;
				width: 85px;
				border: none;
				background-color: transparent;
				color: $dark_grey;
			}
		}
	.arrow{
		display: none!important;
	}
	.popover.top {
		margin-top: 50px!important;
		width: 130px!important;
		margin-left: 100px!important;
	}
	.ta-editor  {
		max-height: 200px;
    	overflow: hidden;
	}
	.ta-scroll-window{
		.overflow: auto!important;
	}
}
.black-char-left{
	position: absolute;
    right: -170px;
    top: 37px;
	color: $background_grey;
	margin: -5px 0 0 15px;
	font-family: $font-family--regular;
	.number{
		display: block;
		text-align: center;
		font-size: 26px;
	}
	.text{
		text-align: center;
	}
}
.info-black-areas{
	color: $dark_grey;
	position: absolute;
    right: -35px;
    bottom: 20px;
	font-size: 16px;
	cursor: pointer;
}
.separator-30-50{
    position: absolute;
    top: 505px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    width: 600px;
}
.city-selection-center{
    background-color: #ffffff;
    position: absolute;
    width: 340px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
    top: -10px;
    padding: 10px 30px;
    border: 1px solid #e9e9e9;
    z-index: 999999;
    border-top: 0;
}
.btn-blacky .dropdown-toggle.btn-default {
    color: #939393!important;
	background-color: transparent!important;
}
.ta-scroll-window > .ta-bind {
    min-height: 250px;
}
textarea{
	resize: none;
}


.discount-cart-wrapper {
  padding-top: 20px;
  padding-left: 5px;
  margin-bottom: 30px;

  .shopping-cart-title {
    margin-bottom: 20px;
  }

}

.discount-cart-wrapper .discount-cart-info, .discount-cart-wrapper .discount-cart-info-no-available-earnings {
  padding-left: 10px;
}

.discount-cart-info {

  .user-input-container {
    margin: 20px 0 30px;
  }

  .input-group-btn {
    width: 50px;
  }

  input.user-discount {
    float: left;
    width: 111px;
    height: 33px;
  }

  .discount-errors {
    clear: both;
  }

  .discount-errors span {
    font-weight: bold;
    display: inline-block;
    font-size: 12px;
  }
}

.with-discount-wrapper {
  .close {
    float: left;
    margin-right: 10px;
    img {
      width: 14px;
      height: 14px;
    }
  }
}

.overlay-more-info {
  position: fixed;
  background: rgba(50,50,50,0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
}

.more-info-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 343px;
  background: #fff;
  min-height: 195px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 10px 20px 20px;

  .tools {
    width: 100%;
    clear: both;
    height: 20px;
    margin-bottom: 20px;
  }

  .explain {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2e2e2e;
    margin-bottom: 10px;
    display: block;
  }

  .advice {
    margin-bottom: 20px;
    display: block;
  }
}

@media (max-width: 992px) {
  .checkout-sidebar .btn-red {
    margin-top: 0px !important;
   }
}


.general-title-text-12 {
  font-size: 12px;
}

.iban-input {
  width: 56px;
  height: 25px;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1.1px #bfbfbf;
  float: left;
  margin: 15px 10px;
}

.error-info {
  color: #f43052;
}

.iban-input.iban-input-first {
  margin-left: 0px;
}

.influencer {
  .iban-input.iban-input-first, .error-info {
    margin-left: 35px;
  }

  .iban-input {
    margin: 15px 7px 2px;
  }

}

.bank-account-container button {
  clear: both;
}

#historic_affiliates {
  box-shadow: 0px 1px 5px #777777;
  position: absolute;
  background: #ffffff;
  padding: 20px;
  z-index: 99;
  display: inline-block;
  border-radius: 0 0 10px 10px;
  width: 405px;
  right: 0;
}

.text-grey {
  color: #898989;
  width: 130px;
  display: inline-block;
}

.historic_link {
  font-weight: bold;
  color: #b70329;
  line-height: 25px;
  letter-spacing: .01px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .historic_link {
    letter-spacing: 0px;
    text-transform: capitalize;
    font-size: 12px;
  }

  .historic_line span.date {
    clear: both;
    display: block;
    margin-left: 0px;
  }
}

.affiliate-title-table {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  clear: both;
  margin-bottom: 25px;
}

.affiliate-title-column-table {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  clear: both;
  display: block;
}

.earnings_container {
  max-height: 295px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  #historic_affiliates {
    width: 295px;
  }
}

.block-separator-light {
  clear: both;
  padding-top: 5px !important;
  margin-bottom: 5px !important;
}

@media (max-width: 991px) {
  .iban-input {
    width: 53px;
    margin: 15px 3px;
    padding: 0 0;
    text-align: center;
  }

  .influencer {
    .iban-input {
      width: 48px;
      margin: 15px 3px 2px;
    }
  }
}

@media (max-width: 768px) {
  .iban-input {
    width: 42px;
    margin: 15px 3px;
    padding: 0 0;
    text-align: center;
  }

  .influencer {
    .iban-input {
      width: 42px;
      margin: 15px 3px 2px;
      padding: 0 0;
    }
    .iban-input-first, .error-info {
      margin-left: 0px!important;
    }
  }
}
