// ==========================================================================
// Menus
// ==========================================================================
//HORIZONTAL MENU
.products-menu{
    ul{
        margin:20px 0 40px;
        text-align: center;
        li{
            display: inline-block;
            padding: 0 10px;
            a{
                color: $almost_black;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 0.3px;
                padding-bottom: 5px;
                &:hover, &.active{
                    color: $dark_red;
                    //border-bottom: 1px solid $dark_red;
                }
            }
        }
    }
}
//DEVISER MENU
.menu-store{
    padding: 40px 0;
    @media (max-width: 575px){
        margin-top: 3em;
    }  
    ul{
        @media (max-width: 575px){
            display: table;
            margin: auto;
        }
        &.menu-deviser-bottom{
                margin-top: 0.2em;
        }
        li{
            margin: 5px 0;
            @media (max-width: 575px){
                margin: 4px;
                display: inline-table;
                padding: 0.5em 1em;
                border: 1px solid;
                border-radius: 0.5em;
                background-color: $black;
                &:not(.active){
                    background-color: transparent !important;
                }
            }
            &:hover{
                @media (max-width: 575px){
                    background-color: $black;
                }
            }
            a{
				font-size: 16px;
				color: $black;
				font-family: $font-family--regular;
				text-transform: lowercase;
				display: block;
				padding: 0px 0 0px 15px;
                @media (max-width: 575px){
                    padding: 0;
                }
                &.active{
                    font-weight: bold;
                    @media (max-width: 575px){
                        font-weight: normal;
                        color: $white;
                    }
                }
                &:hover{
                    color: $dark_red;
                    @media (max-width: 575px){
                        color: $white;
                    }
                }
            }
            ul.submenu-store{
                margin: 10px 30px 0 15px;
                li{
                    padding: 2px 0;
                    a{
                        text-transform: capitalize;
                        font: normal 14px $font-family--secondary;
                        &:hover{
                            color: $dark_red;
                        }
                    }
                }
            }
        }        
        &.submenu-store{
            li {
                @media (max-width: 575px){
                    border: none;
                    display: block;
                    float: left;
                    margin: 0;
                    margin-top: 1em;
                    padding: 0 0.5em 0;
                    border-right: 1px solid $black;
                    border-radius: 0;
                    font-size: 0.8em;
                    &:last-child{
                        border-right:none;
                    }
                }
            }
        }       
    }
}