// ==========================================================================
// Menus
// ==========================================================================
//HORIZONTAL MENU
.products-menu{
    ul{
        margin:20px 0 40px;
        text-align: center;
        li{
            display: inline-block;
            padding: 0 10px;
            a{
                color: $almost_black;
                text-transform: uppercase;
                font: 14px $font-family--serif;
                letter-spacing: 0.3px;
                padding-bottom: 5px;
                &:hover, &.active{
                    color: $red;
                    border-bottom: 1px solid $red;
                }
            }
        }
    }
}
//DEVISER MENU
.menu-store{
    padding: 40px 0;
    ul{
        margin: 20px 0;
        li{
            margin: 5px 0;
            a{
                color: $darker_grey;
                text-transform: uppercase;
                font: bold 16px $font-family--primary;
                padding: 3px 0 3px 15px;
                display: block;
                border: 1px solid transparent;
                &.active{
                    color: $black;
                    background-color: $light_grey;
                    border: 1px solid transparent;
                }
                &:hover{
                    border: 1px solid #bfbfbf;
                }
                &.active{
                    color: $red;
                }
            }
            ul.submenu-store{
                margin: 10px 30px 0 15px;
                padding: 0 0 20px 0;
                border-bottom: 1px solid $dark_grey;
                li{
                    padding: 2px 0;
                    a{
                        text-transform: capitalize;
                        font: normal 14px $font-family--secondary;
                        &:hover{
                            color: $red;
                            background-color: transparent;
                            border: 1px solid transparent;
                        }
                    }
                }
            }
        }       
    }
}