// ==========================================================================
// Modals
// ==========================================================================
.modal-content{
    min-width: 532px;
    margin: 0 auto;
    .modal-header{
         border-bottom: 0;
        h3{
            font-size: 14px;
            color: $black;
            float: left;
            text-transform: uppercase;
            font-family: $font-family--bold;
            letter-spacing: 0.2px;
        }
    }
}
.modal-header .close span{
    color: $black;
    text-shadow: none;
}
.crop-modal{
    background: #E4E4E4;
    overflow:hidden;
    width:500px;
    height:350px;
    margin-bottom:20px;
}
.modal-delete{
	padding: 10px 50px;
	.modal-footer{
		border-top:none;
	}
	p{
		text-align: center;
    	font-size: 21px;
	}
	button{
		width: 120px;
		height: 43px;
		font-size: 19px;
	}
}
.modal-sm {
    width: 425px!important;
	@media (max-width: 768px){
        width: 300px!important;
    }
	.modal-content{
		min-width: auto!important;
		float: left;
    	width: 100%;
		@media (max-width: 768px){
			min-width: auto!important;
		}
	}
	h3{
		margin: 3px 0 0 0;
		text-align: left;
		max-width: 350px;
	}
	.modal-header{
		padding: 20px 20px 10px;
	}
	.modal-body{
		padding: 10px 20px 20px;
	}
	.green-modal-btn{
		width: 120px;
		text-align: center;
		height: 40px;
		margin: 5px;
		padding: 12px 0;
	}
	.btn-cancel{
		width: 120px;
  		height: 40px;
		margin: 5px;
		text-transform: uppercase;
		font-weight: bold;
	}
}
.modal-save-title{
	font-size: 18px!important;
	display: block;
	width: 100%;
	text-align: left;
	float: none!important;
}
.modal-save-subtitle{
	font-family: $font-family--secondary; 
}
.title-subtitle-wrapper{
	margin: 0 0 0 63px;
}
.modal-save-total{
	color: $dark_grey;
}
.modal-delete-text{
	font-family: $font-family--secondary;
	margin: -15px 0 20px;
}
.title-modal-border{
	border-bottom: 1px solid $dark_grey;
	padding: 0 0 15px;
}
.row-modal{
	margin: 5px 0 15px;
	p{
		font-family: $font-family--secondary;
		margin: 15px 0 0 0;
	}
}
.grey-heart{
	color: $light_grey;
	font-size: 21px;
	margin: 0 2px;
}
.grey-box{
	background: url(/imgs/box.svg) 0 5px no-repeat $white;
	width: 31px;
    height: 23px;
    display: inline-block;
}