// ==========================================================================
// Modals
// ==========================================================================
.modal-content{
    min-width: 532px;
    margin: 0 auto;
    .modal-header{
         border-bottom: 0;
        h3{
            font-size: 14px;
            color: $black;
            float: left;
            text-transform: uppercase;
            font-family: $font-family--bold;
            letter-spacing: 0.2px;
        }
    }
}
.modal-header .close span{
    color: $black;
    text-shadow: none;
}
.crop-modal{
    background: #E4E4E4;
    overflow:hidden;
    width:500px;
    height:350px;
    margin-bottom:20px;
}
.modal-delete{
	padding: 10px 50px;
	.modal-footer{
		border-top:none;
	}
	p{
		text-align: center;
    	font-size: 21px;
	}
	button{
		width: 120px;
		height: 43px;
		font-size: 19px;
	}
}

