// ==========================================================================
// Texts
// ==========================================================================
.white-title-lg{
	color: $white;
	font-size: 73px;
    letter-spacing: 5px;
	line-height: 55px;
    text-transform: uppercase;
	font-family: $font-family--name;
	color: $background_grey;
}
.white-subtitle-lg{
	color: $white;
	font-size: 24px;
	font-family: $font-family--regular;
	font-weight: 300;
	letter-spacing: 0.5px;
	color: $background_grey;
}
.succes-black-title{
	color: $black;
	font-family: $font-family--name;
	text-transform: none;
	font-size: 65px;
    letter-spacing: 1px;
}
.success-black-subtitle{
	font-family: $font-family--regular;
	margin: 60px 0 30px;
	color: $black;
	font-size: 24px;
}