// ==========================================================================
// Texts
// ==========================================================================
.white-title-lg{
	color: $white;
	font-size: 58px;
    letter-spacing: 5.5px;
    text-transform: uppercase;
	font-family: $font-family--name;
}
.white-subtitle-lg{
	color: $white;
	font-size: 21px;
	font-family: $font-family--regular;
	font-weight: 300;
	letter-spacing: 0.5px;
}