<div class="col-md-4 pull-right" style="z-index:99999;position:absolute;right:0;background-color:#ffffff;">
			<div uib-collapse="!cartPanelCtrl.isOpen">
				<div ng-repeat="pack in cartPanelCtrl.packs">
					<ul>
						<li class="col-md-12" ng-repeat="product in pack.products">
								<div class="col-md-2">
										<img class="img-responsive" ng-src="{{product.product_info.photo}}" ng-alt="product.product_info.name" ng-title="product.product_info.name">
								</div>
								<div class="col-md-6">
									<a ng-href="{{product.product_info.url}}">
										<span class="row product-name-card" ng-bind="(product.product_info.name)"></span>
										<span ng-if="product.quantity>1" class="row product-name-card">
											<span>X </span>
											<span ng-bind="(product.quantity)"></span>
										</span>
									</a>
								</div>
								<div class="col-md-3">
									<span class="subtotal-amount">€<span ng-bind="product.price*product.quantity"></span></span>
								</div>
						</li>
					</ul>
				</div>
				<div class="col-md-12" style="background-color:#E9E9E9;padding:5px;">
					<span class="col-md-8 text-left shopping-cart-title" translate="cart.TOTAL"></span>
					<span class="pull-right subtotal-amount"><span class="subtotal-amount" ng-bind="cartPanelCtrl.total"></span> €</span>
				</div>
				<div class="text-center">
					<a class="btn btn-medium btn-red" href="/cart"><span translate="cart.cart_panel.GO_TO_CART"></span></a>
				</div>
			</div>
</div>