// ==========================================================================
// About Us
// ==========================================================================
.about-slide-1{
	background-image:url(/imgs/aboutus1.png);
	width: 100%;
    float: left;
    min-height: 603px;
}
.about-slide-2{
	background-image:url(/imgs/aboutus2.png);
	width: 100%;
    float: left;
    min-height: 603px;
}
.about-slide-3{
	background-image:url(/imgs/aboutus3.png);
	width: 100%;
    float: left;
    min-height: 603px;
}
.about-slide-4{
	background-image:url(/imgs/aboutus4.png);
	width: 100%;
    float: left;
    min-height: 603px;
}