// ==========================================================================
// Banner
// ==========================================================================
.carousel-indicators{
    li{
        margin: 1px 5px;
        border: none;
        background-color: $white;
    }
    .active{
        background-color: $red;
        border:1px solid $red;
    }
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    width: 100%;
}
.home-carousel{
    max-height: 400px;
}
.glyphicon-chevron-left:before, .glyphicon-chevron-right:before{
    content: none;
}
.banner-btn i{
	color: $red;
	background-color: $white;
	text-shadow: none!important;
    display: block;
    width: 44px;
    height: 44px;
	font-size: 25px;
    padding-top: 8px;
	@include border-radius(45px,45px,45px,45px);
}

