// ==========================================================================
// Become a deviser
// ==========================================================================
.become-deviser-wrapper{
    .become-deviser-cover{
        background: url('/imgs/become_a_deviser_background.png') no-repeat;
        background-size: cover;
        width: 100%;
        padding-bottom: 59%;
    }
    .call-to-action-wrapper{
        position: relative;
        @extend %block;
        height: 520px;
    }
}
.call-to-action{
    position: absolute;
    top: 85px;
    left: 100px;
    .logo{
        width: 93px;
        margin: 0 auto;
    }
    .tagline{
        color: $white;
        font: 90px $font-family--name;
        text-transform: uppercase;
        letter-spacing: 4px;
        height: 90px;
        text-align: center;
    }
}
.btn-request{
    margin: 0 auto;
    margin: 30px auto;
    padding: 11px 30px;
}
.bca-row{
    margin: 0;
    padding: 0 50px;
    &.second{
        padding: 0 220px;
        margin: 55px 0;
    }
}
.bca-content{
    text-align: center;
    border-right: 1px solid rgba(192,192,192,0.2);
    padding: 0 30px;
    min-height: 200px;
    img{
        width: 100px;
        margin: 0 auto 30px;
        display: block;
        &.clock{
            width: 58px;
            height:58px;
        }
    }
    .title{
        font-family: $font-family--bold;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    p{
        font-family: $font-family--secondary;
        color: $white;
        margin-top:20px;
        position: relative;
        max-width: 270px;
        margin: 20px auto 0;
        &:before{
            content: "";
            position: absolute;
            width: 10px;
            margin: 0 auto;
            height: 1px;
            top: -11px;
            left: 0;
            right: 0;
            border-bottom: 1px solid $white;
        }
    }
}
.big-euro{
    color: $white;
    font-family: helvetica,arial,sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 41px;
}
