// ==========================================================================
// Become a deviser
// ==========================================================================
.become-deviser-wrapper{
	width: 100%;
    float: left;
    background-color: $white;
	.header{
		background: url('/imgs/become-a-deviser-header.jpg') no-repeat;
	}
    .call-to-action-wrapper{
        position: relative;
        @extend %block;
    }
    .become-deviser-container{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        overflow: hidden;
    }
}
.call-to-action{
	padding: 40px 0;
    .logo{
		img{
			display: block;
			width: 140px;
        	margin: 0 auto;
		}
    }
    .tagline{
        color: $white;
        font: 90px $font-family--name;
        text-transform: uppercase;
        letter-spacing: 4px;
        height: 90px;
        text-align: center;
    }
}
.btn-request{
    margin: 0 auto;
    margin: 30px auto;
    padding: 11px 30px;
}
.bca-row{
    padding: 0 40px 40px;
    background-color: #f9f9f9;
    &.second{
        padding: 0 220px;
        margin: 55px 0;
    }
}
.grow-row{
    padding: 80px 0;
    background-color: $white;
	.mega-title{
		text-align: right;
		@media (max-width: 991px){
			text-align: center;
		}
		.first{
			display: block;
			font-size: 189px;
  			font-weight: bold;
			color: $black;
			line-height: 170px;
			@media (max-width: 991px){
				font-size: 124px;
				line-height: 112px;
			}
		}
		.second{
			display: block;
			font-size: 63px;
  			font-weight: bold;
			color: $black;
			@media (max-width: 991px){
				font-size: 55px;
			}
		}
	}
}
.bca-content{
	margin-top: 40px;
    img{
        width: 100px;
        margin: 0 auto 30px;
        display: block;
        &.clock{
            width: 43px;
    		height: 43px;
        }
		 &.community{
		 	width: 97px;
		 }
    }
    .title{
       	font-weight: bold;
		font-size: 26px;
		text-transform: uppercase;
		margin-bottom: 5px;
		margin: 0 auto;
		text-align: center;
    }
    p{
        text-align: center;
		font-size: 17px;
		margin-top: 20px;
		position: relative;
		max-width: 300px;
		margin: 20px auto 0;
    }
}
.big-euro{
    color: $white;
    font-family: helvetica,arial,sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 41px;
}
.third-block-text{
    color: $black;
    width: 365px;
    font-size: 17px;
    margin: 10px auto 120px;
}
.quotation{
    font-family: $font-family--serif;
    font-style: italic;
    font-size: 18px;
    color: $white;
    width: 450px;
    margin: 0 auto 80px;
    text-align: center;
}
.request-invitation-wrapper{
    padding: 20px;
    margin: 0;
    @extend %block;
    .request-invitation-container{
        max-width: 600px;
        margin: 10px auto 40px;
        .title{
            span { 
				color:$black;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 300;
            }
        }
        .add-new{
            @extend %link-red;
            margin: 5px 0 10px 15px;
            display: block;
            float: left;
			width: 100%;
        }
    }
}

.no-pad{
    padding: 0;
}
.optional-input{
   color: #9a9a9a;
    text-transform: uppercase;
    font-size: 10px;
	margin-left: 10px;
}
.ok-sent-mesg-wrapper{
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    color: $white;
    .ok-icon-rounded{
        background-color: $dark_red;//$dark_green;
        @include border-radius(90px,90px,90px,90px);
        height: 50px;
        width: 50px;
        font-size: 18px;
        padding-top: 15px;
        margin-bottom: 15px;
    }
    p{
        font-family:$font-family--serif;
    }
}
.add-portfolio-input{
	position: relative;
}
.close-add-portfolio{
	background-color: #c7c7c7;
	@include border-radius(90px,90px,90px,90px);
	font-size: 11px;
    text-align: center;
    padding: 4px 0 0 1px;
    width: 22px;
    height: 22px;
    display: block;
	cursor: pointer;
    position: absolute;
    right: -32px;
    top: 6px;
}
.express-yourself{
	img{
		width: 388px;
    	margin: 0 auto;
		display: block;
		@media (max-width: 991px){
			width: 300px;
    		margin: 0 auto 20px;
		}
	}
}
.request-invitation-header{
	padding: 50px 0 40px;
	background: url('/imgs/request-invitation.png') no-repeat;
	.title{
        color: $white;
        font-family: $font-family--name;
		font-size: 85px;
		letter-spacing: 4.8px;
		line-height: 70px;
        text-transform: uppercase;
        text-align: center;
		@media (max-width: 768px){
			font-size: 60px;
			letter-spacing: 2px;
			line-height: 50px;
		}
    }
	.tagline{
        color: $white;
        max-width: 444px;
		font-size: 18px;
		margin: 0 auto;
		padding: 0 20px;
    }
}
