// ==========================================================================
// Boxes
// ==========================================================================
.empty-box-text{
	font-family: $font-family--serif;
	font-weight: bold;
	color: $white;
	font-size: 18px;
    letter-spacing: 0.1px;
    margin: 150px 0;
}
.left-box-column{
	background-color: $darker_grey;
	min-height: 325px;
	padding: 20px 30px;
	.title{
		color: $white;
		font-size: 20px;
  		font-weight: bold;
		font-family: $font-family--primary;
		margin: 0 0 20px;
    	display: block;
	}
	p{
		color: $white;
		font-family: $font-family--secondary;
		font-size: 16px;
	}
}
.btn-add-box{
	height: 45px;
	width: 193px;
	padding: 3px 0 0 0;
	font-size: 16px;
	margin: 50px 0 0 0;
}
.image-save-wrapper{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border: 1px solid $light-grey;
	float:left;
}
.save-box-searcher-wrapper{
	input{
		border-right: 0;
		font-size: 16px;
		width: 200px;
	}
	.input-group-addon{
		background-color: $white;
	}
}
.form-save-box{
	float: left;
}
.btn-create-box{
	float: right;
	color: $dark_grey;
	border: 1px solid $dark_grey;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 34px;
    letter-spacing: 0.3px;
}
.save-modal-row{
    width: 100%;
	float: left;
    border-top: 1px solid $background_grey;
	padding: 20px;
}
.save-modal-row-box{
	float: left;
    width: 100%;
	padding: 20px;
	border-top: 1px solid $background_grey;
	overflow: hidden;
	cursor: pointer;
	&:hover{
		background-color: $green;
		.save-box-btn{
			display: inline-block;
		}
	}
	.box-name{
		font-family: $font-family--serif;
		font-weight: bold;
		letter-spacing: 0.5px;
	}
	.save-box-btn{
		border: 1px solid $black;
		font-size: 18px;
    	padding: 0 6px;
		@include border-radius(6px,6px,6px,6px);
		display:none;
	}
}
.modal-box-pad{
	float: left;
    width: 100%;
    min-height: 148px;
    padding: 0px !important;
}
