// ==========================================================================
// Chat
// ==========================================================================
.chat-body {
	border-left: 1px solid $light_grey;
    border-right: 1px solid $light_grey;
    margin-bottom: 0;
    padding-bottom: 0;
    height: calc(100vh - 462px);
    @media(max-width: 991px){
    	height: calc(100vh - 642.65px);
    }
    @media(max-width: 768px){
    	//height: calc(100vh - 67.44px);
    	height: auto;
    }
    div {
    	padding: 0;
	}
    li {
		border-left: 1px solid $light_grey;
		background-color: rgba(233,233,233,0.5);
		&:first-child{
			border-left: none;
		}
		a {
			padding: 1em 0 !important;
    		color: $black;
			font-weight: bold;
			font-family: $font-family--regular;
			font-size: 14px;
			text-transform: lowercase;
    		text-align: center;
			letter-spacing: 0.5px;
			margin: 0;
			&:hover{
				background-color: $background_grey !important;
			}
		}
		&.active{
			background-color: transparent;
			a {
				border: none;
				border-radius: inherit;
			}
		}
	}
	.avatar-logued-user{
		margin: auto;
		float: none;
		border: none;
		//margin: auto 20px;
	}
    .chat-tit{
    	font-size: 16px;
    	font-weight: bold;
    	text-align: left;
    }
    .chat-text{
    	font-size: 15px;
    	font-weight: normal;
    	text-align: left;
    	line-height: 1.1;
    }
    .chat-time{
    	font-size: 12px;
    }
	#chat-chats{
		//display: block;
    	height: 100%;
    	@media(max-height: 768px){
    		height: auto;
    	}
		.nav.nav-tabs{
			li{
				margin-bottom: 0;
				padding: 0;
				a{
					@media(min-width:768px) and (max-width:991px){
						font-size: 11px;
					}
				}
			}			
		}

	}
	.tab-content{
		ul{
			margin-bottom: 0;
			li {
				a{
					border-bottom: 1px solid $light_grey;
				}
			}
		}
	}
	#chat-messages{
	    border-left: 1px solid $light_grey;
	    min-height: 240px;
		//max-height: 400px;
		height: 100%;
		//max-height: calc(100% - 443px);
		//overflow-y: scroll;
		@media(max-height: 600px){
			//max-height: 300px;
		}
		&>div{
			height: 100%;
			&:last-child{
				&>div{
					&>div{
				    	padding: 0.5em 0;
				    	/*
				    	&:first-child{
				    		padding-top: 1em;
				    	}
				    	&:last-child{
				    		padding-bottom: 1em;
				    	}
				    	*/
				    }
			    }
			}
	    }
	    .msgOwner{
	    	background-color: rgba($background_grey,0.5);
	    	display: flex;
	    	//> div:nth-child(2){
	    		//padding-left: 4em;
	    	//}
	    }
		.chat-send{
			padding: 30px 0;
			margin-top: 2px;
			border-top: 1px solid $light_grey;
			background-color: $background_grey_05;
			bottom: 0;
			position: sticky;
			> div:nth-child(1){
				padding: 0 1em 0 2em;
				input{
					padding-left: 5px;
					padding-right: 5px;
				}
			}
			> div:nth-child(2){
				padding: 0 2em 0 1em;
			}
		}
	    input {
	    	@include border-radius(6px,6px,6px,6px);
	    	padding: 0.55em 0;
	    	border: none;
    		line-height: 1.5;
	    }
	}	
	.chat-header{
		border-bottom: 1px solid $light_grey;
		padding: 15px 0 !important;
		color: $black;
		font-weight: bold;
		font-family: $font-family--regular;
		font-size: 14px;
		text-transform: lowercase;
		text-align: center;
		letter-spacing: 0.5px;
	}
	.chat-message-chat{ /*el div que contiene a todos los mensajes*/
		height: calc(100% - 165.60px);
		overflow-y: scroll;
		@media(max-width: 768px){
			height: auto;
			max-height: 300px;
		}
	}
	.activeChat{
		a{
			background-color: rgba($background_grey,0.5);
		}
	}
}