.cart-top-bar{
	background-color: $black;
	height: 31px;
}
.continue-shopping-btn{
	background-color: #ffffff;
	color: $dark_grey;
	@include border-radius(8px,8px,8px,8px);
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	width: 133px;
	height: 21px;
	margin: 4px 0 0 0;
    padding: 5px 0 0 0;
    text-align: center;
	&:hover{
		background-color: $pale_white;
		color: $almost_black;
	}
}
.shopping-cart-wrapper{
	background-color: $white;
	width: 100%;
    float: left;
	padding: 0 15px 80px;
}
.shopping-cart-title{
	text-transform: uppercase;
	font-size: 16px;
    font-weight: bold;
    padding: 0 0 0 10px;//0 0 8px 0;
    display: block;
    margin: 0;//0 10px 0px;
}
.summary-cart-wrapper{
	padding: 0 15px;
	.summary-row{
		display: block;
		width: 100%;
		float: left;
		color:$darker_grey;
	}
	a, button{
		display: block;
		float: none;
	}
}
.subtotal-amount{
	letter-spacing: 0.5px;
	font-weight: bold;
	color: $black;
	font-size: 16px;
	padding: 0;//0 0 0 10px;
}
.checkout-table{
	tr{
		border-bottom: 1px solid #e9e9e9;
	}
	td{
		padding: 10px 0;
		&.deviser{
			    width: 60px;
		}
		&.deviser-name{
			width: 150px;
		}
		&.quantity{
			width: 100px;
		}
		&.subtotal{
			width: 80px;
			position: relative;
		}
		.quntity-number{
			text-align: center;
			width: 60px;
			display: block;
		}
		.subtotal-delete{
			display: block;
			text-transform: uppercase;
			font-size: 10px;
			a{
				color: $black!important;
				font-size: 25px;
				position: absolute;
				bottom: 10px;
				right: 25px;
			}
		}
	}
	.title-checkout{
		color: $grey;
		font-weight: bold;
		text-transform: uppercase;
	}
	.deviser-name{
		text-align: left;
		color: $black;
		font-weight: bold;
		font-size: 16px;
		margin-left: 8px;
		vertical-align: middle;
	}
	.tag-name{
		color: $dark_grey;
	}
}
.img-checkout-wrapper{
	width: 130px;
    height: 111px;
	overflow: hidden;
	border: solid 1px #d7d7d7;
	img{
		max-height: 109px;
		margin: 0 auto;
    	display: block;
	}
}
.personal-info-wrapper{
	width: 100%;
	float: left;
	background-color: $white;
	padding: 0 0 120px 0;
	input, button{
		@include border-radius(6px,6px,6px,6px); 
		&.btn-green{
			@include border-radius(4px,4px,4px,4px); 
			margin-top: 10px;
		}
	}
}
.shopping-cart-section-header{
	text-transform: uppercase;
	font-size: 14px;
	padding: 15px;
    font-weight: bold;
	float: left;
	width: 100%;
    display: block;
	background-color: #e9e9e9;
}
.checkout-sidebar{
	background-color: #f4f4f4;
	margin: 0 auto;
}
.deviser-name-item{
	text-align: left;
	margin: 15px 0;
    display: block;
    float: left;
	font-weight: bold;
}
.form-personal-info{
	margin: 10px 0px!important;
	label{
		margin-top: 9px;
		color: $darker_grey;
	}
}
.billing-header{
	margin: 18px 0 16px 15px;
    font-weight: bold;
    display: block;
}
.summary-white-item{
	background-color: #ffffff;
	padding: 15px;
	border-bottom: 1px solid #e9e9e9;
	float: left;
	width: 100%;
	.product-name{
		width: 290px;
		float: left;
		display: block;
		color:$darker_grey;
	}
}
.bordered-left{
	border-left: 1px solid #f4f4f4;
}
.text-green{
	color: $dark_green;
}
.subtotal-amount-wrapper{
	float: left;
    width: 100%;
    margin: 15px 0;
	text-transform: uppercase;
}
.label-personal{
	color: $dark-grey;
	min-width: 57px;
    display: block;
    float: left;
}
.success-header{
	background-color: $almost_black;
	padding: 20px 0;
	margin: 0px 0 50px;
}
.green-title{
	color: $green;
	display: block;
	font-style: italic;
	font-size: 16px;
	margin: 0 0 10px;
}
.success-header-message{
	font-size: 26px;
	display: block;
	color: $white;
	letter-spacing: 0.7px;
}
.success-header-tagline{
	color: $white;
	font-size: 14px;
	display: block;
}
.table-order-success{
	border-top: 1px solid $dark_grey;
	border-bottom: 1px solid $dark_grey;
	tbody{
		tr{
			td{
				border:0;
				&.table-label{
					color: $darker_grey;
				}
			}
		}
	}
}
.order-success-summary-wrapper{
	border-top: 1px solid $dark_grey;
	border-bottom: 1px solid $dark_grey;
	width: 100%;
    float: left;
    margin: 0 0 150px;
	.deviser-name-item{
		padding: 0 0 15px;
		margin: 15px 0 0 0;
		border-bottom: 1px solid $dark_grey;
	}
	.summary-white-item{
		border-bottom: 1px solid $dark_grey;
		background-color: transparent;
		padding: 15px 0 20px;
		.img-checkout-wrapper{
			width: 38px;
			height: 38px;
			margin: 0 15px 15px 0;
			    padding: 0;
		}
	}
}
.checkout-title{
	display:block;
	width: 100%;
	float: left;
	.cart-icon-black{
		display: inline;
		//float: left;
		margin: 0 10px 0;//15px 10px 0 0;
	}
	.shopping-cart-title{
		float: left;
		font-size: 18px;
    	font-weight: bold;
	}
}
.product-name-card{
	display: block;
	color: $black;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
.shopping-cart-quantity-number{
	font-size: 20px;
	padding: 0 10px;
}
.summary-side{
	padding-top: 20px!important;
}
.summary-cart-wrapper-full{
	padding: 0 15px;
	margin: 89px 0 20px;
	background-color: #eccacf;
    width: 100%;
    float: left;
}
.deviser-shipping-wrapper{
	background-color: #eccacf;
	width: 100%;
    float: left;
}
.shipping-text{
	float: right;
	margin: 15px 15px 0 0;
	text-transform: uppercase;
}
.price-bold{
	font-weight: bold;
}
.grey-text{
	font-size: 14px;
	color: $grey;
}
.personal-info-wrapper{
	width: 100%;
	float: left;
	margin: 0;
    padding: 0 0 20px;
}
.deviser-title-wrapper{
	width:100%;
	float: left;
	padding: 30px 0;
}
.deviser-product-wrapper{
	width: 100%;
    float: left;
    padding: 30px 0;
    border-bottom: 1px solid #b7bcc0;
    margin-left: 0;
    margin-right: 0;
}
.title-deviser-shipping{
	font-weight: bold;
    margin-top: 15px;
    display: block;
}
.checkout-sidebar .payment-methods-wrapper label {
    margin-top: 0 !important;
}
.payment-methods-wrapper{
	background-color: $white;
	padding: 30px 0;
}
.grey-text{
	color: #b7bcc0;
}
.success-text{
	font-family: $font-family--name;
	color: $dark_red;
	font-size: 48px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
cart-panel {
    display: block;
}
cart-panel > .container{
	position: relative;
}
cart-panel .cart-panel-div {
    box-shadow: 0 2px 4px 0 #9a9a9a;
    padding: 0 0 1em;
}
.px-2 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.price-bigger{
	font-size: 21px;
}