.cart-top-bar{
	background-color: #bfbfbf;
	height: 31px;
}
.continue-shopping-btn{
	background-color: #ffffff;
	color: $dark_grey;
	@include border-radius(8px,8px,8px,8px);
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	width: 133px;
	height: 21px;
	margin: 4px 0 0 0;
    padding: 5px 0 0 0;
    text-align: center;
	font-family: $font-family--bold ;
	&:hover{
		background-color: $pale_white;
		color: $almost_black;
	}
}
.shopping-cart-wrapper{
	background-color: $white;
	width: 100%;
    float: left;
	padding: 0 15px 80px;
}
.shopping-cart-title{
	text-transform: uppercase;
	font-family: $font-family--bold;
	font-size: 14px;
	border-bottom: 1px solid $dark_grey;
	padding: 15px 0;
    margin: 0 15px 15px;
    display: block;
}
.summary-cart-wrapper{
	padding: 0 15px;
	.summary-row{
		display: block;
		width: 100%;
		float: left;
		color:$darker_grey;
	}
}
.subtotal-amount{
	letter-spacing: 0.5px;
	font-weight: bold;
	color: $dark_green;
	padding: 0 0 0 3px;
}
.checkout-table{
	td{
		padding: 10px 0!important;
		&.deviser{
			    width: 60px;
		}
		&.deviser-name{
			width: 120px;
		}
		&.quantity{
			width: 80px;
		}
		&.subtotal{
			width: 60px;
		}
		.product-name{
			font-family: $font-family--bold;
		}
		.quntity-number{
			text-align: center;
			width: 60px;
			display: block;
		}
		.subtotal-delete{
			display: block;
			font-family: $font-family--secondary;
			text-transform: uppercase;
			font-size: 10px;
			a{
				color: $dark_grey!important;
			}
		}
	}
	.title-checkout{
		font-family: $font-family--secondary;
		color: $dark_grey;
		text-transform: uppercase;
	}
	.deviser-name{
		text-align: left;
		font-family: $font-family--bold;
	}
	.tag-name{
		color: $dark_grey;
	}
}
.img-checkout-wrapper{
	width:82px; 
	height:70px;
	overflow: hidden;
	border: solid 1px #d7d7d7;
	img{
		max-height: 70px;
		margin: 0 auto;
    	display: block;
	}
}
.personal-info-wrapper{
	width: 100%;
	float: left;
	background-color: $white;
	padding: 0 0 120px 0;
	input, button{
		@include border-radius(90px,90px,90px,90px); 
		&.btn-green{
			@include border-radius(4px,4px,4px,4px); 
			margin-top: 10px;
		}
	}
}
.shopping-cart-section-header{
	text-transform: uppercase;
	font-family: $font-family--bold;
	font-size: 14px;
	padding: 15px 0;
    margin: 0 0 15px;
    display: block;
	background-color: #e9e9e9;
}
.checkout-sidebar{
	background-color: #f4f4f4;
}
.deviser-name-item{
	text-align: left;
	font-family: $font-family--bold;
	margin: 15px 0;
    display: block;
    width: 100%;
    float: left;
}
.form-personal-info{
	margin: 10px 0px!important;
	label{
		margin-top: 9px;
		color: $darker_grey;
		font-family: $font-family--secondary;
	}
}
.billing-header{
	margin: 18px 0 16px 15px;
    font-weight: bold;
    display: block;
}
.summary-white-item{
	background-color: #ffffff;
	padding: 15px;
	border-bottom: 1px solid #e9e9e9;
	float: left;
	width: 100%;
	.product-name{
		width: 290px;
		float: left;
		display: block;
		color:$darker_grey;
		font-family: $font-family--bold;
	}
}
.bordered-left{
	border-left: 1px solid #f4f4f4;
}
.text-green{
	color: $dark_green;
}
.subtotal-amount-wrapper{
	float: left;
	width:100%;
	margin: 15px 0;
}
