// ==========================================================================
// Create deviser account
// ==========================================================================
.create-deviser-account-wrapper{
    padding: 80px 200px;
    .logo{
        width: 110px;
        margin: 0 auto;
    }
    .create-deviser-account-container{
        background-color: $almost_black;
        padding: 20px 40px;
        max-width: 330px;
        margin: 60px auto 0;
    }
}
