// ==========================================================================
// Create deviser account
// ==========================================================================
.create-deviser-account-wrapper{
    padding: 30px 200px 200px;
	background-color: $black;
    .logo{
        width: 110px;
        margin: 0 auto;
    }
    .create-deviser-account-container{
        max-width: 340px;
        margin: 60px auto 0;
        ::-webkit-input-placeholder {
            color: $light_grey;
            font-size: 12px;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: $light_grey; 
            font-size: 12px;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            color: $light_grey;  
            font-size: 12px;
        }

        :-ms-input-placeholder {  
            color: $light_grey;  
            font-size: 12px;
        }
    }
}
.invitation-messages{
    text-align: center;
    color: $white;
    width: 600px;
    margin: 40px auto;
    p{
        font-size: 17px;
        font-family: $font-family--secondary;
        margin: 20px 0 40px;
    }
}
.remember-me{
    label{
        text-transform: none;
        font-family: $font-family--secondary;
        font-size: 14px;
    }
}
.remember-me label::before{
    background-color: $dark_grey;
    border:1px solid $darker_grey;
}
.remember-me label::after{
    color: $background_grey;
}
.title-create-account{
	color: $white;
	.first-title{
		font-size: 24px;
		text-align: center;
		display: block;
		width: 110px;
		text-transform: uppercase;
		font-family: $font-family--bold;
	}
	.second-title{
		font-family: $font-family--serif;
		font-size: 18px;
		width: 110px;
		display: block;
		text-align: center;
		margin: -5px 0 5px;
	}
}
.image-create-account{
	img{
		width: 95px;
		margin: 0 auto;
		display: block;
	}
}
