// ==========================================================================
// Deviser Videos
// ==========================================================================
.video-container{
    margin: 40px 0;
    @extend %block;
    .input-video{
        width: 80%;
        margin: 0 auto 40px;
        .input-group-addon{
            @include border-radius(30px,0,0,30px);
            background-color: $light_grey;
            color: $almost_black;
            font: 14px $font-family--bold;
            padding-top: 16px;
            padding-left: 20px;
        }
        .input-add-video{
            width: 98%;
            @include border-radius(0,30px,30px,0);
        }
        .btn-add-video{
            color: $red;
            border: 1px solid $white;
            background-color: $light_grey;
            padding: 0;
            @include size(44px,44px);
            @include border-radius(30px,30px,30px,30px);
        }
    }
    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        margin-bottom: 6.5%;
    }
    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .video-row{
        background-color: $light_grey;
        margin-bottom: 30px;
        padding: 25px 10px 20px;
        cursor: move;
        float: left;
    }
}
.dragg-video-wrapper{
    position: relative;
    .title{
        font: 16px $font-family--bold;
        text-align: center;
        display: block;
        margin: 0 0 20px;
        text-transform: uppercase;
    }
    .open-drag-icons{
        position: absolute;
        top: -15px;
        right: 0;
        span{
            background-color: $dark_grey;
            font-size: 18px;
            color: $white;
            @include size(30px,30px);
            display: block;
            float: left;
            text-align: center;
            padding-top: 3px;
            margin-left: 6px;
            @include border-radius(7px,7px,7px,7px);
            &.move{
                cursor: move;
            }
            &.x-close{
                cursor:pointer;
            }
        }
    }
}
.edit-video-wrapper{
    .input-group-addon{
        @include border-radius(30px,0,0,30px);
        background-color: $white;
        border-right: 0;
        span{
            font-size: 19px;
            color: $dark_grey;
        }
    }
    .edit-video-input{
        @include border-radius(0,30px,30px,0); 
        border-left: 0;
    }
}
.tagged-works{
    @extend %block;
    margin-top: 20px;
    background-color: $background_grey;
    border: 1px solid $white;
    cursor: auto;
    .produts-tags-wrapper{
        @extend %block;
        padding: 20px 10px;
    }
    .title{
        font: 16px $font-family--bold;
        text-transform: uppercase;
        display: block;
        border-bottom: 1px solid $white;
        text-align: left;
        padding: 20px 20px 10px;
        margin: 0;
    }
    .tag-row{
        padding: 20px;
        @extend %block;
        border-bottom: 1px solid $dark_grey;
    }
}
.no-tags-title{
    font: 16px $font-family--secondary;
    color: $almost_black;
    text-align: center;
    margin: 20px 0;
}
.no-tags-text{
    font: 16px $font-family--secondary;
    color: $dark_grey;
    text-align: center;
    margin: 20px 80px;
}
.no-video-text{
        font: 16px $font-family--serif;
    }
.empty-wrapper{
    padding: 40px 0;
    text-align: center;
	min-height: 580px;
}
.tag-select-row{
    padding: 20px;
    @extend %block;
    background-color: $white;
    border-bottom: 1px solid $dark_grey;
}
.video-edit-list{
    li{
        background-color: $background_grey;
        list-style: none;
        border: 4px dashed $dark_grey;
        min-width: 915px;
        height: 400px;
        float: left;
        display: block;
        margin: 0 0 20px;
        padding: 0;
    }
}
.red-close{
    color: $white;     
    background-color: $red;
    @include border-radius(90px,90px,90px,90px);
    font-size: 12px;
    width: 24px;
    height: 24px;
    padding: 6px 0 0 0;
    text-align: center;
    float: right;
    &:hover{
        background-color:$dark_red;
        @include transition-property(color);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-out);
    }
}
.green-add{
    color: $white;     
    background-color: $green;
    @include border-radius(90px,90px,90px,90px);
    font-size: 12px;
    width: 24px;
    height: 24px;
    padding: 6px 0 0 0;
    text-align: center;
    float: right;
    &:hover{
        background-color:$dark_green;
        @include transition-property(color);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-out);
    }
}
.add-tag-video-wrapper{
    height:215px;
    overflow-y:scroll;
    background:white; width:400px;
    margin:0 auto;
}
.add-videos-wrapper{
    width: 80%;
    @include border-radius(20px,20px,20px,20px);
    text-align: center;
    margin: 0 auto 20px;
    padding: 20px 20px 0;
    border: 1px solid $dark_grey;
    cursor: pointer;
    background-color: #e9e9e9;
    &:hover{
        .plus-add{
            background-color: $dark_green;
            @include transition-property(background-color);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-out);
        }
    }
    .plus-add{
        background-color: $green;
        border: 1px solid $black;
        margin: 0 auto;
        font-size: 43px;
        text-align: center;
        @include size(50px,50px);
        @include border-radius(90px,90px,90px,90px);
        span{
            display: block;
            margin: -9px 0 0 0;
        }
    }
}
.video-tag-wrapper{
    background-color: $white;
    border: 1px solid $light_grey;
    @include border-radius(30px,30px,30px,30px);
    overflow: hidden;
    height: 26px;
    padding: 2px 10px;
    margin: 5px 0;
}
.red-cross{
    float: left;
    color: #F7284B;
    font-size: 12px;
    width: 24px;
    height: 24px;
    padding: 2px 0 0 0;
}

