// ==========================================================================
// Deviser Loved
// ==========================================================================
.image-loved{
	width: 500px;
    margin: 20px 0 0 0;
}
.title-loved{
	margin: 30px auto;
	//margin-bottom: 15px;
	@media(max-height: 575px){
		display: none;
	}
}