// ==========================================================================
// Deviser FAQs
// ==========================================================================
.faq-wrapper{
    margin: 117px 0 70px;//80px 0 120px;
    .section-title{
        color: $dark_grey;
        border: 0;
        padding: 0;
        margin: 5px 0 25px 15px;
    }
    .faq-panel{
        margin-bottom: 0;
        background-color: transparent;
        @include box-shadow(0,0,0,transparent);
        .panel-heading-faq{
            padding: 0px 15px 15px;
            border-bottom: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            .faq-title{
                color: $black;
                text-transform: uppercase;
                font-weight: bold;
                padding: 0 10px 5px 0;
                &:before{
                    font: 14px $font-family--glyphicons;
                    content: "\2212";
                    color: $black;
                    vertical-align: middle;
    				padding: 0 10px 0 0;
                }
                &.collapsed:before{
                    content: "\002b";
                    color: $black;
                }
                &.collapsed{
                    border-bottom: 0;
                }
            }
        }
        .faq-answer{
            padding: 5px 15px 30px;
            p{
                color: $black;
                font-size: 14px;
                margin: 0 23px 20px;
            }
        }
    }
}
.edit-faq-btn{
    margin: 0 auto;
    max-width: 140px;
    display: block;
}
.faq-edit-empty{
    p{
        font-size:16px;
        text-align: center;
        margin: 20px 0;
    }
}
.edit-faq-wrapper{
    @extend %block;
    margin: 0;//15px 0;
    .plus-add{
        background-color: $red;//$green;
        border: 1px solid $black;
        margin: 0 auto;
        font-size: 43px;
        text-align: center;
        @include size(50px,50px);
        @include border-radius(90px,90px,90px,90px);
        span{
            display: block;
            margin: -9px 0 0 0;
        }
        &:hover{
            background-color: $dark_red;//$dark_green;
            @include transition-property(background-color);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-out);
        }
    }
}
.edit-faq-panel{
	width: 80%;
    @extend %block;
    background-color: $pale_white;
    padding: 5px;
    @include border-radius(6px,6px,6px,6px);
    margin: 0 0 50px;
}
.delete-link{
    color: $dark_grey;
    margin: 0 0 5px 15px;
    &:hover{
        color: $light_grey;   
    }
}
.faq-language-menu{
    ol{
        background-color:$pale_white!important;
        border-bottom: 1px solid #fff!important;
        @include border-radius(0px,0px,0px,0px);
        button{
            color: $black!important;
            border-top: 1px solid transparent!important;
            border-left: 1px solid transparent!important;
            border-right: 1px solid transparent!important;
            background-color: transparent!important;
            border-bottom: 1px solid $red!important;
            background-color:$pale_white!important;
            width:94px!important;
            @include border-radius(0px,0px,0px,0px);
            text-transform: uppercase;
        }
    }
    .dropdown-menu{
        background-color:$background_grey!important;
    }
    ul{
        border-bottom: 1px solid #fff;
        background-color: $background_grey!important;
        li{
            &:hover{
                @include box-shadow(0,0,0,transparent);
            }
            a{
                &:hover{
                    background-color:$white;
                }
                &:focus{
                    background-color:$light_grey;
                }
            }
        }
    }
}
.add-lang{
    float: left;
    display: block;
    margin: 11px 0 0 10px;
    @extend %link-red;
}
.questions{
    @extend %block;
    padding: 10px;
}
.faq-row{
    @extend %block;
    margin: 10px 0;
}
.faq-edit-question{
    font-size: 16px;
    display: block;
    margin: 9px 0 0;//12px 0 0 0;
    color: $new_grey;
}
.faq-edit-answer{
    font-size: 16px;
    background-color: $white;
    border: none;//1px solid $light_grey;
    color: $new_grey;
    padding: 10px;
	height: auto;
    width:100%;
    @include border-radius(6px,6px,6px,6px);
    .form-control{
        border: 0;
    }
}
.btn-done{
    width: 180px;
    margin: 0 auto;
    display: block;
}
.sad-face{
    width: 50px;
    margin: 20px auto;
    display: block;
}
.nya-bs-select.btn-group .dropdown-menu {
    min-width: 152px!important;
    margin-top: 10px;
}
.lang-selected{
    background-color: $green!important;
    a{
        background-color: $green!important;
    }
    a:hover{
        background-color: $green!important;   
    }
    a:focus{
        background-color: $green!important;   
    }
}
.ok-white-icon{
    color: $white;
}
.faq-edit-list{
    li.dndPlaceholder{
        background-color: $background_grey;
        list-style: none;
        border: 4px dashed $dark_grey;
        width: 100%;
        height: 192px;
        float: left;
        display: block;
        margin: 0 0 20px;
        padding: 0;
    }
}
.faq-row{
    .ta-editor.ta-html, .ta-scroll-window.form-control {
        cursor: text;
        min-height: auto!important;
    }
    .ta-root.focussed > .ta-scroll-window.form-control {
        height: auto!important;
    }
}
.red-link-btn{
    color: $dark_red;
    text-align: center;
    margin-bottom: 10px;
    display: block;
	//text-decoration: underline;
    text-transform: lowercase;//uppercase;
    font-weight: bold;
    font-size: 16px;
    &:first-letter {
        text-transform: capitalize;
    }
    &:hover{
        color: $dark_red;
    }
	&.top{
		z-index: 99;
		cursor: pointer;
		position: relative;
	}
}
.showcase{
	&.influencers{
		    min-height: 250px;
			img{
				max-width: 286px;
			}
	}
}
.edit-faq-panel-wrapper{
	width: 100%;
	float: left;
	position: relative;
    button {
        border: none;
        color: $dark_grey;
    }
}
/*.delete-linfs-wrapper{
	width: 80%;
}*/
.delete-links-wrapper {
    margin-right: 200px;
}
.faq-lang{
	position: absolute;
    width: 170px!important;
    right: 0;
    top: 20px;
}
.faq-row .col-sm-2 {
    padding-right: 0;
}
.faq-wrapper.faq-edit-list{
    #link-faq-done{
        display: block;
        margin-top: -30px;
        position: relative;
        float: left;
    }
    #btn-faq-add-question{
        display: block;
        width: 66.66666667%;
    }
}