// ==========================================================================
// Deviser About
// ==========================================================================
.about-wrapper{
    width: 100%;
    padding: 40px 60px;
    .about-container{
        max-width: 300px;
        margin: 0 auto;
        .title{
            font-size: 115px;
            text-transform: uppercase;
            color: #2a2929;
            letter-spacing: -7px;
            line-height: 89px;
            display: inline-block;
        }
        .name-location-wrapper{
            display: inline-block;
        }
        .name{
            @extend %ultra-condensed-white-title;
            @extend %block;
            font-size: 54px;
        }
        .location{
            @extend %white-text;
            text-align: right;
            margin: -15px 0 0 0;
        }
        .subtitle{
            @extend %white-text;
            font-style: italic;
            margin: 40px 0 50px;
            font-size: 16px;
        }
        .resume-header{
            @extend %white-text;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            padding: 20px 0;
            margin: 0 0 60px;
            font-size: 16px;
        }
        .deviser-biography{
            height: 1049px;
            overflow: scroll;
            p{
                @extend %white-text;          
                padding: 10px 20px 10px 0;
                font-size:14px;
            }
        }
    }
}
.about-bg{
    background-color: $black;
    padding: 0;
}
.about-grid{
    background-color: #404040;
    min-height: 900px;
    .item{
        img{
            height: 100%;
            width: 100%;
            @include opacity(0.8);
            cursor: pointer;
            &:hover{
                @include opacity(1);
            }
        }
    }
}
.loader-about{
    width: 100%;
    height: 250px;
    border: 1px solid $black;
    margin: 0;
    .plus-add{
            margin: 50px auto 10px;
    }
}
.image-about-edit{
    max-height: 180px;
    overflow: hidden;
    span{
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
        background-color: $dark_grey;
        font-size: 18px;
        color: $white;
        @include size(30px,30px);
        display: block;
        float: left;
        text-align: center;
        padding-top: 3px;
        margin-left: 6px;
        @include border-radius(7px,7px,7px,7px);
        &.x-close{
            cursor:pointer;
        }
    }
}
.editable-text-about{
    color: $white;
    border: 1px solid $white;
    padding: 60px 10px 10px 10px;
    .ta-scroll-window > .ta-bind {
        padding: 0;
    }
}
.about-edit-list{
    li{
        background-color: $background_grey;
        list-style: none;
        border: 4px dashed $dark_grey;
        width: 33%;
        height: 180px;
        float: left;
    }
}
.about-edit-select{
    z-index: 9;
    &.lang{
        margin-bottom: 20px;
    }
    span{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }
    button{
        background-color: transparent!important;
        color: $black!important;
        border: 1px solid transparent;
        border-bottom: 1px solid $red;
        padding-left: 0;
        @include border-radius(0,0,0,0);
        &:hover{
            border: 1px solid transparent!important;
            border-bottom: 1px solid $red!important;
            background-color: transparent;
            color: $white;
        }
        &:active{
            border: 1px solid transparent!important;
            border-bottom: 1px solid $red!important;
            background-color:transparent;
            color: $white;
            border: 1px solid transparent;
        }
        &:focus{
            border: 1px solid transparent!important;
            border-bottom: 1px solid $red!important;
            background-color: transparent;
            color: $white;
            border: 1px solid transparent;
        }
    }
    .caret{
        color: $black;
    }
    .dropdown-menu{
        width: 100%;
        ul{
            li{
                &.selected{
                    background-color: $green;
                }
                &:focus{
                    background-color: transparent;
                }
                a{
                    font-family: $font-family--secondary;
                    font-style: normal;
                    &:hover{
                        background-color: $green;
                    }
                }
                span.check-mark{
                    color: $white;
                }
            }
        }
    }
    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        color: $black;
        text-decoration: none;
        background-color: transparent;
    }
}
.pencil-edit{
    color: $white;
    font-size:14px;
}
.edit-cover-photo-icon{
    color: $white;
    font-size: 40px;
    width: 60px;
    height: 60px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    background-color: $black;
    @include border-radius(90px,90px,90px,90px);
    display: block;
    z-index: 999;
    padding-top: 1px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    &.centered{
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
}
.edit-cover-crop-icon{
    color: $white;
    background-color: $red;
    font-size: 45px;
    width: 88px;
    height: 88px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    top: 70px;
    right: 500px;
    border-radius: 51px;
    display: block;
    z-index: 999;
    padding-top: 10px;
}
.edit-avatar-photo-icon{
    color: $white;
    font-size: 32px;
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 49px;
    background-color: $black;
    height: 50px;
    width: 50px;
    padding: 2px 0 0 12px;
    @include border-radius(90px,90px,90px,90px);
}
.crop-avatar-photo-icon{
    color:$white;
    font-size: 19px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    top: 12px;
    width: 40px;
    border-radius: 24px;
    background-color: $red;
    padding-top: 7px;
    right: 33px;
    height: 40px;
}
.absolute-pencil{
    position: absolute;
    top: 188px;
    left: 529px;
}
.top-bar-red{
    background-color: $violet;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 999;
    span{
        color: $white;
        text-align: center;
        width: 100%;
        display: block;
        padding: 19px;
    }
    button{
        float: right;
        border:1px solid $white;
        font-size: 12px;
        position: absolute;
        right: 20px;
        top: 10px;
        background-color: transparent;
        &:hover{
            background-color: #753cca;
        }
    }
}
.see-resume-wrapper{
    a{
        color: $white;
    }
    span{
        cursor: pointer;
        padding: 0 0 0 10px;
    }
}

.ta-scroll-window > .ta-bind {
    padding: 0!important;
    min-height: auto!important;
}
.short-description-input{
    color: $white;
    border: 1px solid $white;
    background-color: transparent;
    height: 115px;
    width: 450px;
    margin-top: 20px;
    padding: 40px 10px 10px 10px;
    font-size: 16px;
    letter-spacing: 0.7px;
    font-family: $font-family--serif;
}
.text-limitation{
    color: $white;
    position: absolute;
    top: 110px;
    right: 35px;
    font-family: $font-family--serif;
}
.location-edit{
    color: #ffffff;
    background-color: transparent;
    border: none;
    padding-left: 0;
    font-size: 20px;
    font-family:$font-family--serif;
}
.editable-name{
    font-family: $font-family--name;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 4.9px;
    line-height: 50px;
    display: inline-block;
    font-size: 80px;
    p{
        padding: 0;
        margin: 0;
    }
}
.header-lang{
    position: absolute;
    top: 199px;
    left: 33px;
}
.short-description-input-wrapper{
    position:relative;
    textarea{
        padding-top: 40px;
        max-height: 110px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $white;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $white;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $white;
    }
}
.deviser-data{
    .open > .dropdown-toggle.btn-default {
        border-color: transparent !important;
        border-bottom: 1px solid $white!important;
    }
}
.editable-text-about-wrapper{
    position:relative;
}
.about-edit-select.lang  {
    position: absolute;
    top: 5px;
    left: 10px;
}
.grey-form{
    label{
        text-transform: uppercase;
        color: $black;
        font-family: $font-family--bold;
        margin: 15px 0 0 0;
    }
    ol.work-field{
        .dropdown-menu {
            min-width: 214px !important;
            margin-top: 0px;
            left: 14px;
        }
        button{
            margin: 4px 0 0 0;
            min-width: 245px;
            @include border-radius(90px,90px,90px,90px);
            .caret{
                color:$dark_grey;
            }
        }
    }
}
.deviser-data-about-edit{
    background-color: $background_grey;
    padding:10px 20px 20px;
    width: 328px;
    position: absolute;
    top: 260px;
    left: 40px;
    @include border-radius(6px,6px,6px,6px);
    label {
        margin-left: 10px !important;
    }
    .small-grey{
        margin-left: 10px;
            width: 100%;
    float: left;
    }
}
.textarea-edit-about{
    .ta-text{
        padding: 45px 10px 10px 10px!important;
        @include border-radius(20px,20px,20px,20px)
    }
}
.ta-root.focussed > .ta-scroll-window.form-control {
    box-shadow: none!important;
    border-color: none!important;
    outline: 0px;
}
.ta-root.focussed > .ta-scroll-window.form-control {
    border-color: $light_grey!important;
}
.text-profile-lang{
    position: absolute;
    top: 143px;
    left: 33px;
}
.open > .dropdown-toggle.btn-default {
    background-color: transparent !important;
    border-color: transparent !important;
    border-bottom: 1px solid $red!important;
}
.optional-text{
    color: $dark_green;
    font-size: 10px;
    margin-top: 15px;
    margin-left: 10px;
}
.btn-upload-file{
    border: 1px solid $dark_grey;
    margin-left: 10px;
}
