// ==========================================================================
// Deviser Network
// ==========================================================================
.loader-post{
	@include size(100%,250px);
	margin: 20px 0 20px;
	@include border-radius(6px,6px,6px,6px);//border-radius(20px,20px,20px,20px);
	background: $background_grey url("/imgs/product_placeholder_ico.svg") no-repeat center center;
	border: none;
	padding-top: 160px;
}
.add-post{
	.nya-bs-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		min-width: auto !important;
	}
	.textarea-edit-about{
		width: 75%;
		margin-bottom: 20px;
	}
}
.posts-text{
	font-size: inherit;
	font-weight: normal;
	color: $black;
	display: block;
	margin-top: 8px;
	line-height: 0.8em !important;
}
.see-more{
	color: $dark-red;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 8px;
}
#content-posts {
	figcaption {
		position: relative;
		padding: 0;
		height: auto;
		background-color: none;
		margin-top: 0px !important;
	}
}
.posts-edit{
	height: 30px;
}
.edit-post-icon {
	position: absolute;
	bottom: 2px;
	right: 30px;
	z-index: 100;
	i {
		color: #c91c39;
		font-size: 16px;
	}
}
.close-post-icon {
	background-color: $background_grey;
	display: block;
	position: absolute;
	//bottom: 0;
	right: 0;
	@include size(20px, 20px);
	margin-top: 5px;
	background: url('/imgs/delete-red.svg') 0 0 no-repeat transparent;
	z-index: 100;
}
.posts-text {
	font-size: inherit;
	font-weight: normal;
	color: $black;
	display: block;
	line-height: 0.8em !important;
}
.images-box{
	width: 100%;
	@media(min-width: 1200px){
		height: 240px;
	}
	@media(max-width: 1199px) and (min-width: 992px){
		height: 210px;
	}
	@media(max-width: 991px) and (min-width: 601px){
		height: 190px;
	}
	@media(max-width: 600px) and (min-width: 530px){
		height: 160px;
	}
	@media(max-width: 529px) and (min-width: 400px){
		height: 130px;
	}
	@media(max-width: 399px){
		height: 110px;
	}
	max-height: 240px;
	overflow: hidden;
	position: relative;
	img {
		position: absolute;
		left: 0;
		top: 0;
		margin: auto;
	}
}
.images {
	@include size(100%,300px);
	max-height: 300px;
	overflow: hidden;
	position: relative;
}
#content-posts {
	.heart-icon {
		width: 30px;
		height: 30px;
		display: inline-block;
		vertical-align: middle;
		//position: absolute;
		//bottom: 0;
		//right: 10px;
	}
	.heart-num {
		//position: absolute;
		text-align: right;
		//right: 48px;
		//bottom: 5px;
		font-size: 1.2em;
		padding: 0 8px 10px 0;
	}
}
.network{
	li{
		text-transform: uppercase;
		&:hover, &.active{
			color: $dark_red;
			a {
				color: $dark_red !important;
			}
		}
	}
}
