// ==========================================================================
// Deviser Header
// ==========================================================================
.banner-deviser{
    position: relative;
    background-color: $background_grey;
    .cover{
        width:100%;
    }
}
.banner-deviser-content{
    @extend %absolut-bottom;
    padding: 30px 0;
    .grey-overlay{
        @extend %absolut-bottom;
        @include size(100%,80%);
        background-color: $almost_black;
        @include opacity(0.45)
    }
    .deviser-profile{
        position: relative;
        .avatar{
            float: left;
            position: relative;
            img{
                @include size(155px,155px);
                @extend %avatar-border;
                border-width: 3px;
                margin-top: -50px;
            }
        }
        .deviser-data{
            float: left;
            margin: 0 30px;
            .name{
                @extend %ultra-condensed-white-title;
                font-size: 80px;
            }
            .location{
                @extend %white-text;
                font-size: 20px;
            }
            .description{
                @extend %white-text;
                max-width: 350px;
                margin-top: 30px;
            }
        }
    }
}
.deviser-data-edit{
    width: 300px;
    position: absolute;
    top: -8px;
    left: 200px;
    background-color: $background_grey;
    float: left;
    margin: 0 30px;
    padding: 20px;
    @include border-radius(6px,6px,6px,6px);
}
.deviser-header-edit-wrapper{
    position: relative;
    padding-top:200px;
}