// ==========================================================================
// Deviser Press
// ==========================================================================
.photo-loader{
    @include size(309px,400px);
    text-align: center;
    margin: 0 2px 7px;
    padding: 20px;
    border: 1px solid $black;
    background-color: $light_grey;
    cursor: pointer;
    display: inline-block;
    &:hover{
        .plus-add{
            background-color: $dark_green;
            @include transition-property(background-color);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-out);
        }
    }
    .plus-add{
        background-color: $green;
        border: 1px solid $black;
        margin: 0 auto;
        font-size: 43px;
        text-align: center;
        @include size(50px,50px);
        @include border-radius(90px,90px,90px,90px);
        span{
            display: block;
            margin: -9px 0 0 0;
        }
    }
    span{
        font-family: $font-family--serif;
    }
}
.draggable-list{
    &.list-group{
        color: $background_grey;
    }
    .image-press-wrapper{
        position: relative;
        @extend %block;
        margin-bottom: 8px;
        span{
            position: absolute;
            z-index: 1;
            top: 10px;
            right: 10px;
            background-color: $dark_grey;
            font-size: 18px;
            color: $white;
            @include size(30px,30px);
            display: block;
            float: left;
            text-align: center;
            padding-top: 3px;
            margin-left: 6px;
            @include border-radius(7px,7px,7px,7px);
            &.x-close{
                cursor:pointer;
            }
        }
        .draggable-img{
            &:hover{
                @include opacity(0.8);
                cursor: move;
            }
        }
    }
}
.no-press{
    font: 16px $font-family--serif;
    text-align: center;
    margin-top: 80px;
}
.press-edit-list{
    li{
        background-color: $background_grey;
        list-style: none;
        border: 4px dashed $dark_grey;
        width: 25%;
        height: 250px;
        float: left;
        margin: 10px 0;
    }
}
