// ==========================================================================
// Footer
// ==========================================================================
footer{
    color:#e9e9e9;
	background-color: $black;
    padding: 40px 20px;
	float: left;
    width: 100%;
    &.untoggled{
        bottom: auto;
        max-height: none;
        position: relative;
        transition: none;
        cursor:auto;
        &:hover{
            bottom:auto;
        }
    }
    @media (max-width: 768px){
        bottom: auto;
        max-height: none;
        position: relative;
        transition: none;
        cursor:auto;
        &:hover{
            bottom:auto;
        }
        form{
            margin: 0 25px;
        }
    }
    .title{
        text-transform: uppercase;
		letter-spacing: 0.4px;
		font-size: 16px;
		font-weight: bold;
        @media (max-width: 768px){
                text-align:center;
                margin: 0;
                margin-bottom: 10px;
            }
    }
    .footer-items{
        padding:0;
        margin:0;
		&.split{
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
			width: 210px;
		}
        @media (max-width: 768px){
                text-align:center;             
                margin: 5px 0 10px 0;
            }
        li{
            list-style:none;
            @media (max-width: 768px){
                display: inline-block;
                margin: 0 5px 10px;
            }
            a{
                color: #c7c7c7;
                cursor: pointer;
				text-transform: uppercase;
				font-size: 16px;
    			letter-spacing: 0.4px;
                &:hover{
                    text-decoration: none;
                    color: $white;
                    @include transition-property(color);
                    @include transition-duration(0.3s);
                    @include transition-timing-function(ease-out);
                }
            }
        }
    }
    .footer-text{
        font-family: $font-family--secondary;
        margin:0 0 10px;
        color: $dark_grey;
        @media (max-width: 768px){
                text-align:center;
            }
        &.social{
            margin-top:20px;
            @media (max-width: 768px){
                text-align:center;
            }
        }
    }
    .copyright{
        text-align: center;
        ul{
            padding: 0;
            margin: 0;
            li{
                padding: 0 4px;
                display: inline-block;
                list-style: none;
                @media (max-width: 768px){
                    margin: 0.25em auto;
                }
                a{    
                    color: #c7c7c7;
                    text-decoration: none;
					text-transform: uppercase;
					font-size: 14px;
					letter-spacing: 0.4px;
                }
            }
        }
        div{
            margin: 10px 0;
        }
		.hightlighted{
			text-transform: uppercase;
			font-weight: bold;
		}
    }
    .social-items{
        padding:0;
        margin:0;
        @media (max-width: 768px){
                margin: 0 auto;
                //width: 145px;
                width: 100%;
            }
        li{
            list-style: none;
            float: left;
            margin: 0 8px 0 0;
            @media (max-width: 768px){
                //margin: 0 4px;
                margin: 0 auto;
            }
            a{
                color: $black;
                background-color: $white;
                width: 39px;
				height: 39px;
				display: block;
				padding: 6px 0 0 14px;
                @include border-radius(28px,28px,28px,28px);
                font-size: 18px;
                &.twitter{
                    padding: 7px 0 0 12px;
                }
                &.google-plus{
                    font-size: 16px;
                    padding: 7px 0 0 10px;
                }
                &:hover{
                    background-color: $red;
                    color: $white;
                    @include transition-property(background-color);
                    @include transition-duration(0.3s);
                    @include transition-timing-function(ease-out);
                }
                @media (max-width: 768px){
                    margin: 0 auto;
                }
            }
        }
    }
    .input-newsletter{
        input{
            border-color: $white;
            color: $black;
            background-color: $white;
            @include border-radius(6px,6px,6px,6px);
			height: 40px;
			max-width: 225px;
			-webkit-box-shadow: none;
    		box-shadow: none;
            @media (max-width: 768px){
                padding:0 10px;
                max-width: 95%;
            }
        }
        .btn-send{
            color: $black;
            background-color: $white;
            font-size: 23px;
            padding: 0 10px;
            border-left: 0;
            @include border-radius(6px,6px,6px,6px);
            &:hover, &:active{
                color: $red;
                border-color: $light_grey;
                background-color: $black;
                @include transition-property(color);
                @include transition-duration(0.3s);
                @include transition-timing-function(ease-out);
            }
            &:focus{
                border-color: $light_grey;
                background-color: $black;
            }
        }
    }
    .input-group{
        @media(max-width: 768px){
            margin-top: 10px !important;
        }
    }
}
.nya-bs-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    min-width: 220px!important;
    width: auto;
}
