// ==========================================================================
// Header
// ==========================================================================
.navbar{
    background-color: $black;
    @include border-radius(0px,0px,0px,0px);
    border: none;
    margin:0;
    height: 70px;
    padding: 10px 0;
    z-index:1000;
	.navbar-elements{
		position: relative;
	}
	.center-navbar{
		width: 600px;
		margin: 0 auto;
		display: block;
		float: none;
	}
	&.secondary{
		width: 100%;
		min-height: auto;
		height: 40px;
		background-color: $white;
		padding: 0;
		z-index: 1;
		border-bottom: 1px solid #bfbfbf;
		.menu-title{
        	color: $black!important;
			padding-left: 0;
		}
		ul{
			li{
				a{
					color: $black;
					font-weight: bold;
					font-family: $font-family--regular;
					text-transform: lowercase;
    				font-size: 15px;
    				letter-spacing: 0.5px;
					padding: 8px 20px 0;
					&:hover{
						color:$dark_grey!important;
						text-decoration: none;
						@include transition-property(color);
						@include transition-duration(0.3s);
						@include transition-timing-function(ease-out);
					}
				}
			}
		}
	}
	&.terciary{
		width: 100%;
    	float: left;
		background-color: $white;
		padding: 0;
		z-index: 1;
		border-bottom: solid 1px #939393;
		.menu-title{
        	color: $black!important;
			padding-left: 0;
		}
		ul{
			margin: 20px 0 0 0;
			display: block;
			width: 100%;
			float: left;
			li{
				display: inline-block;
				a{
					color: $black;
					font-family: $font-family--regular;
					text-transform: uppercase;
					padding: 10px 60px 10px 0px;
					font-size: 18px;
					&:hover{
						color:$dark_grey!important;
						text-decoration: none;
						@include transition-property(color);
						@include transition-duration(0.3s);
						@include transition-timing-function(ease-out);
					}
					&.selected{
						color: $dark_red;
					}
					&:hover{
						color: $red!important;
					}
				}
			}
		}
	}
    @media (max-width: 768px){
                height: auto;
            }
    .navbar-brand{
        padding: 10px 15px;
    }
    .dropdown{
        height: 50px;
    }
    .dropdown:hover .dropdown-shop {
        display: block;
    }
    .dropdown-shop:hover{
        display: block;
    }
    .menu-title{
        color: $white!important;
        text-transform: uppercase;
        span{
            vertical-align: bottom;
            margin: 0 0 0 10px;
        }
        i{
            color: $red;
            font-size: 18px;
            vertical-align: middle;
            @media (max-width: 768px){
                margin-left:10px;
            }
        }
    }
    .searcher-header{
        @media (max-width: 768px){
                    padding: 0 20px;
                }
        input{
				font-family: $font-family--regular;
				margin: 0 0 0 30px;
                min-width: 600px;
                color: $dark_grey;
				letter-spacing: 0.4px;
                background-color: $background_grey;
                @extend %input-border-none;
                @include border-radius(6px,6px,6px,6px);
                &:focus{
                    border-right: 0;
                }
                    @media (max-width: 1200px){
                    min-width: 0;
                }
                @media (min-width: 992px) and (max-width: 1200px) { 
                        min-width:380px;
                    }
            }
        .btn-send{
            color: $black;
            background-color: $background_grey;
            font-size: 23px;
            padding: 0 10px;
            border-left: 0;
            @include border-radius(0px,6px,6px,0px);
            border-color:$background_grey;
            &:hover, &:active{
                color: $dark_red;
                background-color: $background_grey;
                @include transition-property(color);
                @include transition-duration(0.3s);
                @include transition-timing-function(ease-out);
                border-color:$background_grey;
            }
            &:focus{
				color: $dark_red;
                background-color: $background_grey;
                border-color:$background_grey;
            }
        }
    }
    .cart-item{
        i{
            color:$white;
            font-size: 20px;
        }
    }
}
.main-menu{
    cursor: pointer;
    float: left;
}
.admin-wrapper{
    width: 190px;
    top: 59px;
	padding: 0 0 15px;
	z-index: 999;
    input{
        background-color: $background_grey;
        @include border-radius(25px,25px,25px,25px);
    }
    @media (max-width: 768px){
        position: absolute!important;
        background-color: $white!important;
        right: 0!important;
        left: auto;
        width: 250px!important;
    }
    li{
        @media (max-width: 768px){
            display: block!important;
        }
    }
}
.log{
    text-transform: uppercase;
    color: $dark_grey;
    font-size: 16px;
    letter-spacing: 0.5px;
    span{
        padding-top: 14px;
        padding-bottom: 15px;
        display:block; 
		color: $white;
    }
    a{
        @extend %link-red; 
        padding: 15px 5px!important; 
		font-weight: bold;
    }
}
.navbar-searcher{
    padding:0;
    @media (max-width: 768px){
                display: none;
            }
    &.mobile{
        display: none;
        @extend %input-border-none;
        @media (max-width: 768px){
                display: block;
            }
    }
}
.dropdown-shop{
	@include border-radius(0px,0px,0px,0px);
    @media (max-width: 768px){
        top: 10px;
        min-width:100%;
    }
    .shop-menu-wrapper{
        padding-left:10px;
        padding-right:10px;
        width: 210px;
        border-right: 1px solid $background_grey;
        float: left;
        @media (max-width: 768px){
            border-right: none;
            width:100%;
            padding-left:0;
            padding-right:0;
        }
        li{ 
            list-style:none;
            @media (max-width: 768px){
                padding: 0 20px 0 24px;
            }
            a{ 
                color: $black;
                text-decoration:none;
                text-transform: uppercase;
                display: block;
                padding: 5px 0;
                @media (max-width: 768px){
                    color: $white;
                }
                &:hover{
                    background-color: transparent;
                    color:$red;
                }
                &.ion-chevron-right:before {
                    float: right;
                    margin: 3px 0 0 0;
                }
            }
            &.minibanner{
                a{
                    display: block;
                    margin: 0;
                    padding: 0;
                    img{
                        max-width: 170px;
                        margin: 5px 10px 10px 0;
                    }
                }
            }
        }
    }
    .shop-secondary-menu-wrapper{
		display: none;
		&.active{
			display:block;
		}
        float:left;
        padding: 5px 20px;
        @media (max-width: 768px){
            display: none;
        }
        li{
            list-style:none;
            text-transform: uppercase;
            font-weight: bold;
            padding: 5px 0;
            a{
                font-family: $font-family--secondary;
                color: $dark_grey;
                text-decoration:none;
                text-transform: uppercase;
                display: block;
                padding: 5px 0;
                &:hover{
                    background-color: transparent;
                    color:$red;
                }   
            }
            &.minibanner{
                a{
                    display: block;
                    margin: 0;
                    padding: 0;
                    img{
                        max-width: 170px;
                        margin: 10px 0 10px 0;
                    }
                }
            }
        }
    }
}


.forgot-remember{
    padding: 0 0 20px;
    a{
        display: inline!important;
        text-transform: lowercase;
        color: $dark_grey!important;
        font-size:12px;
        &:hover{
            background-color: transparent!important;
        }
    }
}
.cart-login-wrapper{
    margin-right: 0;
    @media (max-width: 768px){
        position: absolute;
        top: 2px;
        width: 202px;
        right: 30px;
    }
    li{
        @media (max-width: 768px){
            display: inline-block;
        }
    }
}
.dropdowns-wrapper{
	position: absolute;
    top: 47px;
    width: 633px;
    float: left;
	li{
		cursor: pointer;
	}
}
.avatar-logued-user{
	margin: 11px 5px 0;
	float: left;
	display: block;
	width: 30px;
	@include border-radius(90px,90px,90px,90px);
}
.logued-text{
	float: left;
	display: block;
	i{
		color: $white;
		display: inline-block;
		height: 25px;
		border: solid 1px #717171;
		width: 25px;
		text-align: center;
		@include border-radius(90px,90px,90px,90px);
		font-size: 18px;
		padding: 1px 0 0 1px;
	}
}
.header-item{
	display: block;
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px!important;
	img{
		float: right;
	}
	span{
		margin-right: 15px;
		float: right;
		text-transform: initial;
		max-width: 115px;
		text-align: right;
		max-height: 80px;
    	overflow: hidden;
	}
}
.menu-logued{
	li{
		padding: 0;
		margin: 0;
		float: left;
		width: 100%;
		a{
    		padding: 5px 15px!important;
			color: $dark_grey!important;
			text-transform: capitalize;
			float: right;
		}
	}
}
.separation-line{
	display: block;
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin: 10px 0!important;
}
.language-picker-wrapper{
	 position: absolute;
    right: 64px;
    top: 12px;
	a{
		color:$black;
		text-transform: uppercase;
	}
}