// ==========================================================================
// Home Grid
// ==========================================================================
.grid-wrapper{
    padding:10px 0 50px;
}
/*-------------------------------*/
/***** EFECTO HOVER EN FOTOS *****/
/*-------------------------------*/
.grid {
    figure{
        margin: 0;
        position: relative;
        float: left;
        overflow: hidden;
        width: 100%;
        cursor: pointer;
        &:hover{
            figcaption{
                @include transform(translate3d(0,0,0));
            }
            p{
                &.instauser{
                      @include opacity(1);  
                } 
            }
        }
        img{
            width:101%;
            position: relative;
            @include opacity(0.95);
        }
        figcaption{
            @extend %absolut-bottom;
            @include size(100%,inherit);
            @include backface-visibility(hidden);
            padding: 5px;
            background: $white;
            @include opacity(0.85);
            color: $almost_black;
            @include transition(transform 0.35s);
            @include transform(translate3d(0,100%,0));
            &:before,&:after{
                pointer-events: none;
            }
            p{
                margin: 0;
                font-size: 13px !important;
                text-align: center;
                &.instauser{
                    @include opacity(0);
                    @include transition(opacity 1.5s);
                    @include backface-visibility(hidden);
                }
                &.price{
                    font-size: 14px!important;
                    font-weight: bold;
                    color: $dark_grey;
                }
            }
        }
    }
}
