// ==========================================================================
// Home Grid
// ==========================================================================
.grid-wrapper{
    padding:10px 0 80px;
	background-color: $white;
}
.text-primary {
    color: $white!important;
	padding-bottom: 20px;
}
/*-------------------------------*/
/***** EFECTO HOVER EN FOTOS *****/
/*-------------------------------*/
.grid {
    figure{
        margin: 0;
        position: relative;
        float: left;
        overflow: hidden;
        width: 100%;
        cursor: pointer;
        &:hover{
            figcaption{
                @include transform(translate3d(0,0,0));
            }
            p{
                &.instauser{
                    @include opacity(1); 
					position: absolute;
					bottom: 50px;
					text-align: center;
					width: 100%;
                } 
            }
			.hover-btns-wrapper{
				display: block;
			}
        }
        img{
            width:100%;
			@include border-radius(6px,6px,6px,6px);
        }
        figcaption{
            @extend %absolut-bottom;
            @include size(100%,100%);
            @include backface-visibility(hidden);
            padding: 5px;
            background: rgba(255, 255, 255, 0.63);
            color: $almost_black;
            @include transition(transform 0s);
            @include transform(translate3d(0,100%,0));
            &:before,&:after{
                pointer-events: none;
            }
            p{
                margin: 0;
                font-size: 13px !important;
                text-align: center;
                &.instauser{
                    @include opacity(0);
                    @include transition(opacity 0s);
                    @include backface-visibility(hidden);
					font-family: $font-family--name;
					color: $black;
					font-size: 40px!important;
    				max-width: 90%;
					line-height: 39px;
					text-transform: capitalize;
                }
                &.price{
                    font-size: 14px!important;
                    font-weight: bold;
                    color: $dark_grey;
					position: absolute;
					bottom: 25px;
					text-align: center;
					width: 90%;
					color: $black;
					font-size: 25px!important;
                }
            }
        }
    }
}
.hover-btns-wrapper{
	position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9;
	width: 38px;
	display: none;
	.icons-hover{
		float: left;
		width:30px;
		height:30px;
		font-size: 32px;
		margin: 0 0 20px 0;
		padding: 3px 0 0 0;
		text-align: center;
		@include border-radius(90px,90px,90px,90px);
		&.box{	
			background: url('/imgs/black-box.svg') 0 0 no-repeat transparent;
			display: inline-block;
			//width: 55px;
			//margin-left: -2px;
            @include border-radius(0,0,0,0);
		}
        &.heart-icon{  
            background: url('/imgs/black-heart.svg') 0 0 no-repeat transparent;
            display: inline-block;
            @include border-radius(0,0,0,0);
        }
		&:hover{
			color: $dark_red!important;
		}
        &.box:hover {
            background: url('/imgs/red-box.svg') 0 0 no-repeat transparent;
        }
        &.heart-icon:hover{  
            background: url('/imgs/red-heart.svg') 0 0 no-repeat transparent;
        }
	}
}
.grey-link{
	color: $dark_grey;
}
.grid-margin {
    margin-top: 45px;
}