// ==========================================================================
// Our devisers
// ==========================================================================
.our-devisers-wrapper{
	background-color: $background_grey;
	float: left;
    width: 100%;
}
.our-devisers-header{
    padding: 50px 0 42px;
    background: url(/imgs/devisers-cover.jpg) center #000000 no-repeat;
    background-size: 1150px 267px;
	float: left;
    width: 100%;
	h3{
		font-family: $font-family--name;
		color: $white;
	}
	h5{
		font-family: $font-family--serif;
		font-style: italic;
		color: $white;
	}
	.devisers-searcher{
		width: 300px;
		position: relative;
    	margin: 10px auto 0;
		span{
			color: $red;
			position: absolute;
			right: 12px;
			top: 4px;
			font-size: 21px;
		}
	}
}
.our-influencers-header{
	margin: -20px 0 0 0;
    padding: 50px 0 42px;
    background: url(/imgs/influencers-cover.jpg) center #000000 no-repeat;
    background-size: 1150px 267px;
	h3{
		font-family: $font-family--name;
		color: $white;
	}
	h5{
		font-family: $font-family--serif;
		font-style: italic;
		color: $white;
	}
	.devisers-searcher{
		width: 300px;
		position: relative;
    	margin: 10px auto 0;
		span{
			color: $red;
			position: absolute;
			right: 12px;
			top: 4px;
			font-size: 21px;
		}
	}
}
.our-devisers-body{
	background-color: $background_grey;
	float: left;
    width: 100%;
	hr{
		border-top: 1px solid $dark_grey;
	}
}
.found-header{
	height: 40px;
	p{
		display: inline-block;
    	margin-top: 30px;
		color: $darker_grey;
		font-family: $font-family--secondary;
		.key{
			font-family:$font-family--bold;
		}
	}
}
.filter-title{
	color: #6b6b6b;
    text-transform: uppercase;
	font-weight: bold;
    font-size: 16px;
}
.filter-wrapper{
	margin: 30px 0 150px 0;
}
.more-btn{
	cursor: pointer;
	font-family: $font-family--bold;
	border-bottom: 1px solid #ccc;
    display: block;
    padding: 15px 0;
}
.deviser-discover-img{
	position: absolute;
    top: 0;
    bottom: 0;
    left: -128%;
    right: 0;
    margin: auto;
    width: 248% !important;
	max-width: none!important;
}