// ==========================================================================
// Our devisers
// ==========================================================================
.our-devisers-wrapper{
	background-color: $white;
	float: left;
	width: 100%;
	.container{
	    overflow: hidden; //añadido//
	}
}
.our-devisers-header{
	@extend %person_header;
	background: url(/imgs/devisers-cover.jpg) center #000000 no-repeat;
	/*
	margin: -20px 0 0 0;
	padding: 0;//50px 0 42px;
	background-size: 1150px 267px;
	height: 270px;
	*/
	//float: left;
	//width: 100%;
	h3{
		@extend %person_header_h3;
		/*
		font-family: $font-family--name;
		color: $white;
		font-size: 140px;
		padding: 40px 0 0;
		margin-bottom: 0;
		line-height: 0.8em;
		*/
	}
	h5{
		@extend %person_header_h5;
		/*
		margin: 0;
		padding: 5px 0 20px;
		font-family: $font-family--regular;//$font-family--serif;
		font-style: normal;//italic;
		font-stretch: condensed;
		color: $white;
		*/
	}
	.devisers-searcher{
		@extend %person_searcher;
		/*
		width: 300px;
		position: relative;
		margin: 10px auto 0;
		span{
			color: $red;
			position: absolute;
			right: 12px;
			top: 4px;
			font-size: 21px;
		}
		input{
			margin-bottom: 25px;
		}
		*/
	}
}
.our-influencers-header{
	@extend %person_header;
	background: url(/imgs/influencers-cover.jpg) center #000000 no-repeat;
	/*
	margin: -20px 0 0 0;
	padding: 0;//50px 0 42px;
	background-size: 1150px 267px;
	height: 270px;
	*/
	h3{
		@extend %person_header_h3;
		/*
		font-family: $font-family--name;
		color: $white;
		font-size: 140px;
		padding: 40px 0 0;
		margin-bottom: 0;
		line-height: 0.8em;
		*/
	}
	h5{
		@extend %person_header_h5;
		/*
		margin: 0;
		padding: 5px 0 20px;
		font-family: $font-family--regular;//$font-family--serif;
		font-style: normal;//italic;
		font-stretch: condensed;
		color: $white;
		*/
	}
	.devisers-searcher{
		@extend %person_searcher;
		/*
		width: 300px;
		position: relative;
		margin: 10px auto 0;
		span{
			color: $red;
			position: absolute;
			right: 12px;
			top: 4px;
			font-size: 21px;
		}
		input{
			margin-bottom: 25px;
		}
		*/
	}
}
.our-boxes-header{
	@extend %person_header;
	background: url(/imgs/boxes-cover.jpg) center #000000 no-repeat;
	/*
	margin: -20px 0 0 0;
	padding: 0;//50px 0 42px;
	background-size: 1150px 267px;
	height: 270px;
	*/
	h3{
		@extend %person_header_h3;
		/*
		font-family: $font-family--name;
		color: $white;
		font-size: 140px;
		padding: 40px 0 0;
		margin-bottom: 0;
		line-height: 0.8em;
		*/
	}
	h5{
		@extend %person_header_h5;
		/*
		margin: 0;
		padding: 5px 0 20px;
		font-family: $font-family--regular;//$font-family--serif;
		font-style: normal;//italic;
		font-stretch: condensed;
		color: $white;
		*/
	}
	.devisers-searcher{
		@extend %person_searcher;
		/*
		width: 300px;
		position: relative;
		margin: 10px auto 0;
		span{
			color: $red;
			position: absolute;
			right: 12px;
			top: 4px;
			font-size: 21px;
		}
		input{
			margin-bottom: 25px;
		}
		*/
	}
}
.our-stories-header{
	background: url(/imgs/stories-cover.jpg) center #000000 no-repeat;
	@extend %person_header;
	/*
	margin: -20px 0 0 0;
	padding: 50px 0 42px;
	background-size: 1150px 267px;
	*/
	h3{
		font-family: $font-family--name;
		color: $white;
	}
	h5{
		font-family: $font-family--serif;
		color: $white;
		font-style: italic;
	}
	.devisers-searcher{
		@extend %person_searcher;
		/*
		width: 300px;
		position: relative;
		margin: 10px auto 0;
		span{
			color: $red;
			position: absolute;
			right: 12px;
			top: 4px;
			font-size: 21px;
		}
		*/
		input{
			margin-bottom: 0;
		}
	}
}
.our-devisers-body{
	background-color: $white;//$background_grey;
	float: left;
	width: 100%;
	margin-bottom: 100px;
	a{
		@media (max-width: 320px){
			//width: 100%;
		}
		@media (max-width: 767px){
			display: block;
			margin: auto;
			//width: max-content;
			//width: 240px;
		}
	}
	hr{
		border-top: 1px solid $dark_grey;
	}
	.found-header {
		padding-left: 10px;
	}
}
.found-header{
	min-height: 40px;
	p{
		display: block;//inline-block;
		margin-top: 30px;
		color: $darker_grey;
		font-family: $font-family--regular;//$font-family--secondary;
		font-size: 14px;
		.key{
			font-family:$font-family--bold;
		}
	}
}
.filter-title{
	color: $darker_grey;
	//text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}
.filter-wrapper{
	margin: 30px 0 150px 0;
}
.discover-filters {
	.filter-wrapper {
		margin-bottom: 10px;
	}
}
.more-btn{
	cursor: pointer;
	font-family: $font-family--regular; //$font-family--bold;
	font-size: 14px;
	//border-bottom: 1px solid #ccc;
	display: block;
	padding: 15px 0;
	text-transform: lowercase;
	color: $darker_grey;
}