// ==========================================================================
// Product
// ==========================================================================
.product{
    background-color: $white;
    .product-photos-wrapper{
        position: relative;
        z-index: 9;
        padding: 0 0 60px;
        .slider-header{
            padding: 0 15px;

            
            .like-comments{
                float: right;
                color:$dark_grey;
                font-size: 18px;
                margin: 30px 0 0 0;
                .like{
                    margin: 0 10px 0 0;
                }
            }
        }
    }
    .product-data-wrapper{
        @extend %block;
        background-color: $white;
        padding: 0 15px;
        margin: 15px 0;
        border-left: 1px solid $light_grey;
        .product-data{
            @extend %block;
            padding: 10px 0;
            border-bottom: 1px solid $light_grey;
            &.no-border{
                border-bottom: 0;
            }
            .title{
                font-family: $font-family--name;
                font-size: 40px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                display: inline-block;
                line-height: 39px;
            }
            .score{
                i{
                    color: $red;
                }
            }
            .number-score{
                color: $dark_grey;
                margin: 0 5px;
            }
            .avatar{
                float: left;
                img{
                    @include size(50px, 50px);
                    @extend %avatar-border;
                }
            }
            .price-stock{
                .product-price{
                    color: $dark_green;
                    font-size: 18px;
                    font-weight: bold;
                }
                .stock{
                    font-family: $font-family--secondary;
                    color: $dark_green;
                }
            }
            .quantity-wrapper{
                margin: 10px 0;
                .quantity-name{
                    float: left;
                    margin: 5px 14px 0 0;
                }
                .plus{
                    display: inline-block;
                    background-color: $green;
                    width: 25px;
                    text-align: center;
                    height: 25px;
                    @include border-radius(4px,4px,4px,4px);
                    cursor: pointer;
                    color: $black;
                    font-size: 21px;  
                    float: left;
                    line-height: 20px;  
                    margin: 0 7px;
                }
                .minus{
                    display: inline-block;
                    background-color: $green;
                    width: 25px;
                    text-align: center;
                    height: 25px;
                    @include border-radius(4px,4px,4px,4px);
                    cursor: pointer;
                    color: $black;
                    font-size: 21px;
                    float: left;
                    line-height: 23px;
                }
            }
            .row-size{
                .size-box{
                    color: $black;
                    border: 1px solid $black;
                    background-color: $light-grey;
                    min-width: 23px;
                    min-height: 23px;
                    display: inline-block;
                    line-height: 22px;
                    text-align: center;
                    font-size: 12px;
                    float: left;
                    margin: 3px 7px 0 0;
                    cursor: pointer;
                    padding: 0 2px;
                    &:hover{
                        background-color: $white;
                    }
                }
                .color-box{
                    color: $black;
                    background-color: $light-grey;
                    min-width: 23px;
                    min-height: 23px;
                    display: inline-block;
                    line-height: 22px;
                    text-align: center;
                    font-size: 12px;
                    float: left;
                    margin: 3px 7px 0 0;
                    cursor: pointer;
                    padding: 0 2px;
                    &.red{
                        background-color: $red;
                    }
                    &.blue{
                        background-color: #337ab7;
                    }
                    &.green{
                        background-color: $green;
                    }
                    &:hover{
                        opacity: 0.6;
                    }
                }
                .two-color{
                    width: 0;
                    height: 0;
                    border-top: 23px solid gray;
                    border-right: 23px solid #bababa;
                    float: left;
                    margin: 3px 7px 0 0; 
                    cursor: pointer;
                    &:hover{
                        opacity: 0.6;
                    }
                }
                .btn-add-to-cart{
                    width: 220px;
                    padding: 0;
                    margin: 30px auto 10px;
                    display: block;
                }
            }
            .social-items{
                padding: 0;
                margin: 30px 0 0 0;
                float: right;
                li{
                    list-style: none;
                    float: left;
                    margin: 0 8px 0 0;
                    color: $darker_grey;
                    span{
                        padding: 1px 0 0 0;
                        display: inline-block;
                    }
                    a{
                        color: $background_grey;
                        background-color: $darker_grey;
                        width: 22px;
                        height: 22px;
                        display: block;
                        padding: 2px 0 0 7px;
                        @include border-radius(28px,28px,28px,28px);
                        font-size: 14px;
                        &.twitter{
                            padding: 2px 0 0 6px;
                        }
                        &.google-plus{
                            font-size: 12px;
                            padding: 2px 0 0 4px;
                        }                
                    }
                }
            }
            .shipping-policies-wrapper{
                .title{
                    font-family: $font-family--primary;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px;
                    letter-spacing: 0;
                    color: #6d6d6d;
                    margin: 0 0 15px;
                    line-height: normal;
                }
                .policies-row{
                    margin: 0 0 10px 0;
                }
                .returns-row{
                    font-family: $font-family--secondary;
                    color: #4c4c4c;
                    font-weight: bold;
                }
            }
        }
    }
}
/* GLOBAL */
.pad-product{
    padding:0;
}
.btn-hart{
    width: 170px;
}
.btn-box{
    width: 170px;
}
.btn-tagline{
    width: 170px;
    text-align: left;
    color:#9b9b9b;
    font-family: $font-family--secondary;
    margin-top: 5px;
}
/* BOOTSTRAP SELECT TUNNING */
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #999;
    background-color: #d7d7d7;
    padding: 2px 12px;
    max-width: 200px;
}
.form-control{
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
.bootstrap-select{
    .btn{
        @include border-radius(0px,0px,0px,0px);
        padding: 2px 12px;
    }
    .dropdown-menu{
        @include border-radius(0px,0px,0px,0px);
        padding:0;
        margin: -1px 0 0;
        background-color: $white;
    }
    .dropdown-toggle:focus {
        outline: 0!important;
        outline-offset: 0!important;
    }
    .btn-default.active, .btn-default:active, {
        color: #333;
        background-color: transparent!important;
        border-color: #ccc!important;
    }
    .btn-default.focus, .btn-default:focus {
        color: #333;
        background-color: transparent!important;
        border-color: #ccc!important;
    }
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #4a4a4a;
    text-decoration: none;
    background-color: #d7d7d7;
}
.open>.dropdown-toggle.btn-default {
        color: #333;
        background-color: transparent!important;
        border-color: #adadad;
    }
.info{
    color: #c7c7c7;
    cursor: pointer;
}
.atr{
    color: #6d6d6d;
    text-transform: uppercase;
    font-size: 14px;
}
.product-label{
    text-align: left!important;
    padding-top: 3px!important;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
    margin: -26px 0 0 0;
}
.atribute-selected{
    background-color: $white;
    border: solid 1px #e1e1e1;
    padding: 2px 6px;
    display: inline-block;
}
.square{
    width: 20px;
    height: 20px;
    background-color: $dark_grey;
}
.number{
    display: inline-block;
    background-color: #d7d7d7;
    width: 25px;
    text-align: center;
    height: 25px;
    @include border-radius(4px,4px,4px,4px);
    float: left;
    padding: 1px 0 0 0;
    font-size: 16px;
}
.cart-icon-btn{
    padding: 0 10px 0 0;
    font-size: 16px;
    vertical-align: middle;
}

.shipping-label{
    padding-right: 0;
    padding-top: 3px!important;
    text-align: left!important;
    font-family: $font-family--secondary;
    color: #4c4c4c;
}
.shipping-sel{
    padding-right: 0;
    padding-left: 0;
}
.tax{
    font-family: $font-family--bold;
    margin: 3px 0 0 0;
    display: inline-block;
    color: #4c4c4c;
}
.product-select{
    height: 24px;
}
