// ==========================================================================
// Product
// ==========================================================================
.product{
    background-color: $white;
    @extend %block;
    .product-data-wrapper{
        @extend %block;
        padding: 0 15px;
        margin: 15px 0;
        .product-data{
            @extend %block;
            padding: 10px 0;
            border-bottom: 1px solid $light_grey;
            &.no-border{
                border-bottom: 0;
            }
            .title{
                font: 40px $font-family--name;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                display: block;
                line-height: 39px;
				margin-bottom: 40px;
            }
            .score{
                i{
                    color: $red;
                }
            }
            .number-score{
                color: $dark_grey;
                margin: 0 5px;
            }
            .price-stock{
                .product-price{
                    font: bold 40px $font-family--regular;
					letter-spacing: 0.5px;
                }
                .stock{
					color: $dark_grey;
                    font-family: $font-family--regular;
                }
            }
            .quantity-wrapper{
                margin: 10px 0;
                .quantity-name{
                    float: left;
                    margin: 5px 14px 0 0;
                }
                .number{
                    @extend %mini-btn;
                    float: left;
                    padding: 1px 0 0 0;
                    font-size: 14px;
                }
                .btn-summatory{
                    @extend %mini-btn;
                    padding: 0;
					float: left;
                }
            }
            .row-size{
				&.expand{
					padding: 5px 0;
					display: block;
					width: 100%;
					float: left;
				}
                .info{
                    color: $light_grey;
                    cursor: pointer;
                }
                .atr{
                    color: $almost_black;
                    text-transform: uppercase;
                }
                .product-label{
                    text-align: left;
                    padding-top: 3px;
                }
                .atribute-selected{
					color: $dark_grey;
                    padding: 2px 12px;
                    display: inline-block;
                }
                .size-box{
                    float: left;
                    margin: 0 5px 6px 0;
                    height: 23px;
                    min-width: 23px;
                    font-weight: 200;
                    &:hover{
                        background-color: $white;
                    }
                    input[type="radio"] {
                        display:none;
                    }
                    input[type="radio"] + label span{
                        background-color: $light-grey;
                        border: 1px solid $black;
                        @extend %radio-custom;
                        &:hover{
                            background-color: $white;
                        }
                    }
                    input[type="radio"] + label span {
                         background-color: #cecece;
                    }
                    input[type="radio"]:checked + label span{
                         background-color: $white;
                    }
                }
                .color-box{
                    float: left;
                    margin: 0 5px 0 0;
                    input[type="radio"] {
                        display:none;
                    }
                    input[type="radio"] + label span{
                        @extend %radio-custom;
                        &.red{
                            background-color: $red;
                        }
                        &.blue{
                            background-color: #337ab7;
                        }
                        &.green{
                            background-color: $green;
                        }
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                    input[type="radio"] + label span {
                         border: 1px solid $light_grey;
                    }
                    input[type="radio"]:checked + label span{
                         border: 2px solid $black;
                    }
                }
                .btn-add-to-cart{
                    width: 220px;
                    padding: 0;
                    margin: 30px auto 10px;
                    display: block;
                    .cart-icon-btn{
                        padding: 0 10px 0 0;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
/* GLOBAL */
.btn-hart{
    width: 170px;
	padding: 10px 0;
}
.btn-tagline{
    width: 170px;
    color:#9b9b9b;
    font-family: $font-family--secondary;
    margin-top: 5px;
}
.shipping-select.bootstrap-select.btn-group .dropdown-menu {
    width: 100%!important;
}
.product-select{
    height: 26px;
}
.avatar-wrapper-side{
    margin: 10px 0 0 0;
    .avatar{
        img{
            width: 46px;
            height: 46px;
            border: 1px solid #9a9a9a;
            float: left;
            display: block;
            border-radius: 90px 90px 90px 90px;
            -webkit-border-radius: 90px 90px 90px 90px;
            -moz-border-radius: 90px 90px 90px 90px;
        }
        span{
            color: #484848;
            font-size: 21px;
            font-weight: bold;
            margin: 8px;
            float: left;
            display: block;
        }
    }
}
.product-data{
    .bootstrap-select{
        .btn{
            max-width: 175px;
			border-color: #b7bcc0;
            @include border-radius(6px,6px,6px,6px);
        }
    } 
}
.view-chart-size{
    text-transform: uppercase;
    font-size: 12px;
    color: $dark_grey;
    &:hover{
        color: $black;
        font-weight: bold;
    }
}

.product-select{
	button{
		color: $black;
        height: 33px;
		background-color: $white;
		padding: 2px 12px;
		max-width: 210px;
		&:hover{
			background-color: $white!important;
		}
	}
}
.products-added-wrapper{
	margin: 0 auto;
	max-width: 620px;
	.product-added-item{
		position: relative;
		width: 112px;
		.edit-product{
			color: $background_grey;
			font-size: 18px;
			top: 4px;
			right: 30px;
			position: absolute;
		}
		.remove-product{
			color: $background_grey;
			cursor: pointer;
			position: absolute;
			right: 5px;
			top: 5px;
			font-size: 18px;
		}
		.product-image{
			@include border-radius(8px,8px,8px,8px);
		}
	}
}
.full-width{
	@extend %block;
}
.btns-product-wrapper{
	width: 285px;
    margin: 0 auto;
}
