// ==========================================================================
// Returns Warranties
// ==========================================================================
.returns-warranties-wrapper{
	background-color: $white;
	.row{
		@media (max-width: 768px){
			padding: 10px
		}
	}
	h1 {
		text-align: center;
		font-weight: bold;
		font-size: 90px;
		@media (max-width: 991px){
			font-size: 60px;
		}
		@media (max-width: 768px){
			font-size: 40px;
		}
		@media (max-width: 320px){
			font-size: 30px;
		}
	}
	.img_div{
		text-align: center;
		img{
			max-height: 350px;
			max-width: 100%;
			padding: 1em 0
		}
	}
	.number_div{
		position: relative;
		p{
			font-size: 19px;
			line-height: normal;
			@media (max-width: 320px){
				font-size: 14px;
			}
		}
		.number{
			padding: 0;
			p{
				font-size: 80px;
				height: max-content;
				vertical-align: bottom;
				display: block; //inline-block;
				text-align: right;
				@media (max-width: 320px){
					font-size: 60px;
				}
			}
		}
		.title{
			padding: 0;
			p{
				font-size: 30px;
				font-style: italic;
				font-weight: bold;
				@media (max-width: 320px){
					font-size: 20px;
				}
			}
		}
		.bold{
			font-weight: bold;
		}
	}
}