// ==========================================================================
// Settings Header
// ==========================================================================
.upper-setting-header{
	height: 76px;
    background-color: #666;
    padding: 20px 0;
	.avatar{
		width: 46px;
		height: 46px;
		border: 1px solid #9a9a9a;
		float: left;
		display: block;
		margin: -5px 0 0 0;
		@include border-radius(90px,90px,90px,90px);
	}
	.deviser-name{
		float: left;
		font-family: $font-family--name;
		font-size: 20px;
		color: $white;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin: 8px 0 0 5px;
	}
}
.header-settings-tabs{
	li{
		width: 20%;
    	border: solid 1px #bfbfbf;
		a{
			background-color: #DAD8D8;
			text-transform: uppercase;
			font-weight: bold;
			text-align: center;
			font-size: 12px;
			padding: 8px;
			border: 0;
			color: #1C1919;
			margin-right: 0;
			@include border-radius(0px,0px,0px,0px);
		}
	}
}
.bank-settings-wrapper{
	padding: 40px 0 120px 0!important;
}