// ==========================================================================
// Settings Header
// ==========================================================================
.upper-setting-header{
	height: 76px;
    background-color: #666;
    padding: 20px 0;
	.avatar{
		width: 46px;
		height: 46px;
		border: 1px solid #9a9a9a;
		float: left;
		display: block;
		margin: -5px 0 0 0;
		@include border-radius(90px,90px,90px,90px);
	}
	.deviser-name{
		float: left;
		font-family: $font-family--name;
		font-size: 20px;
		color: $white;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin: 8px 0 0 5px;
	}
}

.header-settings-tabs{
	li{
		width: 100%;
		a{
			background-color: #DAD8D8;
			text-transform: uppercase;
			font-weight: bold;
			text-align: center;
			font-size: 12px;
			padding: 8px;
			color: #1C1919;
			margin-right: 0;
			@include border-radius(0px,0px,0px,0px);
		}
	}
}
.bank-settings-wrapper{
	background-color: $background_grey;
	padding: 40px 0 120px 0!important;
}

.general-settings-wrapper {
  padding: 55px 0 120px 0 !important;
}

.rectangle-value {
  width: auto;
  height: 28px;
  border-radius: 6px;
  border: solid 1px #979797;

  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: 28px;
  letter-spacing: normal;
  color: #898989;
  float: left;
}

.affiliate-unique-code {
  width: 149px !important;
  margin-bottom: 20px;
}

.result-info-rectangular-clickable {
  width: auto !important;
  cursor: pointer;
  margin-bottom: 20px;
  color: #bb002c;
}

.result-info-rectangular {
  width: auto !important;
  margin-bottom: 20px;
}

.unique-affiliates-code-title {
  float: left;
  width: auto;
  height: 28px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: 28px;
  letter-spacing: normal;
  text-align: left;
  color: #1c1919;
  margin-right: 10px;
  margin-bottom: 5px;
}

.line-title-only {
  clear: both;
  width: 100%;
  height: 28px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: 28px;
  letter-spacing: normal;
  text-align: left;
  color: #1c1919;
  margin-bottom: 5px;
}

.general-title-text {
  float: left;
  width: auto;
  height: 28px;
  font-size: 14px;
  font-style: normal;
  font-stretch: condensed;
  line-height: 28px;
  letter-spacing: normal;
  text-align: left;
  color: #1c1919;
  margin-right: 10px;
  margin-bottom: 5px;
}

.block-separator-full {
  clear: both;
  border-bottom: solid 1px #bfbfbf;
  padding-top: 20px !important;
  margin-bottom: 30px !important;
}

.orders-wrapper{
	float: left;
    width: 100%;
    background-color: $grey;
	label{
		font-size: 14px;
	}
	.bold{
		font-weight: bold;
	}
}
.settings-header{
	padding: 0 20px 20px;
    background-color: white;
    float: left;
}
.accordion-header-item{
	margin: 0 15px;
	.accordion-header-title{
		color: #9D9D9D;
		font-weight: lighter;
		font-size: 13px;
	}
	.accordion-header-subtitle{
		font-size: 13px;
    	margin-top: 5px;
		font-weight: normal;
		text-transform: initial;
		&.bold{
			font-weight: bold;
		}
	}

}
.select-settings-wrapper{
	width: 175px;
    float: left;
}
.radio-btn-settings{
	margin: -7px 0 0 20px;
    float: left;
}
.title-label{
	text-transform: uppercase;
    font-weight: bold;
}

.option-number {
  border: 1px solid #000;
  padding: 3px 8px;
  border-radius: 30px;
  font-weight: bold;
  margin-right: 10px;
}

.text-16 {
  font-size: 16px;

  &.bold {
    font-weight: bold;
  }

  &.uppercase {
    text-transform: uppercase;
  }
}

.text-grey {

  font-size: 12px;
  margin-left: 10px;

  &.uppercase {
    text-transform: uppercase;
  }
}

.text-pad-35 {
  padding-left: 35px;
  display: inline-block;
}

.bank-account-container {
  p {
    line-height: 15px;
  }
}
