// ==========================================================================
// Settings Header
// ==========================================================================
.upper-setting-header{
	height: 76px;
    background-color: #666;
    padding: 20px 0;
	.avatar{
		width: 46px;
		height: 46px;
		border: 1px solid #9a9a9a;
		float: left;
		display: block;
		margin: -5px 0 0 0;
		@include border-radius(90px,90px,90px,90px);
	}
	.deviser-name{
		float: left;
		font-family: $font-family--name;
		font-size: 20px;
		color: $white;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin: 8px 0 0 5px;
	}
}

.header-settings-tabs{
	li{
		width: 100%;
		a{
			background-color: #DAD8D8;
			text-transform: uppercase;
			font-weight: bold;
			text-align: center;
			font-size: 12px;
			padding: 8px;
			color: #1C1919;
			margin-right: 0;
			@include border-radius(0px,0px,0px,0px);
		}
	}
}
.bank-settings-wrapper{
	background-color: $background_grey;
	padding: 40px 0 120px 0!important;
}
.orders-wrapper{
	float: left;
    width: 100%;
    background-color: $grey;
}
.settings-header{
	padding: 0 20px 20px;
    background-color: white;
    float: left;
}
.accordion-header-item{
	margin: 0 15px;
	.accordion-header-title{
		color: #9D9D9D;
		font-weight: lighter;
		font-size: 13px;
	}
	.accordion-header-subtitle{
		font-size: 13px;
    	margin-top: 5px;
		font-weight: normal;
		text-transform: initial;
		&.bold{
			font-weight: bold;
		}
	}
	
}
.select-settings-wrapper{
	width: 175px;
    float: left;
}
.radio-btn-settings{
	margin: -7px 0 0 20px;
    float: left;
}