// ==========================================================================
// Settings
// ==========================================================================
.panel-accordion{
	h4.panel-title{
		a{
			float: left;
			width: 100%;
			display: block;
			margin: -15px 0 0 0;
		}
	}
	.panel-heading{
		    padding: 30px 15px;
	}
	.panel-body{
		padding-top: 0;
	}
}
.panel{
		border: none!important;
	}
.total-title{
	color: #9D9D9D;
	text-transform: uppercase;
}
.info-text{
	color: #9b9b9b;
	text-transform: uppercase;
	font-weight: bold;
}
.send-to-text{
	color: #9b9b9b;
	text-transform: lowercase;
	margin-bottom: 20px;
}
.adress-text{
	font-weight: normal;
    font-size: 14px;
	margin: 0;
}
.adress-wrapper{
	width: 100%;
	float: left;
	display: block;
}
.product-card-name{
	font-weight: bold;
}
.text-icon{
	display: block;
    padding-right: 6px;
    float: left;
	&.red-text{
		float: left;
    	margin: 3px 0 0 5px;
	}
}
.small-order-text{
	color: #3d3d3d;
    font-size: 12px;
}
.orders-subtitle{
	color:$dark_red;
	font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    display: inline-block;
    margin: 0 0 20px 20%;
}
.total-text{
	font-size: 14px;
	margin: 0;
    font-weight: bold;
}
.comision-line{
	margin-bottom: 10px;
}