// ==========================================================================
// Showcase
// ==========================================================================
.showcase-wrapper{
    opacity: $background_grey;
    background-color: $white;
    padding:20px 0 30px;
    h3{
		margin-bottom: -30px;
		@media (min-width:769px) and (max-width: 991px){
		    font-size: 50px;
		}
		@media (min-width:510px) and (max-width: 768px){
		    font-size: 32px;
		}
		@media (min-width:400px) and (max-width: 510px){
		    font-size: 22px;
		}
		@media (max-width: 399px){
		    font-size: 3em;//28px;
		    width: 320px;
		    text-align: left;
		    margin: 0;
		}
    }
    .subtitle-home{
		@media(max-width: 768px){
			text-align: left;
			font-size: 1.3em;
			line-height: 1em;
			margin: 0;
		}
	}
    .section-title{
        color:$black;
        margin: 0 0 10px 10px;
        padding-top: 0;
    }
}
.showcase{
	@include border-radius(8px,8px,8px,8px);
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin: 1em 0;
    border: 1px solid $light_grey;
    @include box-shadow(2px,2px,4px,$light_grey);
    img{
        width:100%;
    }
    figcaption{
        @extend %absolut-bottom;
        background: $white;
        width: 100%;
        padding: 8px;
		height: 66px;
        img{
            @include opacity(1);
            @include size(50px,50px);
            @extend %avatar-border;
            border: 1px solid $black;
            margin-bottom:5px;
            @media (max-width: 768px){
                @include size(50px,50px);
            }
        }
        .location{
			color: $black;
			margin-top: -5px;
			float: left;
			display: block;
			text-transform: capitalize;
    		white-space: nowrap;
			overflow: hidden;
    		text-overflow: ellipsis;
    		width: 100%;
		}
		.sm{
			float: left;
			display: block;
		}
		.no-mar {
			margin-top: 8px !important;
		}
    }
}
.pad-showcase{
   padding:10px;
}
.showcase-influencers{
	img{
		 max-width: 360px;
	}
}
.carousel-devisers-container{
	max-width: 900px;
    margin: 0 auto;
}
.carusel-container{
	position: relative;
	a{
        &.prev{
            position: absolute;
    		top: 120px;
			color: $black;
			left: 80px;
			z-index: 10;
            i{
                font-size: 46px;
            }
			@media (min-width:576px) and (max-width:1199px){
				left: 0;
			}
        }
        &.next{
			position: absolute;
    		top: 120px;
			color: $black;
			right: 80px;
            i{
                font-size: 46px;
            }
			@media (min-width:576px) and (max-width:1199px){
				right: 0;
			}
        }
        &:focus{
            color: $black;
            text-decoration: none;
        }
        &:hover{
            color:$dark_grey!important;
            text-decoration: none;
        }
    }
}
.boxes-container{
	margin-top: 60px;
}
.season-banners{
	padding: 40px 0 20px;
	background-color: $white;
}
.responsive-image{
	width: 100%;
}
.images-box{
	 position: relative;
	.bottom-top-images{
		.image-left{
			width: 49%;
			float: left;
			height: 97px;
			overflow: hidden;
			position: relative;
			margin-bottom: 4px;
			img{
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
		.image-right{
			width: 49%;
			float: right;
			height: 97px;
			overflow: hidden;
			position: relative;
			margin-bottom: 4px;
			img{
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}
	.bottom-image{
		width: 100%;
		float: left;
		height: 199px;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
			left: 0;
			top: 0;
			bottom: 60px;
			margin: auto;
		}
	}
}
.boxes-text{
	font-size: 16px;//20px;
	//line-height: 0.96;
	font-weight: bold;
	color: $black;
	display: block;
	margin-top: 8px;
}
.btn-love-box{
	margin-top: -2px;//-8px;
}