// ==========================================================================
// Stories
// ==========================================================================
.storie-box-wrapper{
	background-color: $white;
	float: left;
    width: 100%;
	margin-bottom: 30px;
	.storie-box-text{
		padding: 10px 20px 20px;
		h5{
			font-size: 18px;
			font-family:$font-family--bold;
		}
		p{
			color: $darker_grey;
			font-family: $font-family--serif;
			letter-spacing: 0.3px;
			height: 82px;
    		display: block;
   			overflow: hidden;
		}
		&:before{
			content: '';
			position: absolute;
			top: 176px;
			z-index: 9;
			left: 50%;
			right: auto;
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
			height: 0;
			width: 0;
			border: 6px solid transparent;
			border-bottom-color: $white;
		}
	}
	.storie-box-image{
		overflow: hidden;
		height: 196px;
		width: 100%;
 		img{
			max-height: 212px;
    		transform: translate(-20%);
		}
	}
	.loved-comments-wrapper{
		float: right;
		color: $light_grey;
		margin: 0 0 15px;
		.loved-wrapper{
			margin: 0 20px 0 0;
			float: left;
			font-family: $font-family--secondary;
			span{
				    font-size: 12px;
			}
		}
		.comments-wrapper{
			float: left;
			font-family: $font-family--secondary;
			span{
				    font-size: 12px;
			}
		}
	}
}
.stories-wrapper{
	float: left;
	width: 100%;
	padding: 20px 0;
	position: relative;
	.stories-title{
		font-family: $font-family--bold;
		color: $black;
		text-align: left;
		margin-bottom: 10px;
		display: block;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
	}
	.edit-faq-panel{
		@extend %block;
		background-color: $pale_white;
		padding: 5px;
		@include border-radius(6px,6px,6px,6px);
		margin: 0;
	}
	.create-stories-wrapper{
		width: 100%;
		@include border-radius(20px,20px,20px,20px);
		border: 1px solid #1C1919;
		float: left;
		margin: 10px 0 0 0;
		padding: 20px;
		.devisers-works-wrapper{
			width: 400px;
			float: left;
			background-color: $pale_white;
			border: 1px solid $white;
			.devisers-works-header{
				padding: 10px 20px;
    			border-bottom: 1px solid $white;
				.title{
					text-transform: uppercase;
					font-family: $font-family--bold;
				}
				.works-link{
					color: $red;
					cursor: pointer;
					float: right;
					font-family: $font-family--bold;
				}
			}
			.devisers-works-searcher{
				padding: 10px 20px 0px;
    			border-bottom: 1px solid $white;
				position: relative;
				.icon-magnifier{
					position: absolute;
					color: $dark_grey;
					top: 20px;
    				font-size: 18px;
    				left: 30px;	
				}
				input{
					margin-bottom: 10px!important;
					padding-left: 35px;
				}
			}
			.deviser-works-list{
				width: 400px;
				height: 200px;
				overflow-y: scroll;
				.deviser-works-item{
					padding: 10px;
    				border-bottom: 1px solid $white;
					img{
						width: 50px;
					}
					span{
						font-family: $font-family--bold;
						margin-left: 15px;
					}
				}
			}
		}
	}
	.add-videos-wrapper{
		width: 100%;
		@include border-radius(20px,20px,20px,20px);
		text-align: center;
		margin: 0 auto 20px;
		padding: 20px 20px 0;
		border: 1px solid #1C1919;
		cursor: pointer;
		background-color: #e9e9e9;
		margin: 10px 2px 0;
		&:hover{
			.plus-add{
				background-color: $dark_green;
				@include transition-property(background-color);
				@include transition-duration(0.3s);
				@include transition-timing-function(ease-out);
			}
		}
		.plus-add{
			background-color: $green;
			border: 1px solid $black;
			margin: 0 auto;
			font-size: 43px;
			text-align: center;
			@include size(50px,50px);
			@include border-radius(90px,90px,90px,90px);
			span{
				display: block;
				margin: -9px 0 0 0;
			}
		}
	}
}
.edit-faq-wrapper{
    @extend %block;
    margin: 15px 0;
    .plus-add{
        background-color: $green;
        border: 1px solid $black;
        margin: 0 auto;
        font-size: 43px;
        text-align: center;
        @include size(50px,50px);
        @include border-radius(90px,90px,90px,90px);
        span{
            display: block;
            margin: -9px 0 0 0;
        }
        &:hover{
            background-color: $dark_green;
            @include transition-property(background-color);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-out);
        }
    }
}
.faq-language-menu{
    ol{
        background-color:$pale_white!important;
        border-bottom: 1px solid #fff!important;
        @include border-radius(0px,0px,0px,0px);
        button{
            font-family: $font-family--bold;
            color: $black!important;
            border-top: 1px solid transparent!important;
            border-left: 1px solid transparent!important;
            border-right: 1px solid transparent!important;
            background-color: transparent!important;
            border-bottom: 1px solid $red!important;
            background-color:$pale_white!important;
            width:94px!important;
            @include border-radius(0px,0px,0px,0px);
            text-transform: uppercase;
        }
    }
    .dropdown-menu{
        background-color:$background_grey!important;
    }
    ul{
        border-bottom: 1px solid #fff;
        background-color: $background_grey!important;
        li{
            &:hover{
                @include box-shadow(0,0,0,transparent);
            }
            a{
                &:hover{
                    background-color:$white;
                }
                &:focus{
                    background-color:$light_grey;
                }
            }
        }
    }
}
.lang-selected{
    background-color: $green!important;
    a{
        background-color: $green!important;
    }
    a:hover{
        background-color: $green!important;   
    }
    a:focus{
        background-color: $green!important;   
    }
}
.ok-white-icon{
    color: $white;
}
.photo-loader-press{
    width: 100%;
    @include border-radius(20px,20px,20px,20px);
    text-align: center;
    margin: 0 2px 7px;
    padding: 20px;
    height: 250px;
    border: 1px solid #1C1919;
    cursor: pointer;
    display: inline-block;
    background-color: #e9e9e9;
    margin: 10px 2px 0;
    &:hover{
        .plus-add{
            background-color: $dark_green;
            @include transition-property(background-color);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-out);
        }
    }
    .plus-add{
        background-color: $green;
        border: 1px solid $black;
        margin: 0 auto;
        font-size: 43px;
        text-align: center;
        @include size(50px,50px);
        @include border-radius(90px,90px,90px,90px);
        span{
            display: block;
            margin: -9px 0 0 0;
        }
    }
}
.photo-loader{
    @include size(309px,400px);
    text-align: center;
    margin: 0 2px 7px;
    padding: 20px;
    border: 1px solid $black;
    background-color: $light_grey;
    cursor: pointer;
    display: inline-block;
    &:hover{
        .plus-add{
            background-color: $dark_green;
            @include transition-property(background-color);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-out);
        }
    }
    .plus-add{
        background-color: $green;
        border: 1px solid $black;
        margin: 0 auto;
        font-size: 43px;
        text-align: center;
        @include size(50px,50px);
        @include border-radius(90px,90px,90px,90px);
        span{
            display: block;
            margin: -9px 0 0 0;
        }
    }
}


    .input-video{
        width: 80%;
        margin: 0 auto 40px;
        .input-group-addon{
            @include border-radius(30px,0,0,30px);
            background-color: $light_grey;
            color: $almost_black;
            font: 14px $font-family--bold;
            padding-top: 16px;
            padding-left: 20px;
        }
        .input-add-video{
            width: 98%;
            @include border-radius(0,30px,30px,0);
        }
        .btn-add-video{
            color: $red;
            border: 1px solid $white;
            background-color: $light_grey;
            padding: 0;
            @include size(44px,44px);
            @include border-radius(30px,30px,30px,30px);
        }
    }
    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        margin-bottom: 6.5%;
    }
    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .video-row{
        background-color: $light_grey;
        margin-bottom: 30px;
        padding: 25px 10px 20px;
        cursor: move;
        float: left;
    }
.story-component-wrapper{
	display: block;
    width: 100%;
    float: left;
	position: relative;
}
.story-component-wrapper{
	position: relative;
}
.move-remove-elements{
	position: absolute;
    right: 25px;
    top: 25px;
    z-index: 9;
}