// ==========================================================================
// Sub-Banner
// ==========================================================================
.sub-banner{
    background-color: $white;
    height: 185px;
    @media (max-width: 768px){
        padding-top:40px;
        height: auto;
    }
    .container-sub-baner{
        .title-wrapper{
            padding:15px 20px 20px;
            height: 180px;
            position:relative;
            &.title-3{
                padding: 28px 34px 20px;
                @media (min-width:986px) and (max-width:1199px){
                   padding:15px 6px 20px;
                }
            }
            &.title-1{
                @media (min-width:986px) and (max-width:1199px){
                   padding:15px 0 20px;
                }
            }
            &.righty{
                @media (min-width:769px) and (max-width: 985px){
                    float: right;
                }
            }
            @media (max-width: 768px){
                    padding: 0;
                    height: auto;
            }
            h2{
                @media (max-width: 768px){
                    font-size: 52px;
                    line-height: 32px;
                    margin: 0;
                    text-align: center;
                    width: 100%;
                }
                &.title-1{
                    margin: 61px 0 0 80px;
                    @media (min-width:769px) and (max-width:986px){
                            margin: 61px 0 0 12px;
                    }
                    @media (max-width: 768px){
                            margin:0;
                    }
                }
                &.title-2{
                     margin: 0 0 0 83px;
                }
                .serif{
                    font: italic 700 37px $font-family--serif;
					letter-spacing: -1px;
                    text-transform: none;
                    display:block;
                    @media (max-width: 768px){
                        font-size: 32px;
                    }
                    .capital{
                        text-transform: capitalize;
                    }
                }
            }
            p{
                @extend %sub-banner-text;
                top: 10px;
                &.tagline-1{
                    padding: 55px 0 0 145px;
                    letter-spacing: 0.5px;
                    @media (min-width:986px) and (max-width:1199px){
                        padding: 25px 11px 0 61px;
                    }
                }
                &.tagline-2{
                    padding: 90px 15px 0 85px;
                    letter-spacing: 0.5px;
                }
                &.tagline-3{
                    padding: 41px 26px 0 112px;
                    letter-spacing: 0.5px;
                    @media (min-width:768px) and (max-width:986px){
                        padding: 91px 29px 0;
                    }
                }
            }
        }
    }
}
.sub-banner-wrapper{
	margin: 20px 0;
	position: relative;
}
.center-point{
	width: 80px;
    height: 80px;
    top: -17px;
    left: 131px;
    z-index: 0;
	background-color: #cacaca;
	position: absolute;
	@include border-radius(90px,90px,90px,90px);
}
.left-point{
	width: 80px;
    height: 80px;
    top: 22px;
    left: 87px;
    z-index: 0;
	background-color: #cacaca;
	position: absolute;
	@include border-radius(90px,90px,90px,90px);
}
.right-point{
	width: 80px;
    height: 80px;
    top: -13px;
    left: 40px;
    z-index: 0;
	background-color: #cacaca;
	position: absolute;
	@include border-radius(90px,90px,90px,90px);
}
.sub-banner-text-center{
	position: absolute;
	z-index: 1;
}
.sub-banner-text-left{
	position: absolute;
	z-index: 1;
	top: -67px;
}
.sub-banner-text-right{
	position: absolute;
	z-index: 1;
}
