// ==========================================================================
// Work
// ==========================================================================
.new-product-header{
	background-color: $almost_black;
	height:50px;
	margin: -40px 0 40px 0;
	padding-top: 6px;
	.title{
		color: $white;
		text-transform: uppercase;
	}
	.btns-group{
		margin: -39px 10px 0 0;
		float: right;
		button{
			display: inline;
			margin-left: 15px;
		}
	}
	.back-link{
		position: absolute;
		color: white;
		left: 70px;
		top: 83px;
	}
	.avatar{
		img{
			border: 1px solid #9a9a9a;
			@include border-radius(90px,90px,90px,90px);
			width:40px;
			height: 40px;
			position: absolute;
			top: 74px;
			left: 10px;
		}
	}
}
.create-work-wrapper{
	background-color: $background_grey;
	padding: 40px 0 120px;
	.card{
		background-color: $white;
		padding: 35px 35px 10px;
    	margin: 0 0 40px;
		.title{
			font-size: 24px;
			text-align: center;
			text-transform: uppercase;
			font-family: $font-family--bold;
			display: block;
    		margin: 0 0 30px;
		}
		.row{
			margin-bottom: 20px;
			label{
				font-family: $font-family--bold;
				text-transform: uppercase;
			}
			.info{
				color: $darker_grey;
				font-family: $font-family--secondary;
			}
			.title-lang-btn{
				button{
					position: absolute;
					left: 20px;
					top: -8px;
				}
			}
			.title-input{
				margin-top:-20px;
				padding: 30px 20px 0;
				height: 80px;
				@include border-radius(25px,25px,25px,25px);
			}
		}
	}
}
.items-row{
	margin-left:0;
	button{
		@include border-radius(20px,20px,20px,20px);
	}
	.categories-select{
		min-width: 136px;
	}
	.close-row{
		color:$white;
		background-color: $light_grey;
		font-size: 11px;
		width: 22px;
		height: 22px;
		@include border-radius(90px,90px,90px,90px);
		text-align: center;
		padding-top: 6px;
		cursor: pointer;
		&:hover{
			background-color: $dark_grey;
			@include transition-property(background-color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-out);
		}
	}
}
.add-cathegory{
	color:$dark_green;
	cursor: pointer;
	&:hover{
		@include transition-property(color);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-out);
		color:$green;
	}
}
.basic-info-add-photos{
	.plus-add-wrapper{
		border: 1px solid $black;
		margin: 0;
		width: 123px!important;
	}
    &:hover{
        .plus-add{
            background-color: $dark_green;
            @include transition-property(background-color);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-out);
        }
    }
    .plus-add{
        background-color: $green;
        border: 1px solid $black;
        margin: 0 auto;
        font-size: 43px;
        text-align: center;
        @include size(50px,50px);
        @include border-radius(90px,90px,90px,90px);
        span{
            display: block;
            margin: -9px 0 0 0;
        }
    }
}
.crop-modal-large{
	.crop-modal{
		width: 100%!important;
	}
}
.image-basic-info-edit{
		background-color: $light_grey;
		@include border-radius(14px,14px,14px,14px);
		cursor: move;
		height: 127px;
		position: relative;
		margin: 0 15px 15px 0;
	img{
		max-height: 122px;
		width: auto;
		max-width: 122px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	.crop{
		background-color: $dark_grey;
		color: $white;
		cursor: pointer;
		position: absolute;
		right: 35px;
    	top: 5px;
		width: 25px;
		height: 25px;
		font-size: 16px;
		text-align: center;
		padding: 1px 0 0 0;
		@include border-radius(7px,7px,7px,7px);
	}
	.delete{
		background-color: $dark_grey;
		color: $white;
		cursor: pointer;
		position: absolute;
		right: 5px;
    	top: 5px;
		width: 25px;
		height: 25px;
		font-size: 16px;
		text-align: center;
		padding: 1px 0 0 0;
		@include border-radius(7px,7px,7px,7px);
	}
}