// ==========================================================================
// Work
// ==========================================================================
.new-product-header{
	background-color: $almost_black;
	height:50px;
	width: 100%;
	z-index: 999999999999999;
	padding: 6px 15px;
	.title{
		color: $white;
		text-transform: uppercase;
	}
	.btns-group{
		margin: -39px 0 0 0;
		float: right;
		button{
			display: inline;
			margin-left: 15px;
		}
	}
	.back-link{
		position: absolute;
		color: white;
		left: 70px;
		top: 8px;
	}
	.avatar{
		img{
			border: 1px solid #9a9a9a;
			@include border-radius(90px,90px,90px,90px);
			width:40px;
			height: 40px;
			position: absolute;
			top: 0px;
			left: 20px;
		}
	}
}
.create-work-wrapper{
	background-color: $background_grey;
	padding: 20px 0 120px;
	.card{
		background-color: $white;
		padding: 35px 35px 10px;
    	margin: 0 0 40px;
		.title{
			font-size: 24px;
			text-align: center;
			text-transform: uppercase;
			font-family: $font-family--bold;
			display: block;
    		margin: 0 0 30px;
		}
		.row{
			margin-bottom: 20px;
			label{
				font-family: $font-family--bold;
				text-transform: uppercase;
			}
			.info{
				color: $darker_grey;
				font-family: $font-family--secondary;
			}
			.title-lang-btn{
				button{
					position: absolute;
					left: 12px;
					top: -20px;
				}
			}
			.title-input{
				background-color: transparent!important;
				@include border-radius(6px,6px,6px,6px);
			}
			.description-input{
				.ta-editor.ta-html, .ta-scroll-window.form-control{
					padding: 20px;
					min-height: 175px;
					@include border-radius(6px,6px,6px,6px);
				}
				.ta-scroll-window.form-control {
					height: auto!important;
					background-color: transparent!important;
				}
			}
		}
	}
}
.items-row{
	margin-left:0;
	position: relative;
	.categories-select{
		&.purple{
			background-color: transparent;
			button{
				border: 1px solid #b933f4;
			}
		}
		min-width: 136px;
	}
	.close-row{
		margin: 0 8px;
		color:$white;
		position: absolute;
    	top: 5px;
		background-color: $black;
		font-size: 16px;
		width: 22px;
		height: 22px;
		@include border-radius(90px,90px,90px,90px);
		text-align: center;
		cursor: pointer;
		&:hover{
			background-color: $dark_grey;
			@include transition-property(background-color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-out);
		}
	}
	.close-row-sizes{
		float: right;
		color:$white;
    	top: 5px;
		background-color: $light_grey;
		font-size: 16px;
		width: 22px;
		height: 22px;
		@include border-radius(90px,90px,90px,90px);
		text-align: center;
		cursor: pointer;
		&:hover{
			background-color: $dark_grey;
			@include transition-property(background-color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-out);
		}
	}
}
.add-cathegory{
	margin:-10px 0 0 0;
	display: block;
	color:$dark_red;
	cursor: pointer;
	&:hover{
		@include transition-property(color);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-out);
		color:$red;//$green;
	}
}
.basic-info-add-photos{
	.plus-add-wrapper{
		&.purple{
			background-color: transparent!important;
			border-color:#b933f4!important;
		}
		border: 1px solid $black;
		margin: 0;
		height: 150px;
		width: 150px!important;
	}
    &:hover{
        .plus-add{
            background-color: $dark_red;//$dark_green;
            @include transition-property(background-color);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-out);
        }
    }
    .plus-add{
        background-color: $red;//$green;
        border: 1px solid $black;
        margin: 0 auto;
        font-size: 43px;
        text-align: center;
        @include size(50px,50px);
        @include border-radius(90px,90px,90px,90px);
        span{
            display: block;
            margin: -11px 0 0 0;
        }
    }
}
.crop-modal-large{
	.crop-modal{
		width: 100%!important;
	}
}
.image-basic-info-edit{
		background-color: $light_grey;
		@include border-radius(6px,6px,6px,6px);
		cursor: move;
		height: 150px;
		width: 150px;
		position: relative;
		margin: 0 15px 15px 0;
		&:hover{
			.crop{
				display: block;
			}
			.delete{
				display: block;
			}
		}
	img{
		width: auto;
		max-width: 150px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	.crop{
		color: $white;
		cursor: pointer;
		position: absolute;
		right: 0;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		top: 50px;
		width: 50px;
		height: 50px;
		font-size: 30px;
		font-size: 30px;
		text-align: center;
		padding: 1px 0 0 0;
		border: 1px solid $white;
		@include border-radius(90px,90px,90px,90px);
		display: none;
	}
	.delete{
		cursor: pointer;
		position: absolute;
		right: 5px;
    	bottom: 20px;
		width: 25px;
		height: 25px;
		font-size: 32px;
		text-align: center;
		display: none;
	}
	.main-marked{
		position: absolute;
		bottom: -30px;
		font-size: 11px;
		font-weight: bold;
	}
}
.description-add-photos{
	.plus-add-wrapper{
		border: 1px solid $black;
		margin: 0;
		width: 150px!important;
		height: 150px;
	}
    &:hover{
        .plus-add{
            background-color: $dark_red;//$dark_green;
            @include transition-property(background-color);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-out);
        }
    }
    .plus-add{
        background-color: $red;//$green;
        border: 1px solid $black;
        margin: 0 auto;
        font-size: 43px;
        text-align: center;
        @include size(50px,50px);
        @include border-radius(90px,90px,90px,90px);
        span{
            display: block;
            margin: -9px 0 0 0;
        }
    }
}
.crop-modal-large{
	.crop-modal{
		width: 100%!important;
	}
}
.image-description-edit{
		background-color: $light_grey;
		@include border-radius(6px,6px,6px,6px);
		cursor: move;
		height: 150px;
		position: relative;
		margin: 0 15px 15px 0;
	img{
		max-height: 110px;
		width: auto;
		max-width: 110px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	.crop{
		background-color: $dark_grey;
		color: $white;
		cursor: pointer;
		position: absolute;
		right: 35px;
    	top: 5px;
		width: 25px;
		height: 25px;
		font-size: 16px;
		text-align: center;
		padding: 1px 0 0 0;
		@include border-radius(7px,7px,7px,7px);
	}
	.delete{
		background-color: $dark_grey;
		color: $white;
		cursor: pointer;
		position: absolute;
		right: 5px;
    	top: 5px;
		width: 25px;
		height: 25px;
		font-size: 16px;
		text-align: center;
		padding: 1px 0 0 0;
		@include border-radius(7px,7px,7px,7px);
	}
}
tags-input .tags{
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: transparent!important;
	background-image: none;
	border: 1px solid #ccc;
	@include border-radius(6px,6px,6px,6px);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
}
tags-input .tags.focused {
    outline: none;
}
.crop-modal-large{
	.btn{
		min-width:100px;
		margin:10px;
	}
	label{
		font-family: $font-family--bold;
		text-transform: uppercase;
	}
	.crop-input{
		margin-top: -50px;
		padding: 30px 20px 0;
		height: 80px;
		@include border-radius(25px,25px,25px,25px);
	}
	.about-edit-select{
		left: 15px;
	}
	textarea{
		margin-top: -50px;
		padding: 50px 20px 0;
		height: 150px;
		@include border-radius(25px,25px,25px,25px);
	}
}
.block-0{
	margin: 0!important;
	display: block!important;
}
tags-input .tags .tag-item {
    margin: 2px;
    padding: 0 10px!important;
    display: inline-block;
    float: left;
    height: 26px;
    line-height: 25px;
    border: 1px solid #cccccc!important;
    @include border-radius(6px,6px,6px,6px);
    background: $white!important;
	color: $black!important;
}
tags-input .tags .tag-item .remove-button {
    color: $dark_red!important;
	margin: 5px 5px 0 0px;
	float: left;
	&:hover{
		color: $black!important;
	}
}
.radio-inline{
	display: inline!important;
}
.black-link{
	@extend %link-black;
}
tags-input .tags .input {
    font-family: $font-family--primary!important;
	background-color: transparent;
}
tags-input .tags .tag-item {
	font-family: $font-family--primary!important;
}
.message-tagline{
	text-align: left;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 10px;
	color: $darker_grey;
}
.btn-add-work{
	position: absolute;
    bottom: 10px;
    right: 25px;
}
.manufacturing-question{
	font-family: $font-family--bold;
}
.manufacturing-answer{
	font-family: $font-family--serif;
	font-size: 12px;
}
.little-label-number{
	font-family: $font-family--primary!important;
	text-transform: none!important;
	margin: 5px 0 0 0;
}
.rounded-number-input{
	@include border-radius(90px,90px,90px,90px);
}
.manufacturing-textarea{
	padding-top: 60px;
	@include border-radius(20px,20px,20px,20px);
}
.manufacturing-lang{
	top:25px!important;
}
.purple-text{
	color:#b933f4!important;
}
.red-text{
	@extend %link-red;
}
.date-variations{
	border: 1px solid #cccccc;
	text-transform: uppercase;
	display: inline-block;
    padding: 5px 10px;
    margin: 0 0 6px;
	@include border-radius(90px,90px,90px,90px);
}
.bespoke-wraper{
	padding: 0 80px;
	p{
		color:$dark_grey;
	}
}
.red-plus{
	border: 1px solid #cccccc;
	@include border-radius(90px,90px,90px,90px);
	color: $red;
	padding: 6px 10px;
	&:hover{
		color: $dark_red;
	}
}
.product-table{
	input{
		@include border-radius(90px,90px,90px,90px);
		min-width: 35px;
	}
}
a.editable-click { 
    color: $black!important;
    border-bottom: dotted 2px transparent!important;
	border:0!important;
	display: inline-block;
    margin-top: 7px;
    text-align: right;
    width: 15px;
}
a.editable-click:hover { 
    color: $black!important;
    border-bottom-color: transparent!important;
	border:0!important;
}
a.editable-click.purple-text { 
    color: $violet!important;
    border-bottom: dotted 2px transparent!important;
	border:0!important;
}
a.editable-click.purple-text:hover { 
    color: $violet!important;
    border-bottom-color: transparent!important;
	border:0!important;
}
.editable-controls input{
	max-width:60px;
}

.switch-checkbox {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-top: 4px;
}
.switch-checkbox input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $dark_red;
}

input:focus + .slider {
  box-shadow: 0 0 1px $dark_red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.calendar-icon{
	border: 1px solid transparent;
    @include border-radius(90px,90px,90px,90px);
    width: 34px;
    height: 34px;
    text-align: center;
    padding: 5px 0 0 0;
    display: inline-block;
	color: $red;
	margin-top: -10px;
	i{
		color: $red;
		&:hover{
		color: $dark_red;	
		}
	}
	&.error-input{
		border: 1px solid $violet;
	}
}
.purple{
	.text-center{
		color: $white;
		    margin-top: 8px;
	}
}
.success-bar{
	background: $dark_green;
	height: 50px;
	color: $white;
	position: relative;
	.text-center{
		padding-top: 15px;
	}
	span{
		color: $white;
		position: absolute;
		top:10px;
		right: 15px;
		cursor:pointer;
		i{
			font-size:21px;
		}
	}
}
.p-s-label{
	margin: 0 15px 0 30px;
}
.draggable-list{
	list-style: none;
}
.apply-to-all-btn{
	cursor: pointer;
	color: $dark_red;
}
.editable-fix{
	display: block;
	margin: 7px 0 7px 0;
}
.category-select{
	display: block;
	float: left;
	margin-right: 5px;
   	width: 146px;
    margin-bottom: 10px;
}
.mw-200{
	max-width: 200px;
}