html,
body {
	height: 100%;
	font-size: 14px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.pointer {
	cursor: pointer;
}

.overflow {
	overflow: auto;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex-inline {
	display: inline-flex;
}

.flex-align-center {
	align-items: center;
}

.flex-align-stretch {
	align-items: stretch;
}

.flex-justify-start {
	justify-content: flex-start;
}

.flex-justify-center {
	justify-content: center;
}

.flex-justify-end {
	justify-content: flex-end;
}

.flex-justify-around {
	justify-content: space-around;
}

.flex-justify-between {
	justify-content: space-between;
}

.flex-column {
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
}

.flex-row {
	-webkit-flex-direction: row;
		-ms-flex-direction: row;
			flex-direction: row;
}

.flex-prop {
	-webkit-box-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}

.flex-prop-1 {
	-webkit-box-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
			flex: 1 1 auto;
}

.flex-prop-0-0 {
	-webkit-box-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.flex-prop-1-0 {
	-webkit-box-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
		-ms-flex: 1 0 auto;
			flex: 1 0 auto;
}

.flex-prop-2-1 {
	-webkit-box-flex: 2 1 auto;
	-webkit-flex: 2 1 auto;
		-ms-flex: 2 1 auto;
			flex: 2 1 auto;
}

/**** FONTS ****/

.funiv {
	font-family: 'UniversLTPro-Condensed';
}

.funiv_ultra {
	font-family: 'UniversLTPro-UltraCn';
}

.funiv_thin {
	font-family: 'UniversLTStd-ThinUltraCn';
}

.funiv_bold {
	font-family: 'UniversLTPro-BoldCond';
}

.fpf_black {
	font-family: 'playfair_displayblack';
}

.fpf_blacki {
	font-family: 'playfair_displayblack_italic';
}

.fpf_bold {
	font-family: 'playfair_displaybold';
}

.fpf_boldi {
	font-family: 'playfair_displaybold_italic';
}

.fpf_i {
	font-family: 'playfair_displayitalic';
}

.fpf {
	font-family: 'playfair_displayregular';
}

/**** FONT SIZES ****/

.fs0-414 {
	font-size: 0.414em;
}

.fs0-714 {
	font-size: 0.714em;
}

.fs0-786 {
	font-size: 0.786em;
}

.fs0-857 {
	font-size: 0.857em;
}

.fs0-929 {
	font-size: 0.929em;
}

.fs1 {
	font-size: 1em;
}

.fs1-071 {
	font-size: 1.071em;
}

.fs1-143 {
	font-size: 1.143em;
}

.fs1-214 {
	font-size: 1.214em;
}

.fs1-286 {
	font-size: 1.286em;
}

.fs1-357 {
	font-size: 1.357em;
}

.fs1-429 {
	font-size: 1.429em;
}

.fs1-500 {
	font-size: 1.5em;
}

.fs1-571 {
	font-size: 1.571em;
}

.fs1-643 {
	font-size: 1.643em;
}

.fs1-714 {
	font-size: 1.714em;
}

.fs1-786 {
	font-size: 1.786em;
}

.fs2-857 {
	font-size: 2.857em;
}

/**** FONT TYPES ****/

.fs-upper {
	text-transform: uppercase;
}

.fs-lower {
	text-transform: lowercase;
}

/**** FONT COLORS ****/

.fc-fff {
	color: #fff;
}

.fc-18 {
	color: #181818;
}

.fc-c7 {
	color: #c7c7c7;
}

.fc-da {
	color: #dadada;
}

.fc-d6 {
	color: #d6d6d6;
}

.fc-e8 {
	color: #e8e8e8;
}

.fc-e9 {
	color: #e9e9e9;
}

.fc-3d {
	color: #3d3d3d;
}

.fc-6d {
	color: #6d6d6d;
}

.fc-68 {
	color: #686868;
}

.fc-9b {
	color: #9b9b9b;
}

.fc-b8e986 {
	color: #b8e986;
}

.fc-ff6d6d {
	color: #ff6d6d;
}

.fc-86e0e9 {
	color:#86e0e9;
}

.fc-9013fe {
	color: #9013fe;
}
