html,
body {
	height: 100%;
	font-size:14px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.pointer {
	cursor: pointer;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
	padding: 70px 15px 20px;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

/**** FONTS ****/

.funiv_ltpro_condensed{
	font-family: 'UniversLTPro-Condensed';
}

.funiv_ltpro_ultracn{
	font-family: 'UniversLTPro-UltraCn';
}

.funiv_lts_thinultracn{
	font-family: 'UniversLTStd-ThinUltraCn';
}

.funiv_ltpro_boldcond{
	font-family: 'UniversLTPro-BoldCond';
}

.fplayfair_displayblack{
	font-family: 'playfair_displayblack';
}

.fplayfair_displayblack_italic{
	font-family: 'playfair_displayblack_italic';
}

.fplayfair_displaybold{
	font-family: 'playfair_displaybold';
}

.fplayfair_displaybold_italic{
	font-family: 'playfair_displaybold_italic';
}

.fplayfair_displayitalic{
	font-family: 'playfair_displayitalic';
}

.fplayfair_displayregular{
	font-family: 'playfair_displayregular';
}


/**** FONT SIZES ****/

.fs0714{
	font-size:0.714em;
}

.fs0786{
	font-size:0.786em;
}

.fs0857{
	font-size:0.857em;
}

.fs0929{
	font-size:0.929em;
}

.fs1{
	font-size:1em;
}

.fs1-071{
	font-size:1.071em;
}

.fs1-143{
	font-size:1.143em;
}

.fs1-214{
	font-size:1.214em;
}

.fs1-286{
	font-size:1.286em;
}

.fs1-357{
	font-size:1.357em;
}

.fs1-429{
	font-size:1.429em;
}

.fs1-500{
	font-size:1.5em;
}

.fs1-571{
	font-size:1.571em;
}

.fs1-643{
	font-size:1.643em;
}

.fs1-714{
	font-size:1.714em;
}

.fs1-786{
	font-size:1.786em;
}