<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalDeleteBoxCtrl.dismiss()">
		<span class="ion-ios-close" aria-hidden="true"></span>
	</button>
	<h3><span translate="DELETE_BOX_PERMANENTLY"></span></h3>
</div>
<div class="modal-body">
	<p class="modal-delete-text"><span translate="NOT_ABLE_RECOVER"></span></p>
	<div class="text-center">
		<button class="btn btn-default btn-cancel" ng-click="modalDeleteBoxCtrl.deleteBox()"><span translate="DELETE"></span></button>
		<button class="btn btn-green green-modal-btn" ng-click="modalDeleteBoxCtrl.dismiss()"><span translate="CANCEL"></span></button>
	</div>
</div>