<div class="personal-info-wrapper">
	<span class="shopping-cart-section-header">1 Personal info & shipping address</span>
	<div ng-if="personalInfoCtrl.state===1">
		<form class="form-horizontal" name="personalInfoCtrl.form" novalidate>
		<div class="col-md-6">
				<span class="billing-header">Personal details</span>
				<div class="form-group form-personal-info">
					<label for="name" class="col-md-3">First name</label>
					<div class="col-md-9">
						<input type="text" name="name" ng-model="personalInfoCtrl.cart.shipping_address.name" class="form-control ng-class:{'error-input': personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.name)}" required>
						<form-errors field="personalInfoCtrl.form.name" condition="personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.name)"></form-errors>
					</div>
				</div>
				<div class="form-group form-personal-info">
					<label for="last_name" class="col-md-3">Last name</label>
					<div class="col-md-9">
						<input type="text" name="last_name" ng-model="personalInfoCtrl.cart.shipping_address.last_name" class="form-control ng-class:{'error-input': personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.last_name)}" required>
						<form-errors field="personalInfoCtrl.form.last_name" condition="personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.last_name)"></form-errors>
					</div>
				</div>
				<div class="form-group form-personal-info">
					<label for="vat_id" class="col-md-3">VAT number</label>
					<div class="col-md-9">
						<input type="text" name="vat_id" ng-model="personalInfoCtrl.cart.shipping_address.vat_id" class="form-control ng-class:{'error-input': personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.vat_id)}" required>
						<form-errors field="personalInfoCtrl.form.vat_id" condition="personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.vat_id)"></form-errors>
					</div>
				</div>
				<div class="form-group form-personal-info">
					<label for="phone" class="col-md-3">Phone</label>
					<div class="col-md-3">
						<input type="text" name="phone_number_prefix" ng-model="personalInfoCtrl.cart.shipping_address.phone_number_prefix" class="form-control ng-class:{'error-input': personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.phone_number_prefix)}" required>
					</div>
					<div class="col-md-6">
						<input type="text" name="phone_number" ng-model="personalInfoCtrl.cart.shipping_address.phone_number" class="form-control ng-class:{'error-input': personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.phone_number)}" required> <!-- include phone pattern !-->
						<form-errors field="personalInfoCtrl.form.phone_number_prefix" condition="personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.phone_number_prefix)" ng-if="!personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.phone_number)"></form-errors>
						<form-errors field="personalInfoCtrl.form.phone_number" condition="personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.phone_number)"></form-errors>
					</div>
				</div>
		</div>
		<div class="col-md-6">
			<span class="billing-header">Shipping address</span>
			<div class="form-group form-personal-info">
				<label for="country" class="col-md-3">Country</label>
				<div class="col-md-9">
					<ol class="nya-bs-select ng-class:{'error-input': personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.country)}" ng-model="personalInfoCtrl.cart.shipping_address.country" size="5" name="country" required>
						<li nya-bs-option="country in personalInfoCtrl.countries | orderBy:'country_name'" data-value="country.id">
							<a href=""><span ng-bind="country.country_name"></span></a>
						</li>
					</ol>
				<form-errors field="personalInfoCtrl.form.country" condition="personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.country)"></form-errors>
				</div>
			</div>
			<div class="form-group form-personal-info">
				<label for="city" class="col-md-3">City</label>
				<div class="col-md-9">
					<input type="text" name="city" ng-model="personalInfoCtrl.cart.shipping_address.city" class="form-control ng-class:{'error-input': personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.city)}" required>
					<form-errors field="personalInfoCtrl.form.city" condition="personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.city)"></form-errors>
				</div>
			</div>
			<div class="form-group form-personal-info">
				<label for="address" class="col-md-3">Address</label>
				<div class="col-md-9">
					<input type="text" name="address" ng-model="personalInfoCtrl.cart.shipping_address.address" class="form-control ng-class:{'error-input': personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.address)}" required>
					<form-errors field="personalInfoCtrl.form.address" condition="personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.address)"></form-errors>
				</div>
			</div>
			<div class="form-group form-personal-info">
				<label for="zip_code" class="col-md-3">ZIP Code</label>
				<div class="col-md-4">
					<input type="text" name="zip" ng-model="personalInfoCtrl.cart.shipping_address.zip" class="form-control ng-class:{'error-input': personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.zip)}" required>
				</div>
				<form-errors field="personalInfoCtrl.form.zip" condition="personalInfoCtrl.has_error(personalInfoCtrl.form, personalInfoCtrl.form.zip)"></form-errors>
			</div>
		</div>
		</form>
		<div class="col-md-12 text-center">
			<button class="btn btn-green mt-30" ng-click="personalInfoCtrl.save(personalInfoCtrl.form)">Continue to shipping methods</button>
		</div>
	</div>
	<div ng-if="personalInfoCtrl.state>1">
		<div class="col-md-3">
			<p>Name&nbsp;<span class="bold" ng-bind="personalInfoCtrl.cart.shipping_address.name + ' ' + personalInfoCtrl.cart.shipping_address.last_name"></span></p>
			<p>VAT ID&nbsp;<span ng-bind="personalInfoCtrl.cart.shipping_address.vat_id"></span></p>
			<p>Phone&nbsp;<span ng-bind="personalInfoCtrl.cart.shipping_address.phone_number_prefix + ' ' + personalInfoCtrl.cart.shipping_address.phone_number"></span></p>
		</div>
		<div class="col-md-3">
			<p>Shipping information&nbsp;<span ng-bind="personalInfoCtrl.cart.shipping_address.address"></span></p>
			<p><span ng-bind="personalInfoCtrl.cart.shipping_address.city"></span>&nbsp;<span ng-bind="personalInfoCtrl.cart.shipping_address.zip"></span></p>
			<p><span ng-bind="personalInfoCtrl.cart.shipping_address.country"></span></p>
		</div>
		<div class="col-md-1"><button><i class="ion-edit" ng-click="personalInfoCtrl.editShippingAddress()"></i></button></div>
	</div>
</div>