<div class="filter-wrapper">
	<form name="exploreBoxesFiltersCtrl.form">
		<span class="filter-title" translate="FILTER_BY_COUNTRY"></span>
		<div class="checkbox checkbox-red" ng-repeat="country in exploreBoxesFiltersCtrl.countries.items | orderBy: 'country.name'" ng-if="$index < exploreBoxesFiltersCtrl.show_countries">
			<input ng-attr-id="{{'checkbox'+($index+10)}}" type="checkbox" name="countries" ng-model="exploreBoxesFiltersCtrl.filters.countries[country.id]" class="ng-class:{'checked': exploreBoxesFiltersCtrl.filters.countries[country.id]}" ng-disabled="exploreBoxesFiltersCtrl.searching">
			<label ng-attr-for="{{'checkbox'+($index+10)}}">
				<span ng-bind="country.country_name"></span>
			</label>
		</div>
		<span class="more-btn" ng-click="exploreBoxesFiltersCtrl.seeMore('countries')" ng-if="exploreBoxesFiltersCtrl.show_countries < exploreBoxesFiltersCtrl.countries.meta.total_count" ng-cloak translate="SEE_MORE"></span>
	</form>
</div>