<div class="category-component-wrapper">
	<h5 class="stories-title"><span translate="person.stories.STORY_INFORMATION"></span></h5>
	<span class="text"><span translate="person.stories.STORY_PRODUCT_CATEGORIES"></span></span>
	<ol class="nya-bs-select regular-select" ng-model="storyCategoryComponentCtrl.story.categories" multiple>
		<li nya-bs-option="category in storyCategoryComponentCtrl.categories" data-value="category.id" deep-watch="true" class="ng-class:{'lang-selected': storyCategoryComponentCtrl.isCategorySelected(category.id)}">
			<a href="">
				<span ng-bind="category.name"></span>
				<span class="glyphicon glyphicon-ok ok-white-icon pull-right" ng-if="storyCategoryComponentCtrl.isCategorySelected(category.id)"></span>
			</a>
		</li>
	</ol>
</div>