/*
Error: Invalid CSS after "}": expected selector or at-rule, was "}"
        on line 628 of modules/_work.scss
        from line 92 of modules/_index.scss
        from line 19 of application.scss

623: 	display: block;
624: 	float: left;
625: 	margin-right: 5px;
626:    	width: 140px;
627: }
628: }

Backtrace:
modules/_work.scss:628
modules/_index.scss:92
application.scss:19
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1162:in `expected'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1098:in `expected'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:43:in `parse'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:403:in `_to_tree'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:309:in `to_tree'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:88:in `block in with_import'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:88:in `with_import'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `map'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:88:in `block in with_import'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:88:in `with_import'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Users/marcosfolio/.rvm/gems/ruby-2.1.0/gems/sass-3.4.18/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected selector or at-rule, was \"}\"\A         on line 628 of modules/_work.scss\A         from line 92 of modules/_index.scss\A         from line 19 of application.scss\A \A 623: 	display: block;\A 624: 	float: left;\A 625: 	margin-right: 5px;\A 626:    	width: 140px;\A 627: }\A 628: }"; }
