<div class="col-md-10">
	<div class="empty-wrapper">
		<div><a href="#" ng-click="editPressCtrl.done()" class="red-link-btn" ng-if="editPressCtrl.images.length>0"><span translate="DONE_PRESS"></span></a></div>
		<div ng-if="editPressCtrl.files.length > 0" ng-repeat="item in editPressCtrl.files" style="max-height:200px; max-width:400px;">
			<div ng-if="item.progress <= 100" ng-cloak>
				<img ngf-thumbnail="item" style="max-height:200px; opacity:0.5;">
				<p><span translate="UPLOADING"></span> {{item.name}}</p>
				<uib-progressbar max="100" value="item.progress" class="progress-striped active">{{item.progress}}</uib-progressbar>
			</div>
		</div>
		<div ng-if="editPressCtrl.images.length === 0" class="faq-edit-empty" ng-cloak>
			<img class="sad-face" src="/imgs/sad-face.svg">
			<p><span translate="ANY_PRESS"></span></p>
			<button class="btn btn-default btn-green" ngf-select="editPressCtrl.upload($files, $invalidFiles)" ngf-accept="'image/*'" ngf-multiple="true"><span translate="ADD_PRESS"></span></button>
		</div>
		<div class="row press-3" ng-if="editPressCtrl.images.length > 0" ng-cloak>
			<form name="editPressCtrl.form" ng-cloak>
				<div class="col-sm-6 h250" ng-if="editPressCtrl.isDropAvailable">
					<div class="photo-loader-press" class="menu-category list-group" ngf-drop ngf-select ngf-change="editPressCtrl.upload($files, $invalidFiles)" ngf-accept="'image/*'" ngf-drop-available="editPressCtrl.isDropAvailable" ngf-multiple="true">
						<span class="photo-loader-title"><span translate="SHOW_PRESS"></span></span>
						<div class="plus-add-wrapper">
							<div class="plus-add">
								<span>+</span>
							</div>
							<div class="text"><span translate="ADD_PHOTOS"></span></div>
						</div>
						<span class="photo-loader-warning"><span translate="SIZE_PUBLIC_PHOTOS"></span></span>
					</div>
				</div>
				<div ngf-no-file-drop>
					<input type="file" name="file" ngf-select="editPressCtrl.upload($files, $invalidFiles)" ngf-accept="'image/*'" ngf-drop-available="editPressCtrl.isDropAvailable" ngf-multiple="true">
				</div>
			</form>
			<div class="list-group draggable-list" ng-if="editPressCtrl.images.length > 0">
				<div ui-sortable ng-model="editPressCtrl.images" ng-cloak>
					<div class="col-sm-3" ng-repeat="item in editPressCtrl.images">
						<div class="image-press-edit">
							<span class="ion-android-close x-close" style="background-color: black" ng-click="editPressCtrl.deleteImage($index)"></span>
							<img class="grid-image draggable-img" ng-src="{{item.url}}" draggable="false">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>