<div class="edit-faq-wrapper">
	<div class="edit-faq-panel">
		<div class="faq-language-menu">
			<ol class="nya-bs-select form-control" ng-model="storyMainTitleCtrl.languageSelected" ng-change="storyMainTitleCtrl.parseTitle(storyMainTitleCtrl.story.title)">
				<li nya-bs-option="language in storyMainTitleCtrl.languages" data-value="language.code" deep-watch="true" ng-init="storyMainTitleCtrl.languageSelected='en-US'" class="ng-class:{'lang-selected': storyMainTitleCtrl.isLanguageOk(language.code)}">
						<a href="">
							<span ng-bind="language.name"></span>
							<span class="glyphicon glyphicon-ok ok-white-icon pull-right" ng-if="storyMainTitleCtrl.isLanguageOk(language.code,storyMainTitleCtrl.story.title)"></span>
						</a>
				</li>
			</ol>
			<div class="faq-row">
				<div class="col-sm-1">
					<span class="faq-edit-question"><span translate="person.stories.MAIN_TITLE"></span></span>
				</div>
				<div class="col-md-11">
					<input type="text" class="faq-edit-answer" ng-model="storyMainTitleCtrl.story.title[storyMainTitleCtrl.languageSelected]" class="form-control" translate-attr="{placeholder: 'person.stories.MAIN_TITLE'}">
				</div>
			</div>
		</div>
	</div>
</div>