<div>
	<div ng-if="storyPhotoComponentCtrl.isDropAvailable">
		<div class="photo-loader-press" ngf-drag-over-class="drag-over" ngf-drop ngf-select ngf-change="storyPhotoComponentCtrl.uploadPhotos($files, $invalidFiles)" ngf-accept="'image/*'" ngf-drop-available="storyPhotoComponentCtrl.isDropAvailable" ngf-multiple="true">
			<span class="photo-loader-title">PHOTOS</span>
			<div class="plus-add-wrapper">
				<div class="plus-add">
					<span>+</span>
				</div>
				<div class="text">ADD PHOTOS</div>
			</div>
			<span class="photo-loader-warning">Drag your photos here or click the button below.</span>
		</div>
	</div>
	<div ngf-no-file-drop>
		<input type="file" name="file" ngf-select="storyPhotoComponentCtrl.uploadPhotos($files, $invalidFiles)" ngf-accept="'image/*'" ngf-drop-available="storyPhotoComponentCtrl.isDropAvailable" ngf-multiple="true">
	</div>
	<span ng-repeat="image in storyPhotoComponentCtrl.component.items" ng-if="storyPhotoComponentCtrl.component.items.length > 0">
		<img ngf-thumbnail="image.url" style="max-width: 200px;">
	</span>
</div>