<div>
	<div ng-if="storyPhotoComponentCtrl.isDropAvailable">
		<div class="photo-loader-stories" ngf-drag-over-class="drag-over" ngf-drop ngf-select ngf-change="storyPhotoComponentCtrl.uploadPhotos($files, $invalidFiles)" ngf-accept="'image/*'" ngf-drop-available="storyPhotoComponentCtrl.isDropAvailable" ngf-multiple="true">
			<span class="photo-loader-title"><span translate="PHOTOS"></span></span>
			<div class="plus-add-wrapper">
				<div class="plus-add">
					<span>+</span>
				</div>
				<div class="text"><span translate="ADD_PHOTOS"></span></div>
			</div>
			<span class="photo-loader-warning"><span translate="DRAG_PHOTOS"></span></span>
			<div class="devisers-works-load-photos-row row">
				<div ui-sortable ng-model="storyPhotoComponentCtrl.component.items">
					<div class="photo col-md-4" ng-if="storyPhotoComponentCtrl.component.items.length > 0" ng-repeat="image in storyPhotoComponentCtrl.component.items">
						<move-delete-component array="storyPhotoComponentCtrl.component.items" position="$index">
							<img ng-src="{{image.url}}">
						</move-delete-component>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ngf-no-file-drop>
		<input type="file" name="file" ngf-select="storyPhotoComponentCtrl.uploadPhotos($files, $invalidFiles)" ngf-accept="'image/*'" ngf-drop-available="storyPhotoComponentCtrl.isDropAvailable" ngf-multiple="true">
	</div>
</div>