<div style="background-color: white; height:583px;">
	<h1 class="text-center">1/ BASIC WORK INFORMATION</h1>
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-md-1"><label for="title">Title</label></div>
			<div class="col-md-11">
				<ol class="about-edit-select text-profile nya-bs-select" ng-model="productBasicInfoCtrl.title_language">
					<li nya-bs-option="language in productBasicInfoCtrl.languages" data-value="language.code" deep-watch="true">
						<a href=""><span ng-bind="language.name"></span> <span class="glyphicon glyphicon-ok check-mark"></span></a>
					</li>
				</ol>
				<input type="text" name="title" ng-model="productBasicInfoCtrl.product.title[productBasicInfoCtrl.title_language]">
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"><label for="categories">Categories</label></div>
			<div class="col-md-11">
				<div ng-repeat="item in productBasicInfoCtrl.categories_helper track by $index">
					<span ng-repeat="category in productBasicInfoCtrl.categories_helper[$index].categories_selected"><select name="categories" ng-options="category.id as category.name for category in productBasicInfoCtrl.categories_helper[$parent.$index].categories[$index]" ng-model="productBasicInfoCtrl.categories_helper[$parent.$index].categories_selected[$index]" ng-change="productBasicInfoCtrl.categorySelected(productBasicInfoCtrl.categories_helper[$parent.$index].categories_selected[$index], $parent.$index, $index)"></select></span>
				</div>
				<p ng-click="productBasicInfoCtrl.addCategory(productBasicInfoCtrl.categories_helper[$parent.$index].categories_selected[$index])">+ Add category</p>
			</div>
		</div>
	</div>
	<div class="col-md-2"><p>Translate your work title by simply selecting different languages from the drop-down menu. Translate in as many languages as possible to reach a broader audience</p>
	<p>Your work can go into 1 or more categories.</p>
	<p>Mark one of the photos as "main photo" by clicking the star icon. The main photo of the work will be displayed on Todevise's homepage.</p></div>
</div>