<div class="panel">
	<uib-accordion>
		<div uib-accordion-group ng-repeat="order in soldOrdersCtrl.orders" ng-cloak >
			<uib-accordion-heading >
				<span class="col-md-4 text-center">
					<span  class="col-md-12">INVOICE Nº</span>
					<span ng-bind="order.id"></span>
				</span>
				<span class="col-md-4 text-center">
					<span class="col-md-12">ORDER DATE</span>
					<span>{{order.order_date | date:'dd/MM/yy'}}</span>
				</span>
				<span class="col-md-4 text-center">
					<span class="col-md-12">CLIENT NAME</span>
					<span ng-bind="order.billing_address.name + ' ' + order.billing_address.last_name"></span>
				</span>
			</uib-accordion-heading>
			<div class="card">
				<div class="col-md-6">
					<h4>Info</h4>
					<div class="col-md-6">
						<p>CLIENT</p>
						<p ng-bind="order.billing_address.name + ' ' + order.billing_address.last_name"></p>
						<p ng-bind="order.billing_address.address"></p>
						<p ng-bind="order.billing_address.city + ', ' + order.billing_address.country"></p>
					</div>
					<div class="col-md-6">
						<div class="col-md-12">
							<span>YOU RECEIVE</span>
							<span ng-bind="order.totalPrice"></span>
						</div>
						<div class="col-md-12">
							<span>TODEVISE COMMISSION</span>
							<span>{{ order.commission| number:2}}</span>
						</div>
						<!-- TODO affiliates 
						<div class="col-md-12">
							<span>AFFILIATES FOR ALL</span>
							<span ng-bind="order.affiliates"></span>
						</div> -->
						<div class="col-md-12">
							<span>SHIPPING</span>
							<span ng-bind="order.totalShippingPrice"></span>
						</div>
					</div>
					<div class="col-md-12 text-right">
						<div class="col-md-12">
							<span>TOTAL</span>
							<span>{{ order.total| number:2}}</span>
						</div>
					</div>
					<div ng-repeat="pack in order.packs">
						<div class="col-md-4" ng-repeat="product in pack.products">
							<product-card product="product"></product-card>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div ng-repeat="pack in order.packs">
						<div ng-switch on="pack.pack_state">
							<div ng-switch-when="paid">
								<div class="col-md-12">
									<div class="col-md-12" >
										<div class="col-md-5 col-md-offset-1">
											<label>I'M AWARE</label>
										</div>
										<div class="col-md-3 col-md-offset-2">
											<span>I'M PREPARING IT</span>
										</div>
									</div>
									<p>When you see the order, please click the button below to inform us</p>
								</div>
								<button class="btn btn-green" ng-click="soldOrdersCtrl.markPackAware(order,pack)">READY TO CREATE</button>
							</div>
							<div ng-switch-when="aware">
								<form name="soldOrdersCtrl.shippingForm" class="form-horizontal" >
									<div class="form-group col-md-6">
										<label for="shippingCompany" class="col-md-12">Shipping company</label>
										<div class="col-md-12">
											<input type="text" name="shippingCompany" class="form-control" ng-model="soldOrdersCtrl.shippingCompany">
										</div>
										<label for="eta" class="col-md-12">ETA <span>OPTIONAL</span></label>
										<div class="col-md-12">
											<input type="text" name="eta" class="form-control" ng-model="soldOrdersCtrl.eta">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label for="trackingNumber" class="col-md-12">Tracking number</label>
										<div class="col-md-12">
											<input type="text" name="trackingNumber" class="form-control" ng-model="soldOrdersCtrl.trackingNumber">
										</div>
										<label for="trackLink" class="col-md-12">Link to track package <span>OPTIONAL</span></label>
										<div class="col-md-12">
											<input type="text" name="trackLink" class="form-control" ng-model="soldOrdersCtrl.trackLink">
										</div>
									</div>
									<span class="form-group col-md-12">
										When you click this button, the order will be moved to PAST ORDERS
									</span>
									<div class="form-group col-md-12">
										<button class="btn btn-green" ng-click="soldOrdersCtrl.markPackShipped(order,pack)" ng-enabled="soldOrdersCtrl.shippingForm.$valid">PACKAGE WAS SHIPPED</button>
									</div>

								</form>
							</div>
							<div ng-switch-when="shipped">
								<div class="col-md-12 text-right">
									<button class="btn btn-green">edit</button>
								</div>
								<div class="col-md-6">
									<label class="col-md-12">Shipping company</label>
									<span class="col-md-12" ng-bind="pack.shipping_info.company"></span>
								</div>
								<div class="col-md-6">
									<label class="col-md-12">ETA</label>
									<span class="col-md-12" ng-bind="pack.shipping_info.eta"></span>
								</div>
								<div class="col-md-6">
									<label class="col-md-12">Tracking number</label>
									<span class="col-md-12" ng-bind="pack.shipping_info.tracking_number"></span>
								</div>
								<div class="col-md-6">
									<label class="col-md-12">Link to track package</label>
									<a class="col-md-12" ng-href="pack.shipping_info.tracking_link" target="blank">{{pack.shipping_info.tracking_link}}</span>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</uib-accordion>
</div>