<!--<div class="col-md-12 text-right">
	<div class="col-md-2 col-md-offset-9">
		<span style="color: #9D9D9D;" ng-cloak><span translate="settings.orders.TOTAL"></span>: </span> <label> {{soldOrdersCtrl.ordersTotalPrice | currency:'€':2}}</label>
	</div>
</div>-->
<div class="col-md-10 col-md-offset-1" style="padding: 20px;">
	<div class="panel panel-accordion">
		<uib-accordion close-others="false">
			<div uib-accordion-group ng-repeat="order in soldOrdersCtrl.orders" ng-class="col-md-12" ng-cloak style="border:0 none !important;">
				<uib-accordion-heading style="font-weight: lighter;" ng-click="soldOrdersCtrl.actualPack=order.packs[0]">
					<div>
						<div class="pull-left text-left accordion-header-item">
							<div class="accordion-header-title" translate="settings.orders.INVOICE_NUMBER"></div>
							<div class="accordion-header-subtitle" ng-bind="order.id"></div>
						</div>
						<div class="pull-left text-left accordion-header-item">
							<div class="accordion-header-title" translate="settings.orders.ORDER_DATE"></div>
							<div class="accordion-header-subtitle" ng-cloak>{{soldOrdersCtrl.parseDate(order.order_date.sec*1000) | date:'dd/MM/yy'}}</div>
						</div>
						<div class="pull-left text-left accordion-header-item">
							<div class="accordion-header-title" translate="settings.orders.CLIENT_NAME"></div>
							<div class="accordion-header-subtitle bold" ng-bind="order.billing_address.name + ' ' + order.billing_address.last_name"></div>
						</div>
					</div>
				</uib-accordion-heading>
				<div class="card">
					<div class="col-md-7" style="border-right: 1px solid #e9e9e9">
						<div class="row" style="border-bottom: 1px solid #e9e9e9">
							<span class="col-md-12 mt-20 mb-20 info-text" translate="global.INFO"></span>
							<div class="col-md-5 row">
								<div class="adress-wrapper mb-20">
									<span class="col-md-12 send-to-text" translate="settings.orders.SHIP_TO"></span>
									<label class="col-md-12 adress-text" ng-bind="order.shipping_address.name + ' ' + order.shipping_address.last_name"></label>
									<label class="col-md-12 adress-text" ng-bind="order.shipping_address.address"></label>
									<label class="col-md-12 adress-text" ng-bind="order.shipping_address.city + ', ' + order.shipping_address.country"></label>
								</div>
								<div class="adress-wrapper">
									<span class="col-md-12 send-to-text" translate="settings.orders.BILL_TO"></span>
									<label class="col-md-12 adress-text" ng-bind="order.billing_address.name + ' ' + order.billing_address.last_name"></label>
									<label class="col-md-12 adress-text" ng-bind="order.billing_address.address"></label>
									<label class="col-md-12 adress-text" ng-bind="order.billing_address.city + ', ' + order.billing_address.country"></label>
								</div>
							</div>
							<div class="col-md-5 row">
								<div class="col-md-12">
									<span class="total-title" translate="settings.orders.YOU_RECEIVE"></span>
									<label class="pull-right" ng-cloak>{{order.to_receive | currency:'€':2}}</label>
								</div>
								<div class="col-md-12">
									<span class="total-title" translate="settings.orders.TODEVISE_COMMISSION"></span>
									<label class="pull-right">{{ order.commission | currency:'€':2}}</label>
								</div>
								<div class="col-md-12">
									<span class="total-title" translate="settings.orders.SHIPPING"></span>
									<label class="pull-right" ng-cloak>{{order.totalShippingPrice | currency:'€':2}}</label>
								</div>
							</div>
							<div class="col-md-12 text-right mt-20">
								<div class="col-md-12">
									<span class="total-title" translate="settings.orders.TOTAL"></span>
									<label>{{order.totalPrice | currency:'€':2}}</label>
								</div>
							</div>
						</div>
						<div ng-repeat="pack in order.packs" class="mt-20">
							<div class="col-md-6 row no-pad" ng-repeat="product in pack.products">
								<product-card product="product" classes="{column1Class: 'col-md-6', column2Class: 'col-md-6'}" ></product-card>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div ng-repeat="pack in order.packs">
							<div ng-switch on="pack.pack_state">
								<div ng-switch-when="paid">
									<div ng-if="!pack.loading" ng-cloak>
										<div class="col-md-12 mt-20" >
											<div class="col-md-6 no-pad">
												<label translate="settings.orders.IM_AWARE"></label>
											</div>
											<div class="col-md-6 no-pad">
												<label style="color: #9D9D9D;" translate="settings.orders.IM_PREPARING"></label>
											</div>
										</div>
										<span class="col-md-12 mt-30 mb-20" translate="settings.orders.CLICK_TO_INFORM"></span>
										<div class="col-md-12 mt-40 mb-10" >
											<button class="btn btn-medium btn-red" ng-click="soldOrdersCtrl.markPackAware(order,pack)"><span translate="settings.orders.READY_TO_CREATE"></span></button>
										</div>
									</div>
									<div class="text-center mt-20" ng-if="pack.loading" ng-cloak>
										<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
										<span class="sr-only" translate="global.LOADING"></span>
									</div>
								</div>
								<div ng-switch-when="aware">
									<div ng-if="!pack.loading" ng-cloak>
										<div class="col-md-12 mt-20 mb-20" ng-if="!pack.editInfo" ng-cloak>
											<div class="col-md-5 no-pad">
												<label style="color: #9D9D9D;">
													<span class="text-icon" translate="settings.orders.IM_AWARE"></span>
													<span class="ion-checkmark-circled red-text"></span>
												</label>
											</div>
											<div class="col-md-7">
												<label><span translate="settings.orders.IM_PREPARING"></span></label>
											</div>
										</div>
										<form name="soldOrdersCtrl.shippingForm" class="form-horizontal">
											<div class="col-md-12 no-pad">
												<div class="col-md-5 no-pad">
													<span for="shippingCompany" class="col-md-12" translate="settings.orders.SHIPPING_COMPANY"></span>
													<div class="col-md-12">
														<input type="text" name="shippingCompany" class="form-control" ng-class="{'error-input': soldOrdersCtrl.has_error(soldOrdersCtrl.shippingForm, soldOrdersCtrl.shippingForm.shippingCompany)}" ng-model="soldOrdersCtrl.shippingCompany" required >
													</div>
													<form-errors class="col-md-12" field="soldOrdersCtrl.shippingForm.shippingCompany" condition="soldOrdersCtrl.has_error(soldOrdersCtrl.shippingForm, soldOrdersCtrl.shippingForm.shippingCompany)"></form-errors>
													<span for="eta" class="col-md-12 mt-20" translate="settings.orders.ETA"></span> <span class="col-md-12" style="color: #9D9D9D;" translate="global.OPTIONAL"></span>
													<div class="col-md-12">
														<input type="text" name="eta" class="form-control" ng-model="soldOrdersCtrl.eta">
													</div>
												</div>
												<div class="col-md-7 no-pad">
													<span for="trackingNumber" class="col-md-12" translate="settings.orders.TRACKING_NUMBER"></span>
													<div class="col-md-12">
														<input type="text" name="trackingNumber" class="form-control" ng-class="{'error-input': soldOrdersCtrl.has_error(soldOrdersCtrl.shippingForm, soldOrdersCtrl.shippingForm.trackingNumber)}" ng-model="soldOrdersCtrl.trackingNumber" required >
													</div>
													<form-errors class="col-md-12" field="soldOrdersCtrl.shippingForm.trackingNumber" condition="soldOrdersCtrl.has_error(soldOrdersCtrl.shippingForm, soldOrdersCtrl.shippingForm.trackingNumber)"></form-errors>
													<span for="trackLink" class="col-md-12 mt-20">
														<span translate="settings.orders.TRACKING_LINK"></span>
														<span style="color: #9D9D9D;" translate="global.OPTIONAL"></span>
													</span>
													<div class="col-md-12">
														<input type="text" name="trackLink" class="form-control" ng-model="soldOrdersCtrl.trackLink">
													</div>
												</div>
											</div>
											<div class="col-md-12 mt-10" ng-if="!pack.editInfo" ng-cloak>
												<a class="red-text" type="file" ngf-select="soldOrdersCtrl.uploadInvoice($file, $invalidFiles,pack)" accept=".pdf" ngf-max-height="1000" ngf-max-size="1MB" href=""> 
													<span  class="red-text">
														<strong>
															<i class="ion-arrow-up-a"></i>
															<span ng-if="!pack.invoice_link" translate="settings.orders.UPLOAD_INVOICE" ng-cloak></span>
															<span ng-if="pack.invoice_link" translate="settings.orders.REPLACE_INVOICE" ng-cloak></span>
														</strong>
													</span>
												</a>
											</div>
											<div class="col-md-12">
													<a ng-if="pack.invoice_link" ng-href="{{pack.invoice_link}}" target="blank" ng-cloak>
														<span translate="settings.orders.SEE_INVOICE"></span>
													</a>
													<span ng-if="!pack.invoice_link" translate="settings.REQUIRED"></span>
											</div>
											<span class="small-order-text col-md-12 mt-40" translate="settings.orders.MOVE_TO_PAST_ORDERS"></span>
											<div class="col-md-12 mt-20">
												<button class="btn btn-medium btn-red" ng-click="soldOrdersCtrl.markPackShipped(order,pack)" ng-disabled="!soldOrdersCtrl.shippingForm.$valid || !pack.invoice_link">
													<span ng-if="pack.editInfo" translate="settings.orders.SAVE_CHANGES"></span>
													<span ng-if="!pack.editInfo" translate="settings.orders.PACKAGE_SHIPPED"></span>
												</button>
											</div>
										</form>
									</div>
									<div class="text-center mt-20" ng-if="pack.loading" ng-cloak>
										<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
									</div>
								</div>
								<div ng-switch-when="shipped">
									<div class="col-md-6  mt-20">
											<a ng-if="pack.invoice_link" ng-href="{{pack.invoice_link}}" target="blank" ng-cloak>
												<span translate="settings.orders.SEE_INVOICE"></span>
											</a>
									</div>
									<div class="col-md-6 text-right mt-20">
										<button class="btn btn-small btn-red mt-20" ng-click="soldOrdersCtrl.editShippingData(pack)">
											<span translate="settings.EDIT"></span>
										</button>
									</div>
									<div class="col-md-12 mt-20 text-right">
										<div class="col-md-6">
											<label class="col-md-12"><span translate="settings.orders.SHIPPING_COMPANY"></span></label>
											<span class="col-md-12" ng-bind="pack.shipping_info.company"></span>
										</div>
										<div class="col-md-6">
											<label class="col-md-12"><span translate="settings.orders.ETA"></span></label>
											<span class="col-md-12" ng-bind="pack.shipping_info.eta"></span>
										</div>
									</div>
									<div class="col-md-12 text-right">
										<div class="col-md-6">
											<label class="col-md-12"><span translate="settings.orders.TRACKING_NUMBER"></span></label>
											<span class="col-md-12" ng-bind="pack.shipping_info.tracking_number"></span>
										</div>
										<div class="col-md-6">
											<label class="col-md-12"><span translate="TRACKING_LINK"></span></label>
											<a class="col-md-12" ng-href="{{pack.shipping_info.tracking_link}}" target="blank">{{pack.shipping_info.tracking_link}}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</uib-accordion>
	</div>
</div>