<uib-accordion close-others="oneAtATime">
	<div uib-accordion-group ng-cloak ng-repeat="order in boughtOrdersCtrl.orders">
		<uib-accordion-heading>
			<span class="col-md-4 panel">
				<span class="col-md-12">INVOICE Nº</span>
				<span ng-bind="order.id"></span>
			</span>
			<span class="col-md-4 panel">
				<span class="col-md-12">TOTAL PRICE</span>
				<span ng-bind="order.totalPrice"></span>
			</span>
			<span class="col-md-4 panel">
				<span class="col-md-12">PURCHASE DATE</span>
				<span>{{order.order_date | date:'dd/MM/yy'}}</span>
			</span>
			<span class="col-md-4 panel">
				<span class="col-md-12">SHIPPED TO</span>
				<p ng-bind="order.shipping_address.name + ' ' + order.shipping_address.last_name"></p>
				<p ng-bind="order.shipping_address.address"></p>
				<p ng-bind="order.shipping_address.city + ', ' + order.shipping_address.country"></p>
			</span>
		</uib-accordion-heading>
		<div class="col-md-12" ng-repeat="pack in order.packs">
			<div class="col-md-2">
				<p>ORDER Nº</p>
				<p ng-bind="pack.short_id"></p>
			</div>
			<div class="col-md-1">
				<p>DEVISER</p>
				<P ng-bind="pack.deviser_id"></P>
			</div>
			<div class="col-md-1" ng-if="pack.state==='shipped'">
				<p>SHIPPING DATE</p>
				<p ng-bind="pack.shipping_date"></p>
			</div>
			<div class="col-md-1">
				<span>PRICE</span>
				<span ></span>
			</div>
			<div class="col-md-1">
				<span>SHIPPING TYPE</span>
				<span ></span>
			</div>
			<div class="col-md-1">
				<span>STATUS</span>
				<span></span>
			</div>
			<div class="col-md-2" ng-repeat="product in pack.products">
				<product-card product="product"></product-card>
			</div>
		</div>
	</div>
</uib-accordion>