<div class="col-md-12 store text-right">
	<div class="col-md-2 col-md-offset-9">
		<span style="color: #9D9D9D;" ng-cloak translate="TOTAL">Total: </span> <label> {{boughtOrdersCtrl.ordersTotalPrice | currency }}</label>
	</div>
</div>
<div class="col-md-10 col-md-offset-1  store" style="padding: 20px;">
	<div class="panel">
		<uib-accordion>
			<div uib-accordion-group ng-repeat="order in boughtOrdersCtrl.orders" ng-class="col-md-12" style="border:0 none !important;">
				<uib-accordion-heading class="row" style="font-weight: lighter;">
					<div class="row">
						<span class="col-md-2">
							<span class="col-md-12" style="color: #9D9D9D;" translate="INVOICE_NUMBER"></span>
							<span class="col-md-12" ng-bind="order.id"></span>
						</span>
						<span class="col-md-2">
							<span class="col-md-12" style="color: #9D9D9D;" translate="TOTAL_PRICE"></span>
							<span class="col-md-12" ng-cloak>{{ order.total| number:2}}</span>
						</span>
						<span class="col-md-2">
							<span class="col-md-12"  style="color: #9D9D9D;" translate="PURCHASE_DATE"></span>
							<span class="col-md-12">{{boughtOrdersCtrl.parseDate(order.order_date.sec*1000) | date:'dd/MM/yy'}}</span>
						</span>
						<span class="col-md-3">
							<span class="col-md-12" style="color: #9D9D9D;" translate="SHIPPED_TO"></span>
							<span class="col-md-12" ng-bind="order.shipping_address.name + ' ' + order.shipping_address.last_name"></span>
							<span class="col-md-12" ng-bind="order.shipping_address.address"></span>
							<span class="col-md-12" ng-bind="order.shipping_address.city + ', ' + order.shipping_address.country"></span>
						</span>
					</div>
				</uib-accordion-heading>
				<div class="card">
					<div ng-repeat="pack in order.packs" class="row mb-20" style="border-bottom: 1px solid #e9e9e9">
						<div class="col-md-12">
							<div class="row" style="padding: 10px;">
								<div class="col-md-2">
									<span class="col-md-12" style="color: #9D9D9D;" translate="ORDER_NUMBER"></span>
									<label class="col-md-12" ng-bind="pack.short_id"></label>
								</div>
								<div class="col-md-2">
									<span class="col-md-12" style="color: #9D9D9D;" translate="DEVISER"></span>
									<label  class="col-md-12" ng-bind="pack.deviser_info.name"></label>
								</div>
								<div class="col-md-2"  ng-if="pack.pack_state==='shipped'">
									<span class="col-md-12" style="color: #9D9D9D;" translate="SHIPPING_DATE"></span>
									<label class="col-md-12" ng-cloak>{{boughtOrdersCtrl.parseDate(pack.shipping_date.sec*1000) | date:'dd/MM/yy'}}</label>
								</div>
								<div class="col-md-1">
									<span class="col-md-12" style="color: #9D9D9D;" translate="PRICE"></span>
									<label  class="col-md-12" ng-cloak>{{ pack.pack_price| currency}}</label>
								</div>
								<div class="col-md-2">
									<span class="col-md-12" style="color: #9D9D9D;" translate="SHIPPING_TYPE"></span>
									<label ng-bind="pack.shipping_type"></label><label> - </label><label ng-cloak>{{ pack.shipping_price| currency}}</label>
								</div>
								<div class="col-md-1">
									<span class="col-md-12" style="color: #9D9D9D;" translate="STATUS"></span>
									<label class="col-md-12" ng-bind="pack.pack_state"></label>
								</div>
								<div class="col-md-2 text-right" ng-if="pack.pack_state==='shipped'">
									<span class="a red-text" ng-click="boughtOrdersCtrl.openTrackModal(pack)" translate="TRACK_PACKAGE"></span>
								</div>
							</div>
							<div class="row mt-10 mb-20">
								<div class="col-md-2" ng-repeat="product in pack.products">
									<product-card product="product" classes="{column1Class: 'col-md-6', column2Class: 'col-md-6'}"></product-card>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</uib-accordion>
	</div>
</div>