<div class="panel">
	<uib-accordion>
		<div uib-accordion-group ng-cloak ng-repeat="order in boughtOrdersCtrl.orders">
			<uib-accordion-heading>
				<span class="col-md-3 text-center">
					<span class="col-md-12">INVOICE Nº</span>
					<span ng-bind="order.id"></span>
				</span>
				<span class="col-md-3 text-center">
					<span class="col-md-12">TOTAL PRICE</span>
					<span ng-bind="order.totalPrice"></span>
				</span>
				<span class="col-md-3 text-center">
					<span class="col-md-12">PURCHASE DATE</span>
					<span>{{order.order_date | date:'dd/MM/yy'}}</span>
				</span>
				<span class="col-md-3 text-center">
					<span class="col-md-12">SHIPPED TO</span>
					<p ng-bind="order.shipping_address.name + ' ' + order.shipping_address.last_name"></p>
					<p ng-bind="order.shipping_address.address"></p>
					<p ng-bind="order.shipping_address.city + ', ' + order.shipping_address.country"></p>
				</span>
			</uib-accordion-heading>
			<div class="col-md-12" ng-repeat="pack in order.packs">
				<div class="col-md-2">
					<span class="col-md-12">ORDER Nº</span>
					<label class="col-md-12" ng-bind="pack.short_id"></label>
				</div>
				<div class="col-md-2">
					<span class="col-md-12">DEVISER</span>
					<label  class="col-md-12" ng-bind="pack.deviser_id"></label>
				</div>
				<div class="col-md-2" ng-if="pack.pack_state==='shipped'">
					<p class="col-md-12">SHIPPING DATE</p>
					<label class="col-md-12" ng-bind="pack.shipping_date"></label>
				</div>
				<div class="col-md-1">
					<span class="col-md-12">PRICE</span>
					<label  class="col-md-12" ng-bind="pack.pack_price"></label> <label ng-bind="pack.currency"></label>
				</div>
				<div class="col-md-2">
					<span class="col-md-12">SHIPPING TYPE</span>
					<label class="col-md-12" ng-bind="pack.shipping_type"></label>
				</div>
				<div class="col-md-1">
					<span class="col-md-12">STATUS</span>
					<label class="col-md-12" ng-bind="pack.pack_state"></label>
				</div>
				<div class="col-md-2 text-right" ng-if="pack.pack_state==='shipped'">
					<a ng-href="pack.tracking_link">Track package</a>
				</div>
				<div class="col-md-12">
					<div class="col-md-2" ng-repeat="product in pack.products">
						<product-card product="product" classes="{column1Class: 'col-md-6', column2Class: 'col-md-6'}"></product-card>
					</div>
				</div>
			</div>
		</div>
	</uib-accordion>
</div>