<div class="filter-wrapper">
    <form name="discoverFiltersCtrl.form">
		<div ng-if="discoverFiltersCtrl.categories.length > 0" class="filter-block">
			<span class="filter-title" translate="discover.FILTER_BY_THEME"></span>
			<span class="filter-clear" translate="discover.CLEAR_ALL" ng-click="discoverFiltersCtrl.emitClearFilters('categories')"></span>
            <div class="filter-checkboxes-wrapper extended" ng-class="{'expanded': discoverFiltersCtrl.expandedFilters.indexOf('categories') > -1}">
                <div class="checkbox checkbox-red one-col" ng-repeat="category in discoverFiltersCtrl.categories">
                    <input
                            ng-attr-id="{{'checkbox'+ ($index+10)}}"
                            type="checkbox"
                            name="categories"
                            ng-model="discoverFiltersCtrl.filters.categories[category.id]"
                            ng-disabled="discoverFiltersCtrl.searching"
                            ng-change="discoverFiltersCtrl.emitSearch(false)"
                    >
                    <label ng-attr-for="{{'checkbox'+ ($index+10)}}">
                        <span ng-bind="category.name"></span>
                    </label>
                </div>
                <div class="more-btn"
                     ng-if="discoverFiltersCtrl.categories.length > discoverFiltersCtrl.show_categories && discoverFiltersCtrl.expandedFilters.indexOf('categories') === -1"
                     ng-click="discoverFiltersCtrl.expandFilter('categories', true)"
                     ng-cloak
                     translate="discover.SEE_MORE"
                ></div>
                <div class="more-btn"
                     ng-if="discoverFiltersCtrl.categories.length > discoverFiltersCtrl.show_categories && discoverFiltersCtrl.expandedFilters.indexOf('categories') > -1"
                     ng-click="discoverFiltersCtrl.expandFilter('categories', false)"
                     ng-cloak
                     translate="discover.HIDE_MORE"
                ></div>
            </div>
        </div>
        <div ng-if="discoverFiltersCtrl.countries.length > 0" class="filter-block">
			<span class="filter-title" translate="discover.FILTER_BY_COUNTRY"></span>
			<span class="filter-clear" translate="discover.CLEAR_ALL" ng-click="discoverFiltersCtrl.emitClearFilters('countries')"></span>
            <div class="filter-checkboxes-wrapper extended" ng-class="{'expanded': discoverFiltersCtrl.expandedFilters.indexOf('countries') > -1}">
                <div class="checkbox checkbox-red one-col" ng-repeat="country in discoverFiltersCtrl.countries | orderBy: 'country_name'">
                    <input
                        ng-attr-id="{{'checkbox'+ ($index+10+discoverFiltersCtrl.categories.length)}}"
                        type="checkbox"
                        name="countries"
                        ng-model="discoverFiltersCtrl.filters.countries[country.id]"
                        class="ng-class:{'checked': discoverFiltersCtrl.filters.countries[country.id]}"
                        ng-disabled="discoverFiltersCtrl.searching"
                        ng-change="discoverFiltersCtrl.emitSearch(false)"
                    >
                    <label ng-attr-for="{{'checkbox'+ ($index+10+discoverFiltersCtrl.categories.length)}}">
                        <span ng-bind="country.country_name"></span>
                    </label>
                </div>
                <div class="more-btn"
                     ng-if="discoverFiltersCtrl.countries.length > discoverFiltersCtrl.show_countries && discoverFiltersCtrl.expandedFilters.indexOf('countries') === -1"
                     ng-click="discoverFiltersCtrl.expandFilter('countries', true)"
                     ng-cloak
                     translate="discover.SEE_MORE"
                ></div>
                <div class="more-btn"
                     ng-if="discoverFiltersCtrl.categories.length > discoverFiltersCtrl.show_countries && discoverFiltersCtrl.expandedFilters.indexOf('countries') > -1"
                     ng-click="discoverFiltersCtrl.expandFilter('countries', false)"
                     ng-cloak
                     translate="discover.HIDE_MORE"
                ></div>
            </div>
			<!--<span class="more-btn" ng-click="discoverFiltersCtrl.seeMore('countries')" ng-if="discoverFiltersCtrl.show_countries < discoverFiltersCtrl.countries.meta.total_count" ng-cloak translate="discover.SEE_MORE"></span>-->
		</div>
	</form>
</div>