<div class="row no-mar payment-methods-wrapper">
	<span class="shopping-cart-section-header">Personal info & billing address</span>
	<div class="col-md-10">
		<div class="col-md-5">
			<div>
				<span class="label-personal">Name</span> <span class="bold" ng-bind="paymentMethodsCtrl.cart.client_info.first_name"></span>&nbsp;<span class="bold" ng-bind="paymentMethodsCtrl.cart.client_info.last_name"></span>
			</div>
			<div>
				<span class="label-personal">Mail</span> <span ng-bind="paymentMethodsCtrl.cart.client_info.email"></span>
			</div>
			<div>
				<span class="label-personal mb-100">Phone</span> <span ng-bind="paymentMethodsCtrl.cart.client_info.phone1.prefix"></span><span ng-bind="paymentMethodsCtrl.cart.client_info.phone1.number"></span>
			</div>
		</div>
		<div class="col-md-7">
			<div class="row no-mar">
				<div class="col-md-5">
				<p><span class="label-personal">Billing information</span><p>
				</div>
				<div class="col-md-7">
					<span ng-bind="paymentMethodsCtrl.cart.client_info.address"></span>
					<span ng-bind="paymentMethodsCtrl.cart.client_info.city"></span>&nbsp;<span ng-bind="paymentMethodsCtrl.cart.client_info.zipcode"></span>
					<span class="mb-20" ng-bind="paymentMethodsCtrl.cart.client_info.country"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<a class="link-red pull-right" href="#" ng-click="paymentMethodsCtrl.editPersonalInfo()">Edit</a>
	</div>
</div>
<div class="row no-mar payment-methods-wrapper">
	<span class="shopping-cart-section-header">Payment methods</span>
		<!--<form name="paymentMethodsCtrl.paymentForm" class="form-horizontal" >-->
			<!--<div class="col-md-6">-->
				<!--<div class="form-group">-->
					<!--<label for="cardholder" class="col-md-4">Cardholder name</label>-->
					<!--<div class="col-md-6">-->
						<!--<input type="text" name="cardholder" ng-model="paymentMethodsCtrl.payment.cardholder" class="form-control ng-class:{'error-input': paymentMethodsCtrl.has_error(paymentMethodsCtrl.paymentForm, paymentMethodsCtrl.paymentForm.cardholder)}" required>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="form-group">-->
					<!--<label for="card_number" class="col-md-4">Card number</label>-->
					<!--<div class="col-md-6">-->
						<!--<input type="text" name="card_number" ng-model="paymentMethodsCtrl.payment.card_number" class="form-control ng-class:{'error-input': paymentMethodsCtrl.has_error(paymentMethodsCtrl.paymentForm, paymentMethodsCtrl.paymentForm.card_number)}" required>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="form-group">-->
					<!--<label for="expiration_date" class="col-md-4">Expiration date</label>-->
					<!--<div class="col-md-4">-->
						<!--<ol class="nya-bs-select col-md-12" ng-model="paymentMethodsCtrl.payment.month" size="5" title="Month">-->
							<!--<li nya-bs-option="month in paymentMethodsCtrl.months" data-value="month.month">-->
								<!--<a href="#"><span ng-bind="month.name"></span></a>-->
							<!--</li>-->
						<!--</ol>-->
					<!--</div>-->
					<!--<div class="col-md-4">-->
						<!--<ol class="nya-bs-select col-md-12" ng-model="paymentMethodsCtrl.payment.year" title="Year">-->
							<!--<li nya-bs-option="year in paymentMethodsCtrl.years">-->
								<!--<a href="#"><span ng-bind="year"></span></a>-->
							<!--</li>-->
						<!--</ol>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="form-group">-->
					<!--<label for="cvv" class="col-md-4">CVV</label>-->
					<!--<div class="col-md-3">-->
						<!--<input type="text" name="cvv" ng-model="paymentMethodsCtrl.payment.cvv" class="form-control ng-class:{'error-input': paymentMethodsCtrl.has_error(paymentMethodsCtrl.paymentForm, paymentMethodsCtrl.paymentForm.cvv)}" required ng-pattern="paymentMethodsCtrl.cvvPattern">-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="col-md-12 text-center">-->
				<!--<button class="btn btn-default btn-green" ng-click="paymentMethodsCtrl.stripejs()">Checkout</button>-->
			<!--</div>-->
		<!--</form>-->

		<div class="col-md-12 text-center">
			<p class="text-center mt-20 serif">Securely pay with any type of credit or debit card.</p>
			<!--<button class="btn btn-default btn-green" ng-click="paymentMethodsCtrl.stripejs()">Pay with Stripe.js</button><br />-->
			<button class="btn btn-default btn-green mt-20" ng-click="paymentMethodsCtrl.checkout()">Pay with card</button><br />
			<div class="text-center purple-text" ng-if="paymentMethodsCtrl.errors">
				<p>There was an issue with the transaction. Your card has not been charged.</p>
				<p>Please try again, and if the issue persists contact us.</p>
			</div>
			<!--<a class="btn btn-default btn-green" ng-href="/stripe/checkout-test/{{paymentMethodsCtrl.cart.id}}">Pay with Stripe (new window)</a><br />-->
		</div>

</div>