<div class="row">
	<span class="shopping-cart-section-header">Personal info & billing address</span>
	<div class="col-md-10">
		<div class="col-md-6">
			<p>Name <span ng-bind="paymentMethodsCtrl.cart.client_info.first_name"></span>&nbsp;<span ng-bind="paymentMethodsCtrl.cart.client_info.last_name"></span></p>
			<p>Mail <span ng-bind="paymentMethodsCtrl.cart.client_info.email"></span></p>
			<p>Phone <span ng-bind="paymentMethodsCtrl.cart.client_info.phone1.prefix"></span><span ng-bind="paymentMethodsCtrl.cart.client_info.phone1.number"></span></p>
		</div>
		<div class="col-md-6">
			<p>Billing information <span ng-bind="paymentMethodsCtrl.cart.client_info.address"></span></p>
			<p><span ng-bind="paymentMethodsCtrl.cart.client_info.city"></span>&nbsp;<span ng-bind="paymentMethodsCtrl.cart.client_info.zipcode"></span></p>
			<p><span ng-bind="paymentMethodsCtrl.cart.client_info.country"></span></p>
		</div>
	</div>
	<div class="col-md-2">
		<a href="#" ng-click="paymentMethodsCtrl.editPersonalInfo()">Edit</a>
	</div>
</div>
<div class="row">
	<span class="shopping-cart-section-header">Payment methods</span>
		<form name="paymentMethodsCtrl.paymentForm" class="form-horizontal">
			<div class="col-md-6">
				<div class="form-group">
					<label for="cardholder" class="col-md-4">Cardholder name</label>
					<div class="col-md-6">
						<input type="text" name="cardholder" ng-model="paymentMethodsCtrl.payment.cardholder" class="form-control ng-class:{'error-input': paymentMethodsCtrl.has_error(paymentMethodsCtrl.paymentForm, paymentMethodsCtrl.paymentForm.cardholder)}" required>
					</div>
				</div>
				<div class="form-group">
					<label for="card_number" class="col-md-4">Card number</label>
					<div class="col-md-6">
						<input type="text" name="card_number" ng-model="paymentMethodsCtrl.payment.card_number" class="form-control ng-class:{'error-input': paymentMethodsCtrl.has_error(paymentMethodsCtrl.paymentForm, paymentMethodsCtrl.paymentForm.card_number)}" required>
					</div>
				</div>
				<div class="form-group">
					<label for="expiration_date" class="col-md-4">Expiration date</label>
					<div class="col-md-4">
						<ol class="nya-bs-select col-md-12" ng-model="paymentMethodsCtrl.payment.month" size="5" title="Month">
							<li nya-bs-option="month in paymentMethodsCtrl.months" data-value="month.month">
								<a href="#"><span ng-bind="month.name"></span></a>
							</li>
						</ol>
					</div>
					<div class="col-md-4">
						<ol class="nya-bs-select col-md-12" ng-model="paymentMethodsCtrl.payment.year" title="Year">
							<li nya-bs-option="year in paymentMethodsCtrl.years">
								<a href="#"><span ng-bind="year"></span></a>
							</li>
						</ol>
					</div>
				</div>
				<div class="form-group">
					<label for="cvv" class="col-md-4">CVV</label>
					<div class="col-md-3">
						<input type="text" name="cvv" ng-model="paymentMethodsCtrl.payment.cvv" class="form-control ng-class:{'error-input': paymentMethodsCtrl.has_error(paymentMethodsCtrl.paymentForm, paymentMethodsCtrl.paymentForm.cvv)}" required ng-pattern="paymentMethodsCtrl.cvvPattern">
					</div>
				</div>
			</div>
			<div class="col-md-12 text-center">
				<button class="btn btn-default btn-green">Checkout</button>
			</div>
		</form>
</div>