<div class="row">
	<div class="col-md-4">
		<p>Please create the weight ranges for your products. The prices will be set depending on the weights. You can edit, delete and create weight ranges at any time.</p>
	</div>
	<div class="col-md-8 text-center">
		<form name="shippingWeightsPricesCtrl.pricesForm">
			<div ng-repeat="price in shippingWeightsPricesCtrl.setting.prices">
				<div class="row">
					<div class="col-md-1">
						<p>Range {{$index+1}}</p>
					</div>
					<div class="col-md-1">
						<p>From</p>
					</div>
					<div class="col-md-2">
						<input type="number" ng-model="price.min_weight" class="form-control ng-class:{'error-input': shippingWeightsPricesCtrl.has_error(shippingWeightsPricesCtrl.pricesForm, shippingWeightsPricesCtrl.pricesForm['min_weight_'+$index])}" name="{{'min_weight_'+$index}}" ng-min="shippingWeightsPricesCtrl.setting.prices[$index-1].max_weight || 0" required min="0">
					</div>
					<div class="col-md-1">
						<p>to</p>
					</div>
					<div class="col-md-2">
						<input type="number" ng-model="price.max_weight" class="form-control ng-class:{'error-input': shippingWeightsPricesCtrl.has_error(shippingWeightsPricesCtrl.pricesForm, shippingWeightsPricesCtrl.pricesForm['max_weight_'+$index])}" name="{{'max_weight_'+$index}}" ng-disabled="$last && price.max_weight === null && shippingWeightsPricesCtrl.unlimited_weight" ng-min="price.min_weight" ng-required="!shippingWeightsPricesCtrl.unlimited_weight || (shippingWeightsPricesCtrl.unlimited_weight && !$last && shippingWeightsPricesCtrl.setting.prices.length > 1)" min="0">
						<span ng-bind="shippingWeightsPricesCtrl.person.settings.weight_measure"></span>
					</div>
					<div class="col-md-1">
						<p>Standard shipping</p>
					</div>
					<div class="col-md-2">
						<input type="number" ng-model="price.price" class="form-control ng-class:{'error-input': shippingWeightsPricesCtrl.has_error(shippingWeightsPricesCtrl.pricesForm, shippingWeightsPricesCtrl.pricesForm['price_'+$index])}" name="{{'price_'+$index}}" required min="0">
						<span ng-bind="shippingWeightsPricesCtrl.currency"></span>
					</div>
					<div ng-if="shippingWeightsPricesCtrl.setting.shipping_express_time" ng-cloak>
						<div class="col-md-1">
							<p>Express shipping</p>
						</div>
						<div class="col-md-2">
							<input type="number" ng-model="price.price_express" class="form-control ng-class:{'error-input': shippingWeightsPricesCtrl.has_error(shippingWeightsPricesCtrl.pricesForm, shippingWeightsPricesCtrl.pricesForm['price_express_'+$index])}" name="{{'price_express_'+$index}}" ng-required="setting.shipping_express_time" min="0">
							<span ng-bind="shippingWeightsPricesCtrl.currency"></span>
						</div>
					</div>
					<form-errors condition="shippingWeightsPricesCtrl.has_error(shippingWeightsPricesCtrl.pricesForm, shippingWeightsPricesCtrl.pricesForm['min_weight_'+$index])" field="shippingWeightsPricesCtrl.pricesForm['min_weight_'+$index]"></form-errors>
					<form-errors condition="shippingWeightsPricesCtrl.has_error(shippingWeightsPricesCtrl.pricesForm, shippingWeightsPricesCtrl.pricesForm['max_weight_'+$index])" field="shippingWeightsPricesCtrl.pricesForm['max_weight_'+$index]"></form-errors>
				</div>
				<div class="row" ng-if="$last">
					<div class="form-group">
						<div class="checkbox checkbox-circle">
							<input id="unlimited_{{$index}}" type="checkbox" ng-model="shippingWeightsPricesCtrl.unlimited_weight" ng-change="shippingWeightsPricesCtrl.setUnlimitedWeight()">
							<label for="unlimited_{{$index}}">Unlimited weight</label>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div><a href="#" ng-click="shippingWeightsPricesCtrl.addPrice()">+ Add Range</a></div>
	</div>
</div>