<div class="row no-mar">
	<div class="col-md-10 no-pad">
<p class="serif" translate="ADD_ANY_OBSERVATIONS"></p>
	</div>
	<div class="edit-faq-wrapper">
		<div class="edit-faq-panel">
			<div class="faq-language-menu">
				<ol class="nya-bs-select form-control" ng-model="shippingObservationsCtrl.languageSelected" ng-change="shippingObservationsCtrl.parseText(shippingObservationsCtrl.setting.observations)">
					<li nya-bs-option="language in shippingObservationsCtrl.languages" data-value="language.code" deep-watch="true" ng-init="shippingObservationsCtrl.languageSelected='en-US'" class="ng-class:{'lang-selected': shippingObservationsCtrl.isLanguageOk(language.code)}">
						<a href="#">
							<span ng-bind="language.name"></span>
							<span class="glyphicon glyphicon-ok ok-white-icon pull-right" ng-if="shippingObservationsCtrl.isLanguageOk(language.code)"></span>
						</a>
					</li>
				</ol>
				<div class="faq-row">
					<div class="col-md-12">
						<div class="faq-edit-answer" text-angular ng-model="shippingObservationsCtrl.setting.observations[shippingObservationsCtrl.languageSelected]" ng-cloak ta-toolbar="[]" placeholder="DESCRIPTION" ta-paste="shippingObservationsCtrl.stripHTMLTags($html)"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>