.header {
	position: absolute;
	z-index: 100;
	width: 100%;
}

.header .navbar-inverse{
	border: none;
	min-height: inherit;
}

.header .navbar{
	margin-bottom: 0;
	background-color: transparent;
}

.menutop {
	height: 32px;
	list-style: none;
}

.item-menutop {
	height: 100%;
}

.item-menutop.border {
	border-right: 1px solid rgba(255,255,255,0.5);
}

.item-menutop .hdr_btn {
	height: 100%;
	background-color: rgba(217, 217, 217, 0.7);
	padding-top: 2px;
}

.item-menutop .hdr_btn:hover {
	color: #4a4a4a;
	background-color: rgba(239, 239, 239, 0.9);
}

.search_box {
	height: 100%;
}

.search_box > input {
	outline: none;
	border: none;
	padding-left: 10px;
}

.search_box > input::-webkit-input-placeholder {
	color: #bfbfbf;
}
.search_box > input::-moz-placeholder {
	color: #bfbfbf;
}

.search_box > select {
	outline: none;
	border: none;
	height: 100%;
}

.menutop .helper_btns {
	padding: 0 7px 4px 7px;
}

.menutop .helper_btns.glyphicon-shopping-cart {
	padding: 0 15px 4px 15px;
}

.my_account {
	padding: 0 15px;
	height: 100%;
}

.my_account:hover {
	background-color: white;
	color: #c91c39;
}

.my_account > .glyphicon {
	top: 0px;
	margin-right: 7px;
}

.my_account > .access {
	padding-top: 2px;
	letter-spacing: 0.3px;
}

.my_account_box {
	display: none;
	top: 100%;
	right: 0;
	background-color: white;
	min-width: 290px;
	padding: 15px;
	white-space: nowrap;
}

.my_account:hover .my_account_box {
	display: block;
}

.my_account .my_account_box .btn {
	padding: 9px 0 5px 0;
}

.my_account .my_account_box .profile_wrapper {
	border-bottom: solid 1px #f0f0f0;
}

.my_account .my_account_box .forgot_password_label:hover,
.my_account .my_account_box .view_profile_label:hover,
.my_account .my_account_box .orders_label:hover,
.my_account .my_account_box .settings_label:hover,
.my_account .my_account_box .logout_label:hover {
	color: #c91c39;
	text-decoration: underline;
}
